# Python Basics

This notebook provides you with some of the basics of the Python language.

[Introduction](#introduction)  
[Syntax](#syntax)  
[Comments](#comments)  
&emsp;[Single Line Comments](#comments_single)  
&emsp;[Multiline Comments](#comments_multi)  
[Variables](#variables)  
&emsp;[Rules](#variables-rules)  
[Data Types](#dtypes)   
&emsp;[Integer (Int)](#dtypes-int)  
&emsp;[Float](#dtypes-float)  
&emsp;[Booleans](#dtypes-bool)  
&emsp;&emsp;[Comparison Operators](#dtypes-bool-compare)  
&emsp;&emsp;&emsp;[Equal To (==)](#dtypes-bool-compare-equalto)    
&emsp;&emsp;&emsp;[Not Equal To (!=)](#dtypes-bool-compare-notequalto)  
&emsp;&emsp;&emsp;[Greater Than (>) and Less Than (<)](#dtypes-bool-compare-greaterlessthan)  
&emsp;&emsp;&emsp;[Greater Than or Equal To (>=) and Less Than or Equal To (<=)](#dtypes-bool-compare-greaterLessThanEqual)  
&emsp;[Strings](#dtypes-strings)  
&emsp;&emsp;[Escape Characters](#dtypes-strings-escChar)  
&emsp;&emsp;[Raw string literals](#dtypes-strings-rawStrLit)  
&emsp;&emsp;[String Methods](#dtypes-strings-strMeth)  
&emsp;&emsp;[String Slicing](#dtypes-strings-strSlice)  
&emsp;&emsp;[Miscellaneous String Functions](#dtypes-strings-misc)   
[Dictionaries](#dictionary)  
&emsp;[Accessing dictionary items](#dictionary-access)  
&emsp;&emsp;[Accessing all keys or all values](#dictionary-access-all)  
&emsp;&emsp;[Testing if key exists](#dictionary-access-test)  
&emsp;&emsp;[Accessing values using the get() method](#dictionary-access-get)  
&emsp;&emsp;[Updating Dictionary Values](#dictionary-update)  
&emsp;&emsp;[Adding new dictionary items](#dictionary-add)  
&emsp;&emsp;[Declaring Empty Dictionaries](#dictionary-empty)  
&emsp;&emsp;[Store Other Data Types](#dictionary-otherType)  
&emsp;[Nested Dictionary](#dictionary-nested)  
&emsp;&emsp;[Nested Lists in Dictionaries](#dictionary-nested-lists)  
[Looping](#looping)  
&emsp;[for Loops](#looping-forLoop)  
&emsp;&emsp;[Looping through lists](#looping-lists)  
&emsp;&emsp;[Loops with mutliple variables](#looping-multiVars)  
&emsp;&emsp;[Looping through Dictionaries](#looping-dict)  
&emsp;&emsp;[Looping through keys](#looping-dictKeys)  
&emsp;&emsp;[Looping through values](#looping-dictVals)  
&emsp;&emsp;[Looping through both keys and values](#looping-dictKeysVals)  
&emsp;[while Loops](#looping-while)

## Introduction <a id="introduction"></a>

Python is a high-level, general-purpose programming language. It was created by Guido van Rossum and first released in 1991.  

Python's design philosophy emphasizes code readability with its use of significant whitespace and its object-oriented approach aim to help programmers write clear, logical code.

It is an interpreted language, meaning that code is read and executed line by line instead as opposed to compiling it.

Its high-level built in data structures and a number of extensive libraries.

It is a dynamically typed language, which is a language associated with run-time values, meaning you can write code a little quicker because you do not have to specify variable types every time they are declared.

As of late 2019, Python has become one of the most widley used programming languages and its popularity continues to rise.

## Syntax <a id="syntax"></a>

Unlike most programming languages, statements and code blocks are delimited by carriage returns (new lines) and indentation rather than curly braces, "begin/end" keywords or semicolons.

For example, in C++, a print statement, a variable assignment and an if...else statement might look like:

```C++
cout << "Hello"; 
bool i = false;
if (i == true) 
{ 
    cout << "Yes"; 
}
else
{ 
    cout << "No"; 
}
```

Since statements are delimited by semicolons and the blocks in the if...else statements by curly brackets, the code can be rearranged to a single line as:

```C++
bool i = false; cout << "Hello"; if (i == true) { cout << "Yes"; } else { cout << "No"; }
```

However, a similar program in Python would look like:

```python 
print("Hello")
i = True
if i == True:
    print("Yes")
else:
    print("No")
```

With Python, the syntax is stricter.

The first print statement and the variable declaration are delimited by a carriage return. They need to be on separate lines for the program to be parsed correctly.

The if and else statements also have to be on separate lines and anything in their repective code blocks must be indented with four spaces.

Consequently, nested statements need to be indented further:

```python 
print("Hello")
i = True
j = False
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")
```

However, code blocks with single statements can be written inline:

```python 
print("Hello")
i = True
j = False
if i == True:
    if j == True: print("Yes")
    else: print("No")
else: print("No")
```

The nuances of Python's syntax will be revealed as different concepts are explained.

More on if...else statements is explained in ##ANCHOR.

In [28]:
print("Hello")
i = True
if i == True:
    print("Yes")
else:
    print("No")

Hello
Yes

In [29]:
print("Hello")
i = True
if i == True: print("Yes")
else: print("No")

Hello
Yes

In [30]:
print("Hello")
i = True
j = False
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")

Hello
No

In [31]:
"""Will Not Run"""
print("Hello")
i = True j = False #Invalid Syntax
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")

SyntaxError: invalid syntax (1298245331.py, line 3)

## Comments <a id="comments"></a>

Comments are used to document code, add notes to the code, etc.

Any text within or after a comment tag is ignored when ran.

There are two ways to comment in Python:

### Single line comments <a id="comments_single"></a>
Use the "#" symbol to indicate a single line comment. Anything after the "#" on the same line will be rendered as a comment

In [10]:
# Single 
print("Hello") #line
# Comment

Hello

### Multiline Comments <a id="comments_multi"></a>
Using """ or 3 quotation marks next to eachother will begin and end multiline comments.

Anything in between two sets of these 3 quotation marks will be treated as a comment, regardless of how many lines they span.

In [4]:
"""

Anything in between these sets of 3 quotation marks

will be commented out

print("Hello")

r = 5 + 7

"""

'\n\nAnything in between these sets of 3 quotation marks\n\nwill be commented out\n\nprint("Hello")\n\nr = 5 + 7\n\n'

## Variables <a id="variables"></a>
Variables are used as a means to store values for making an easy reference to it.

In [25]:
x = 1
y = 2
print(x, y)

1 2

Variables are treated like the data type they contain

In [26]:
z1 = 1 + 2
z2 = x + y
print(1 + 2, z1, z2)

3 3 3

### Rules <a id="variables-rules"></a>
* Variables can only contain alpha-numeric characters and underscores (A-Z, a-z, 0-9, and _ )
* Variables must start with a letter (A-Z, a-z) or the underscore character (_)
* Variables cannot start with a number (0-9)
* Variable names are case-sensitive (e.g. XYZ, xyz, XyZ are three different variables)

In [27]:
a = 1 #Valid
Abc = 1 #Valid
_VarVal = 1 #Valid
1st = 1 #Invalid (will throw an error)
@!^ = 1 #Invalid

SyntaxError: invalid decimal literal (3457066479.py, line 4)

## Data Types <a id="dtypes"></a>

Like all programming languages, Python offers several built-in data types

### Integer (Int) <a id="dtypes-int"></a>

An integer, or commonly written as int, is a whole number that can be positive or negative.

In [2]:
# The integer 123
123

123

In [4]:
# The negative integer -4545
-4545

-4545

In [5]:
# Assign the large integer 387582278533 to the variable x
x = 387582278533
x

387582278533

### Float <a id="dtypes-float"></a>

A float, or floating point number, is a positive or negative number with one or more decimals.

Even if a number contains a trailing zero it is still considered a float.

In [6]:
# The float 62.15
62.15

62.15

In [7]:
# The float -52.4382752842
-52.4382752842

-52.4382752842

In [9]:
# The float 342188.0
# Despite the number having a 0 in the decimal place, it is still a float
342188.0

342188.0

In [19]:
# The float 53.000000
# The number of trailing zeros does not make a difference
53.000000

53.0

In [12]:
# Assign the float 535.11 to variable y
y = 535.11
y

535.11

In [13]:
# Assign the float 114.2 to variable z
z = 114.2
z

114.2

In [14]:
# Multiply two floats y and z
y * z

61109.562000000005

It is also possible to perform arithmetic operations on integers and floats.

The result will always be a float.

In [21]:
# Integer 443 minus float 1.363
443 - 1.363

441.637

You can convert an integer to a float by adding or subtracting 0.0 from an integer or multiplying or dividing 1.0 from an integer.

In [24]:
# Integer 299 plus float 0.0 results in float 299.0 
299 + 0.0

299.0

In [25]:
# Integer 100 multiplied by float 1.0 results in float 100.0
100 * 1.0

100.0

You can also represent floats using scientific notation.

Scientific notation is a method of representing very large or very small numbers in a simple shorthand format.

It is formated as \<num1\>e\<num2\>, which is shorthand for num1 x 10^num2

For example, 2.3e4 = 2.3 x 10^4 = 23000

790e-3 = 790 x 10^-3 = .790

In [1]:
# Same result as 35 * 10^5
35e5

3500000.0

In [2]:
# Same result as 43.9 * 10**-4
43.9e-4

0.00439

### Booleans <a id="dtypes-bool"></a>

A Boolean (or bool) data type is a value that can only be represented as either one of two possible states. In programming languages, it is typically represented as true or false, and in some circumstances, it can be represented in binary as 1 or 0.

Booleans are mainly used in logical programming operations. This includes control statements, such as "if-else" sattements and loops.

In Python, the possible Boolean values are True and False.

In [1]:
True

True

In [2]:
False

False

Both values begin with a capital T and F respectively and are not surrounded by quotes. If they they were, they would be interpreted as a string

In [3]:
# seen as a string, not a boolean
"True"

'True'

#### Comparison Operators <a id="dtypes-bool-compare"></a>

Comparison operators are used to convey logic. When a comparison operator is used in a statement of code, a boolean value is returned.

When a comparison operator is satisfied, True is returned. If not false is returned.

Any data type can be used in a comparison. Typically, values of the same data type are compared, but different data types can be compared to some extent.

The comparison operators used in Python are typical operators used in other programming languages.

##### Equal To (==) <a id="dtypes-bool-compare-equalto"></a>

The == operator compares two operators to see if they are equivalent.

If they are equivalent, True is returned. If not, False is returned.

In [32]:
# Comparing bools True and True. Returns True.

True == True

True

In [33]:
# Comparing bools False and True. Returns False.

False == True

False

In [34]:
# Comparing numbers 10 and 34. Returns False

10 == 34

False

In [35]:
# Comparing strings 'Hello' and "Hello". Returns true.

'Hello' == "Hello"

True

Comparisons can also be made with variables. As you will see, this is common when using control statements.

In [36]:
# Assign 25 to variable x
x = 25

# Check if x is equal to 25. Returns True.
x == 25

True

Comparisons can be made with two variables as well.

In [37]:
# Assign 104 to variable y
y = 104

# Check if x (25) is equal to y (104). Returns False.
x == y

False

##### Not Equal To (!=) <a id="dtypes-bool-compare-notequalto"></a>

The != operator has the opposite functionality of the == operator.

Rather than checking if two values are equivalent, it checks to see if they are not equivalent.

If they are not equivalent, True is returned. If they are, False is returned.

In [2]:
# Checks if True does not equal False. Returns True

True != False

True

In [3]:
# Checks if True does not equal True. Returns False.

True != True

False

In [1]:
# Checks if the string "Hello" is not equal to "Goodbye". Returns True.

"Hello" != "Goodbye"

True

In [4]:
# Checks if 43 is not equal to 43. Returns False.

43 != 43

False

In [5]:
# Assign 200 to variable x
x = 200

# Test if x is not equal to 201. Returns True.
x != 201

True

In [6]:
# Assign 200 to variable y
y = 200

# Test if x is not equal y. Returns False.
x != y

False

##### Greater Than (>) and Less Than (<) <a id="dtypes-bool-compare-greaterlessthan"></a>

The > and < operators compare two values and tests if one is a greater or lesser value than the other.

The > operator tests if the value on the left is a greater value than the value on the right. If it is, True is returned.

Similarly, the < operator tests if the value on the left is less than the value on the right. If it is, True is retruned.

These operators are mainly used to compare integers. However, other data types can be compared as well.

In [2]:
# Check if 31 is greater than 14. Returns True.

31 > 14

True

In [3]:
# Check if 31 is less than 14. Returns False.

31 < 14

False

In [4]:
# Check if 123 is greater than 123. Returns False.

123 > 123

False

In [5]:
# Check if float 12.425 is less than 12.426. Returns True.

12.425 < 12.426

True

In [6]:
# Check if string "Hello" is greater than "hello". Returns False.

"Hello" > "hello"

False

In [8]:
# Check if string "Hello" is less than "hello". Returns True.

"Hello" < "hello"

True

In [6]:
# Assigning 98 to variable x
x = 99

In [7]:
# Check if variable x is less than 100. Returns True.
x < 100

True

In [8]:
# Add 1 to x
x += 1
x

100

In [11]:
# Check if variable x is now less than 100. Returns False.
x < 100

False

In some cases, values of different data types can be compared. Otherwise, comparing values of two different data types will result in an error.

In [10]:
# Check if float 35.245 is greater than integer 23. Returns True.

35.245 > 23

True

In [11]:
# Check if string "String" is less than integer 123. Returns an error.

"String" < 123

TypeError: '<' not supported between instances of 'str' and 'int'

##### Greater Than or Equal To (>=) and Less Than or Equal To (<=) <a id="dtypes-bool-compare-greaterlessthanequal"></a>

The >= and <= operators are similar to the > and < operators in that they compare two values and tests if one is a greater or lesser value than the other.

However, unlike the > and < operators,  if the left and right value of the >= and <= operators are equal, True is returned.

In [1]:
# Check if 5 is greater than or equal to 9. Returns False.

5 >= 9

False

In [2]:
# Check if 201 is less than or equal to 601. Returns True.

201 <= 601

True

In [3]:
# Check if 124 is less than or equal to 124. Returns True.

124 <= 124

True

In [5]:
# Check if string "Hello" is greater than or equal to string "Hello". Returns True.

"Hello" >= "Hello"

True

In [6]:
# Assign 1.5 to variable x
x = 1.5

# Test if x is less than or equal to 10. Returns True.
x <= 10

True

In [7]:
# Add 10 to variable x
x += 10
x

11.5

In [8]:
# Test if x is less than or equal to 10 again. Returns False.
x <= 10

False

### Strings <a id="dtypes-strings"></a>

A string is a sequence of characters treated as a single piece of data.

Strings are typically used to represent text and any character within a string (letter, number, emoji, etc.) is treated the same way.

Strings can be initiated with characters between two single quotes

In [3]:
str = 'This is a string'
str

'This is a string'

Or with characters between two double quotes

In [4]:
str = "This is a 2nd string"
str

'This is a 2nd string'

Also, not to be confused with comments, multi-line strings can be created when characters are between two sets of triple quotes

In [5]:
multi_line_string = """first line.
second line
third line"""
multi_line_string

'first line.\nsecond line\nthird line'

#### Escape Characters  <a id="dtypes-strings-escchar"></a>

Escape characters are a sequence of characters that invokes an alternative interpretation on the following characters in a character sequence.

This allows for special characters characters and that are normally illegal in a string, to be interpreted as intended.

Backslashes (\\) are used to begin encoding special characters. 

Despite being a combination of two characters, an escape character counts as one character.

Some common escape characters include:

\\\\ - Backslash

\\\' - Single quote

\\\" - Double quote

\\n - new line

\\r - carriage return

In [8]:
# A string with the tab character counts as a single character
tab = "Hello\tWorld"
print(tab)

Hello	World

In [10]:
# A string with multiple escape characters
multi = "This is the first line\nThis is the second with some \'Single Quotes\'\nand here is the third line with \"Double Quotes\""
print(multi)

This is the first line
This is the second with some 'Single Quotes'
and here is the third line with "Double Quotes"

 #### Raw string literals <a id="dtypes-strings-rawstrlit"></a>
 
 Raw string literals store characters as strings exactly (or "literally") as they are typed.
 
 This means that escape characters are not treated as escape characters in the string.
 
 Raw string literals are intitiated using r"" or r''

In [2]:
print("Printed\tWith\tTabs") # '\t' created as an escape character
print(r"Printed\tWithout\tTabs") # actual characters '\' and 't' are printed

Printed	With	Tabs
Printed\tWithout\tTabs

#### String Methods <a id="dtypes-strings-strmeth"></a>

String objects come with many preset methods that allow for manipulation of the string contained and its characters.

In [1]:
strn = 'Hello# World? Greetings!' #string we will be manipulating

str.lower() - Make all characters lowercase

In [2]:
strn.lower()

'hello# world? greetings!'

str.upper() - Make all characters uppercase

In [4]:
strn.upper()

'HELLO# WORLD? GREETINGS!'

str.split() - Split a string on a character or a string

This results in a list of strings based on the split. The character or string used as the split is removed and all the strings on either side of the split is stored as list elements

In [2]:
# Split on the '#' symbol. Since there is only one in the string, a list of two strings will be created
strn.split("#")

['Hello', ' World? Greetings!']

In [5]:
# Access the second element in the resulting solit list
strn.split('#')[1]

' World? Greetings!'

In [6]:
# Split string on spaces. There are two spaces so a list of three strings will be created
strn.split(" ")

['Hello#', 'World?', 'Greetings!']

In [9]:
# Strings are split on spaces by default
strn.split()

['Hello#', 'World?', 'Greetings!']

str.capitalize() - Capitalize the first character of a string and make all other characters lowercase

In [3]:
strn.capitalize()

'Hello# world? greetings!'

\<separator\>.join(\<iterable\>) - join strings in an iterable object together on a separator into a single string

The separator can be a character or a string that will be used to separate all the strings in the iterator when they are combined

If the iterator contains anything other than a string, it will throw an error

In [6]:
strngs = ["Hello!", "How", "are", "you", "?"] #list of strings and characters

In [7]:
" ".join(strngs) # Join list items with space

'Hello! How are you ?'

In [8]:
"-".join(strngs) #Join list items with dash

'Hello!-How-are-you-?'

In [9]:
"SPLIT".join(strngs) #Join list items with the word SPLIT

'Hello!SPLITHowSPLITareSPLITyouSPLIT?'

In [10]:
" ".join(("Hello", "there,", "World")) #Join tuple items on space

'Hello there, World'

In [12]:
#Join dictionary items on space
#It will only join the Keys together 
" ".join({"Hello" : "my", "name": "is", "John":"Smith"})

'Hello name John'

str.startswith() - Tests if a string starts with what is passed in the parameter. A string or an iterable can be passed into the function. The function is also case sensitive.

Returns a boolean: True if it does match and False if it does not. If an iterable is passed, and if at least one of the elements match, it returns True

In [17]:
#Does the beginning of the string start with "Hello"
strn.startswith("Hello")

True

In [18]:
#Does the beginning of the string start with "hello" (lowercase)
strn.startswith("hello")

False

In [21]:
#Does the beginning of the string start with either "Hello" or "hello"
strn.startswith(("Hello", "hello"))

True

str.strip() - Remove all indicated characters from the beginning and end of a string

By default, white space (space characters) are removed

If any character or string of characters is passed as a parameter, they will be removed.

The function will remove all indicated characters until a character not indicated is reached

In [2]:
strn = "     @ @ @White space@    "
strn

'     @ @ @White space@    '

In [3]:
# Remove space characters from either end of the string. Note how it keeps the spaces after the @ symbol
strn.strip()

'@ @ @White space@'

In [4]:
# Remove both space characters and @ symbols from from either end of the string.

strn.strip(' @')

'White space'

#### String Slicing  <a id="dtypes-strings-strslice"></a>

In Python, strings are treated like lists, in that each character in the string is treated like elements in a list.

The same operations used to access elements in lists can be used to access characters in strings.

In [1]:
x = 'Hello there World!!'
x

'Hello there World!!'

Accessing individual characters by index

In [7]:
# First Character
x[0]

'H'

In [8]:
# Third Character
x[2]

'l'

Characters at the end of the string can be accessed using negative indices

In [2]:
# Last character
x[-1]

'!'

In [3]:
# Third to last character
x[-3]

'd'

String Slicing allows you to access a range of characters in a string at once.

This can be done by using a colon (:) between the brackets.

The notation for string slicing is str[x:y] where the x is the starting index (inclusive) and y is the last index (exclusive)

In [5]:
# Get the first to sixth characters in the string (character at index 6 is excluded)
x[0:6]

'Hello '

In [7]:
# Get the fourth to fifteenth characters in the string (character at index 15 is excluded)
x[3:15]

'lo there Wor'

In [12]:
# Get the characters from the fourtheenth-to-last character to the 
# second-to-last character (the last character is excluded)
x[-15:-1]

'o there World!'

In [17]:
# Get the characters from the twelfth-to-last character to the 
# seventh-to last character (the sixth-to-last character is excluded)
x[-13:-6]

'there W'

In [6]:
# Get the fourth character to the fifth-to-last character (the fourth-to-last character is excluded)
x[3:-4]

'lo there Wor'

When the index before the colon is removed, all elements from the beginning of the string to the index after the colon is selected (the character of the element after the colon is excluded)

In [10]:
# Get the first character of the string to the sixth character
x[:6]

'Hello '

In [11]:
# Get the first character of the string to the sixth-to-last character
x[:-5]

'Hello there Wo'

Similarly, when the index after the colon is removed, all elements from the index indicated before the colon to the end of the string is selected

In [12]:
# Get the sixth character of the string to the last character
x[5:]

' there World!!'

In [13]:
# Get the fourth-to-last character to the last character
x[-4:]

'ld!!'

#### Miscellaneous String Functions   <a id="dtypes-strings-misc"></a>

String concatenation

To concatenate strings, you can use the "+" operator between strings or string variables

In [1]:
"Hello" + "World"

'HelloWorld'

In [2]:
"Hello" + " " + "World"

'Hello World'

In [3]:
firstName = 'Johnathan'
lastName = 'Doe'
middleName = 'Q'

firstName + " " + middleName + ". " + lastName

'Johnathan Q. Doe'

String Multiplication

With the "\*" you can multiply strings like you would numbers.

The expression "string" * x will multiply "string" x times

In [4]:
"Hello" * 3

'HelloHelloHello'

String Check

Test to see if a string is contained inside another string. This is done using the "in" keyword.

Returns a Boolean value.

In [3]:
strn = "Hello, I am a sentence!"

'sentence' in strn

True

In [4]:
'John' in strn

False

## Dictionaries <a id="dictionary"></a>

A dictionary is a data structure used as an unordered collection of values. 

Unlike lists, where items are stored in a sequence, dictionary items are stored as key-value pairs.  Where as list items are accessed using indices that are always integers, dictionary values are accessed using keys that can be of any data type. This allows for a meaningful relationship between the key and value.

Dictionaries are expressed using opened and closed curly brackets:

{}

The key-value pairs assigned to dictionaries are expressed as follows:

{ \<key\> : \<value\> }

where the key and the value are separated by a colon.


When declaring a dictionary with muliple items, each key-value pair assigned is separated by a comma:

{ \<key\>:\<value\>, \<key\>:\<value\>,\<key\>:\<value\>, ...... }


Dictionaries can be assigned as many items as needed.


They are implemented using hash tables.

Below is an example of a simple dictionary. It contains information regarding several U.S. state names and their abbreviations.

In this case, the state abbreviation is the key and the full state name is the value:

In [1]:
# Declaring the U.S. state abbreviation dictionary and assigning it to a variable

stateAbbr = {
    'FL' : 'Florida'
    , 'NY' : 'New York'
    , 'HI' : 'Hawaii'
    , 'MS' : 'Mississippi'
}

This dictionary creates a meaningful relationship between key and value since the value is the state name and the key is its respective abbreviation.

### Accessing dictionary items <a id="dictionary-access"></a>

Since dictionaries are unordered, individual items cannot be accessed by an index. Values can only be accessed by the key they are paired with.

Like lists, dictionary values are accessed using square bracket notation. Instead of putting an index between the brackets, you put the key, as it is specifically stored.

dict[\<key\>]

In [4]:
# Accessing the value 'Hawaii' based on its key 'HI'

stateAbbr["HI"]

'Hawaii'

In [5]:
# Accessing the value 'Mississippi' based on its key 'MS'

stateAbbr["MS"]

'Mississippi'

A key must exist in a dictionary in order for it's value to be retrieved. If you pass data into the square bracket that does not match a key in the dictionary, the program will return an error.

Consequently, keys that are strings are case sensitive and must match the case as stored in the dictionary. Otherwise, it will also throw an error.

In [2]:
# The key 'AL' does not exist in the dictionary

stateAbbr["AL"]

KeyError: 'AL'

In [7]:
# The key 'Ny' does not exist in the dictionary.
# If we want to access the value "New York" we must use 'NY'

stateAbbr["Ny"]

KeyError: 'Ny'

#### Accessing all keys or all values <a id="dictionary-access-all"></a>

Dictionaries are built with methods that enable access to all keys and values separately in the dictionary.

To retrieve all keys, use the keys() method on a dictionary

In [2]:
# Retrieve all keys in the state dictionary
stateAbbr.keys()

dict_keys(['FL', 'NY', 'HI', 'MS'])

This returns a dictionary keys object

In [11]:
type(stateAbbr.keys())

dict_keys

There are several ways to retrieve the individual keys from this object, but the simplist is turning it into a list using the list() function

In [12]:
# Turn the dict.keys() object into a list

stateAbbrKeys = list(stateAbbr.keys())

stateAbbrKeys

['FL', 'NY', 'HI', 'MS']

With this, you can now reteive the key items as you would any list.

In [13]:
stateAbbrKeys[2]

'HI'

To retrieve all values, use the values() method on a dictionary

In [4]:
# Retrieve all values in the state dictionary
stateAbbr.values()

dict_values(['Florida', 'New York', 'Hawaii', 'Mississippi'])

This returns a dict_values object. Similar to the keys() method, you can retrive the individual dictionary values by coverting it into a list.

In [14]:
# Converting dict_values into a list
stateAbbrValues = list(stateAbbr.values())

stateAbbrValues[3]

'Mississippi'

#### Testing if key exists  <a id="dictionary-access-test"></a>

The "in" operator can be used to determine if a key exists in a dictionary. Its syntax is as follows:

\<key\> in \<dictionary\>

This will return a boolean value. If the key does exist in the dictionary, it will return True. Otherwise, it will return False.

Given its structure, the "in" operator for a dictionary is relatively fast.

In [6]:
# Key exists in dictionary

"NY" in stateAbbr

True

In [7]:
# Key does not exist

"MI" in stateAbbr

False

In [9]:
# Key must be be an exact match as to what is in the dictionary
# For example, although "HI" is present, making the "H" lowercase results in False 

"hI" in stateAbbr

False

In [10]:
"HI" in stateAbbr

True

#### Accessing values using the get() method  <a id="dictionary-access-get"></a>

The get() method retrieves the value based on the key provided. 

If the key does not exist, it returns None by default. However, a value to be returned can be set by the programmer.

In [4]:
# Get the value for the key 'HI'

stateAbbr.get('HI')

'Hawaii'

In [6]:
# The key 'OH' does not exist so none is returned

print(stateAbbr.get('OH'))

None

In [7]:
# If a key does not exist, return "Does not exist"

stateAbbr.get('OH', "Does not exist")

'Does not exist'

In [11]:
# Any data type can be returned if a key doesn't exist

stateAbbr.get('OH', False)

False

#### Updating Dictionary Values <a id="dictionary-update"></a>

To update dictionary values, access a dictionary by key using the square bracket notation and use the assignment operator on a key that already exists. The syntax for updating dictionary values is as follows:

dict[\<existing_key\>] = \<new_value\>

This will update the value of an existing key to a new value. Dictionary keys themselves cannot be updated.

In [5]:
# Changing the value of the 'HI' key

stateAbbr['HI'] = 'Alaska'

print(stateAbbr)

print(stateAbbr['HI'])

{'FL': 'Florida', 'NY': 'New York', 'HI': 'Alaska', 'MS': 'Mississippi'}
Alaska

In [6]:
# Changing the value of the 'HI' key back to the previous value

stateAbbr['HI'] = 'Hawaii'

print(stateAbbr)

print(stateAbbr['HI'])

{'FL': 'Florida', 'NY': 'New York', 'HI': 'Hawaii', 'MS': 'Mississippi'}
Hawaii

#### Adding new dictionary items <a id="dictionary-add"></a>

Similar to updating existing dictionary values, you can use the square bracket notation to add new items into the dictionary.

To do so, you must supply a key that does not already exist in the dictionary and assign it a value. Doing so will add the key-value pair into the dictionary.

In [3]:
# Adding a new state into the dictionary.
# The key 'PA' and its value 'Pennsylvania' 
#     was not in the dictionary before the assignment

stateAbbr['PA'] = 'Pennsylvania'

stateAbbr

{'FL': 'Florida',
 'NY': 'New York',
 'HI': 'Hawaii',
 'MS': 'Mississippi',
 'PA': 'Pennsylvania'}

In [4]:
# Adding "Kansas" into the dictionary.

stateAbbr['KS'] = 'Kansas'

stateAbbr

{'FL': 'Florida',
 'NY': 'New York',
 'HI': 'Hawaii',
 'MS': 'Mississippi',
 'PA': 'Pennsylvania',
 'KS': 'Kansas'}

#### Declaring Empty Dictionaries <a id="dictionary-empty"></a>

It is possible to declare empty dictionaries that can be used as placeholders to store items later.

This is done by assigning a variable a set of empty curly brackets "{}"

It can also be done by using the dict() method but this way is not preferred.

In [5]:
empty_dict = {} # empty dictionary

empty_dict2 = dict() # another way to declare an empty dictionary but not preferred

empty_dict, empty_dict2

({}, {})

#### Store Other Data Types  <a id="dictionary-othertype"></a>

Dictionaries are not limited to only strings.

Both the keys and values in a dictionary can be different data types.

In [1]:
# A dictionary with keys as integers and strings as values

progDict = {
    0: 'Python'
    , 1: 'C++'
    , 2: 'Ruby'
    , 3: 'Java'
    , 4: 'Go'
    , 5: 'Scala'
}

progDict

{0: 'Python', 1: 'C++', 2: 'Ruby', 3: 'Java', 4: 'Go', 5: 'Scala'}

The above dictionary has integer for keys and strings as values.

This makes the dictionary function similar to a list where the key acts like an index:

In [3]:
# Accessing the value with the key 4

progDict[4]

'Go'

However, since dictionaries are unordered, you can add another item with a key that is something other than 6.

In [2]:
# Adding an item with a key of 100 and a value of 'C#'

progDict[100] = 'C#'

progDict

{0: 'Python', 1: 'C++', 2: 'Ruby', 3: 'Java', 4: 'Go', 5: 'Scala', 100: 'C#'}

Also, since dictionaries can have multiple types, the key doesn't need to be an integer.

In [3]:
# The using the string 'Hello' as the key

progDict['Hello'] = 'C'

progDict

{0: 'Python',
 1: 'C++',
 2: 'Ruby',
 3: 'Java',
 4: 'Go',
 5: 'Scala',
 100: 'C#',
 'Hello': 'C'}

### Nested Dictionary <a id="dictionary-nested"></a>

Dictionaries can be nested within other dictionaries.

This is done by assigning a dictionary as a value.

Nested dictionaries can provide more meaningful data to dictionary items.

Below is an example of a dictionary of fruits and vegetables with nested dictionaries containing information related to them:

In [4]:
nDict = {
    'Fuji' : {'category' : 'fruit', 'type' : 'apple', 'color' : 'red' }
    ,'Imperator' : {'category' : 'vegetable', 'type' : 'carrot', 'color' : 'orange' }
    ,'Black Splendor' : {'category' : 'fruit', 'type' : 'plumb', 'color' : 'black' }
    ,'Granny Smith' : {'category' : 'fruit', 'type' : 'apple', 'color' : 'green' }
    ,'Norland' : {'category' : 'vegetable', 'type' : 'potato', 'color' : 'yellow' }
}

Since the nested dictionaries are values, accessing them is done by calling their respective keys, as with any other dictionary.

In [5]:
# Accessing the nested dictionary stored as a value for the key 'Granny Smith' 

nDict['Granny Smith']

{'category': 'fruit', 'type': 'apple', 'color': 'green'}

This will return the entire dictionary stored as the value.

To access a value within that nested dictionary, a key from that dictionary must be accessed.

This is done by referencing one of the keys by using a second set of square brackets.

In [6]:
# Accessing the value of 'category' in the nested dictionary for 'Granny Smith'

nDict['Granny Smith']['category']

'fruit'

In [7]:
# Accessing the value of 'type' in the nested dictionary for 'Imperator'

nDict['Imperator']['type']

'carrot'

A nested dictionary is not limited to two levels.

Nested dictionaries can also nest other nested dictionaries.

There is no limit to the number of levels a nested dictionary can have.

In [15]:
# Similar dictionary with 3 levels 

nDict2 = {
    1 : {
       "name":"banana"
        , "colors": {
            1: "green"
            , 2: "yellow"
        }
    }
    , 2 : {
        "name":"apple"
        , "colors": {
            1: "Red"
            , 2: "Green"
            , 3: "Yellow"
            }
    }
}

In [17]:
# Get the value of key "3" in the "colors" dictionary, which accessed by calling key "2" in the main dictionary

nDict2[2]['colors'][3]

'Yellow'

In [20]:
# Example of dictionary with random values.
# It has both a 4 level and 5 level nested dictionary

dictRand =  {
    "Hello" : "World"
    , 1 : True
    , 1.3 : {
        "Today" : 5
        , False : {
            452 : {
                "Tomorrow" : "Next Time"
                , False : "Now"
            }
        }
    }
    , "Another" : {
        "Extra" : {
            1 : {
                True : {
                    77 : 53
                }
            }
        }
    }
}

In [21]:
# Access an element from the 4 level nested dictionary

dictRand[1.3][False][452][False]

'Now'

In [24]:
# Access an element from the 5 level nested dictionary

dictRand["Another"]['Extra'][1][True][77]

53

#### Nested Lists in Dictionaries <a id="dictionary-nested-lists"></a>

It is also common to store lists as dictionary values.

Similar to nested dictionaries, a nested list, which is a list that acts as a dictionary value, can be accessed by referencing its respective key.

In [1]:
# Example of dictionary with nested lists

dictNList = {
    'shapes': ['square', 'triangle', 'circle', 'rectangle']
    , 'colors': ['red', 'blue', 'purple', 'yellow', 'green']
    , 'prime_numbers': [2,3,5,7,11,13,17]
}

In [3]:
# Access the list that is the value of the 'colors' key

dictNList['colors']

['red', 'blue', 'purple', 'yellow', 'green']

Furthermore, like any list, items within the nested list can be accessed by index. This is done by adding another set of square brackets referencing the index of choice.

In [4]:
# Access the fourth element in the 'colors' list

dictNList['colors'][3]

'yellow'

Like nested dictionaries, nested lists can go as many layers deep as required.

Additionally, dictionaries can be nested within lists. This allows the potential for layers of meaningful data within one dictionary.

In [3]:
# Dictionary with nested lists and dictionaries

deepNList = {
    "Layer1_Item1" : "Hello"
    ,"Layer1_Item2" : ["Hello", "World", {
        "Layer2_Item1" : {
            'Layer3_Item1' : [
                1,4,6,8,2, [
                    5,32, {
                        "Layer5" : "Very Nested"
                    }
                ]
            ]
        }
    }]
}

In [10]:
deepNList["Layer1_Item2"][2]["Layer2_Item1"]['Layer3_Item1'][5][2]['Layer5']

'Very Nested'

In [ ]:
len(age)

3

In [ ]:
"Dane" in age.keys()

True

In [ ]:
age.values() #returns list in python 2

dict_values([55, 35, 44])

In [ ]:
55 in age.values()

True

In [ ]:
age.items() #key value tuples; returns list in python 2

dict_items([('John', 55), ('Jane', 35), ('Dane', 44)])

Dictionary keys are immutable. Lists cannot be used as keys

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
fname, lname, email

('Christopher', 'Brooks', 'brooksch@umich.edu')

In [ ]:
x = {'Christopher' : 90, 'Brooks': 37 , 'brooksch@umich.edu': 17}
fname, lname, email = x.values()
fname, lname, email

(90, 37, 17)

In [ ]:
x = {'Christopher' : 90, 'Brooks': 37 , 'brooksch@umich.edu': 17}
fname, lname, email = x
fname, lname, email # Unpacked values must match number of variables

('Christopher', 'Brooks', 'brooksch@umich.edu')

## Looping <a id="looping"></a>

Loops are control flow statements that allow blocks of code to be executed multiple times without the need to repeat code over and over again.

Loops can be executed by using either a "for" loop or a "while" loop.

### for Loops <a id="looping-forloop"></a>

A "for" loop is typically structured as follows:


`for \<variable\> in \<iterable\>:
    execute code
`

"Iterable" indicates the iterable that the for loop will iterate before it finishes executing. Iterables include lists, tuples and dictionaries. 

The for loop will loop as many times as there are items in the iterable.

"Variable" is the current item, or index, that the for loop is iterating over. For example, with a for loop iterating over a list, the  "variable" in the first iteration of the loop will be the first element of the list, the "variable" in the second iteration of the loop will be the second element of the list, etc. This will continue until the for loop finishes iterating over the last element int the list.

"execute code" is the code that will execute during every iteration of the loop. Notice the indentation. Any line of code that is indented after the for loop statement will be executed as part of the loop.

A function typically used as an iterator is the range() function, given that it returns a list numbers in a sequence.

The syntax of the range() function is range(x,y,s), where 'x' is the first item in the range (inclusive), 'y' is the last item in the range (exclusive) and 's' is the number of steps to take when creating the range, or how many numbers to skip when creating the range x and y. By default, the step parameter is set to 1

In [2]:
# Loop the print() function 4 times to print out the numbers 1 to 4 (5 is excluded).

for x in range(1,5):
    print(x)

1
2
3
4

In [3]:
# Loop print() 5 times to print out even numbers between 1 and 10 
# by setting the step parameter to 2 and starting the range from 2 
# (11 is used as the end of the range to include the 10)

for x in range(2, 11, 2):
    print(x)

2
4
6
8
10

In [4]:
# Print odd numbers by doing the same thing but staring with 1 instead of 2

for x in range(1, 11, 2):
    print(x)

1
3
5
7
9

If a loop is meant simply to run a block of code multiple times without retyping it, it is not required to use the variable returned by the iterator if you don't need to use it.

In [2]:
# Print the string "Hello World" 6 times
# An underscore can be used for the index varible as a placeholder 

for _ in range(1, 6):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

The range() function also accepts a single parameter. When a single integer is provided, that integer will be used to indicate the last which is used to indicate the last item in the range (exclusive), while always starting with 0

For example, range(10) will iterate over a list from 0 to 9, thus looping 10 times.

In [3]:
# The loop will print out numbers 0 to 8

for x in range(9):
    print(x)

0
1
2
3
4
5
6
7
8

In [4]:
# The loop will print out the string "Python" 8 times

for _ in range(8):
    print("Python")

Python
Python
Python
Python
Python
Python
Python
Python

Loops are not limited to just the print() function.

A loop can be used to run any amount of code and perform tasks such as calculations.

Below is an example of how to use a loop to find the sum of a range of numbers (ignoring sum() function)

In [5]:
# Finding a sum by adding the number 1 15 times using a loop 

# Variable to keep track of sum
total = 0 
# loop 15 times
for _ in range(15):
    total += 1
    
print(total)

15

Take note that the "total" variable is outside of the for loop. This is because it only needs to be declared once and reassigned with every loop iteration.

If it is declared inside the loop, the variable will just keep being initialized as 0.

In [6]:
# Total will only result in 1 no matter how many times the loop iterates

for _ in range(50):
    total = 0 #Decalre total as 0
    total += 1 #Add 1 to the 0
    
print(total)

1

The numbers in the range can be added together as well

In [7]:
# Find the sum of the numbers from 1 to 10

total = 0
for x in range(1, 11):
    total += x
    
print(total)

55

#### Looping through lists  <a id="looping-lists"></a>

The range() functions can be used as the iterable for the for loop since it returns a list.

Loops can also be used to iterate over a custom made list as well.

In [8]:
lst = ['a','b','c','d','e']

for item in lst:
    print(item)

a
b
c
d
e

You can also use the range() function to iterate through a list by index.

Since the range() function always returns a list that begins with 0 when one parameter is passed, you can pass the length of the list as the parameter if you want to loop through the entire list.

In [10]:
for i in range(len(lst)):
    print(lst[i])

a
b
c
d
e

#### Loops with mutliple variables   <a id="looping-multivars"></a>

for Loops has the ability to process multiple variables returned by the iterable. The syntax is as follows:

`for \<variable1\>, \<variable2\>, .....  in \<iterable\>:
    execute code
`

The number of variables the for loop can process depends on how the iterator is structured.

Normally, we have been looping through iterables that are made up of single value elements:

\[1,2,3,4,5,6,7\]

On occasion, you will encounter iterables whose elements are other iterables, such as lists of lists, or lists of tuples.

Below is an example of a list of lists with two elements:

\[ \[1,3\], \[3,4\], \[6,23\] \]

With a list structured like this, a for loop can iterate through each element and access both pieces of data they are made of.

Lets say for example, we are presented with a list of tuples containing two elements that are meant to represent a person's height and weight.

In [22]:
# Each tuple in the list represents an individual person
# The first element in the tuple represents the person's height in inches
# The second element in the tuple represents the person's weight in pounds

htWt = [(70, 201), (67, 183), (59, 166), (61,145)]

You can access both the height and weight by using a for loop with two variables.

In [23]:
# For loop retrieving 2 elements in each tuple within the iterable 

for height, weight in htWt:
    print("The person's height is {0} and weight is {1}".format(height, weight))

The person's height is 70 and weight is 201
The person's height is 67 and weight is 183
The person's height is 59 and weight is 166
The person's height is 61 and weight is 145

To demonstrate three variables, let's create a list with tuples containing three elements: height, weight and eye color.

In [1]:
# Each tuple in the list represents an individual person
# The first element in the tuple represents the person's height in inches
# The second element in the tuple represents the person's weight in pounds
# The third element in the tuple represents the person's eye color

htWtEye = [(70, 201, "Blue"), (67, 183, "Hazel"), (59, 166, "Green"), (61,145,"Blue")]

In [2]:
# For loop retrieving 3 elements in each tuple within the iterable 

for height, weight, eyeCol in htWtEye:
    print("The person's height is {0}, weight is {1}, and eye color is {2}".format(height, weight, eyeCol))

The person's height is 70, weight is 201, and eye color is Blue
The person's height is 67, weight is 183, and eye color is Hazel
The person's height is 59, weight is 166, and eye color is Green
The person's height is 61, weight is 145, and eye color is Blue

For a for loop to work correctly, every iterable has to have the same number of elements as there are variables. Otherwise, the loop will throw an error.

In [3]:
# The second iterable has only two elements,but the for loop is looking for 3

htWtEye = [(70, 201, "Blue"), (67, 183), (59, 166, "Green"), (61,145,"Blue")]

# For loop retrieving 3 elements in each tuple within the iterable
# Throws an error when it iterates through the second tuple

for height, weight, eyeCol in htWtEye:
    print("The person's height is {0}, weight is {1}, and eye color is {2}".format(height, weight, eyeCol))

The person's height is 70, weight is 201, and eye color is Blue

ValueError: not enough values to unpack (expected 3, got 2)

#### Looping through Dictionaries  <a id="looping-dict"></a>

Looping through dictionaries is a little different, given that they are made up of key value pairs. There are several ways  to loop though them to retrieve the keys and values either separately or together.

In [8]:
# Declare a dictionary where the keys are integers and the values are strings

dic = {1:"Hello"
      , 2: "There"
      , 3: "My"
      , 4: "Friend"
      , 5: "!"}

#### Looping through keys <a id="looping-dictkeys"></a>

You can loop through a dictionary's keys by either using the keys() method, or by simply using the dictionary itself as the iterator.

In [10]:
# Loop through dictionary keys using the keys() method

for item in dic.keys():
    print(item)

1
2
3
4
5

In [11]:
# Loop through dictionary keys using the dictionary itself as the iterator

for item in dic:
    print(item)

1
2
3
4
5

#### Looping through values <a id="looping-dictvals"></a>

You can loop through a dictionary's values by either using the values() method, or by using the dictionary itself as the iterator and using indexing with the loop variable as the key to access the value.

In [12]:
# Loop through dictionary values using the values() method

for item in dic.values():
    print(item)

Hello
There
My
Friend
!

In [13]:
# Loop through dictionary values using indexing with the variable "Item" as the key

for item in dic:
    print(dic[item])

Hello
There
My
Friend
!

#### Looping through both keys and values <a id="looping-dictkeysvals"></a>

You can loop through a dictionary's keys and values by using indexing and simply calling the loop variable as well.

In [16]:
# Loop through dictionary values using indexing with the variable "item" as the key and using the variable "item" as well

for item in dic:
    print("The current key is {0} and the current value is {1}".format(item, dic[item]))

The current key is 1 and the current value is Hello
The current key is 2 and the current value is There
The current key is 3 and the current value is My
The current key is 4 and the current value is Friend
The current key is 5 and the current value is !

Another way is to use the dictionary's items() method, which returns a tuple containing both the keys and values.

In [17]:
for item in dic.items():
    print(item)

(1, 'Hello')
(2, 'There')
(3, 'My')
(4, 'Friend')
(5, '!')

With it, you can use a loop with two variables to access both the key and value.

In [21]:
for key, value in dic.items():
    print("The current key is {0} and the current value is {1}".format(key, value))

The current key is 1 and the current value is Hello
The current key is 2 and the current value is There
The current key is 3 and the current value is My
The current key is 4 and the current value is Friend
The current key is 5 and the current value is !

### while Loops <a id="looping-while"></a>

Unlike for loops, whose number of iterations depend on the number of items in an iterable, a while loop iterates based on a condition set by the programmer.

The syntax of a while loop is as follows:

`while \<condition = True\>:
    execute code
`

As long as the condition passed to the while loop is true, the loop will continue. It only terminates when the condition becomes false. This gives the programmer more flexibility as to what should happen in the loop before it terminates.

For this reason, a variable is typically used as a component in the condition since it can be reassigned by the programmer. The variable is then changed in the loop until the condition is met.

Below is an example of a simple while loop that prints "Hello World" 7 times:

In [3]:
i=0 #Declaring a variable as 0

# Keep running the code in a while loop as long as i is less than 10
while( i < 7 ):
    print("Hello World")
    i += 1 #Increment i by 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

First we declare a variable "i". This acts as the "counter" that determines how many times the loop will iterate.

Next we declare the while loop with the condition "i < 7". The way this works is: run the code in the while loop as long as "i" is less than 7.

Next we run the print() statement. Since this does not affect the variable "i", this also does not have any impact on the loop's condition.

Finally, we increment the "i" variable by 1. Since "i" is declared outside the loop, "i" will keep its new value when the next iteration of the loop begins.

Incrementing "i" is the most important part of the while loop because this allows the loop's condition to become False at some point, thus ending it.

If a while loop's condition is always True (in this case, if "i" is always less than 7), the loop will never end, and will create what is called an "infinite loop". If an infinite loop occurs, the programmer will have to manually terminate the program for it to stop.

In [7]:
for key, item in dic.items():
    print(key, item)

1 Hello
2 There
3 My
4 Friend
5 !

In [ ]:
#List Comprehension
[print(i) for i in lst]

a
b
c
d
e

[None, None, None, None, None]

### Repeating Lists

In [ ]:
lst * 3

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

## Control Flow

if statement. In Python, there are no brackets. Colons and whitespace determine statements

In [ ]:
x = 2
if x > 5:
    print ("greater than five")
elif  x < 5: #else if. if the above condition doesn't apply, try this (as many can be added)
    print("less than five")
else: #otherwise
    print("must be five")

ternary operator. if-then-else on one line

In [ ]:
"greater or equal to 5" if x > 5 else "less than 5"

'greater or equal to 5'

while loop (Be careful of infinite loops)

In [ ]:
x = 0
while x <= 20:
    print (x)
    x += 2

0
2
4
6
8
10
12
14
16
18
20

for loop. Very different from conventiional for loops. Similar to foreach loops

In [ ]:
for i in range(10): #loop in range 0 to 9 where i is the index
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# looping through data structures

lst = ['Hello', 0, 19, True, ["Up", "Down"]]

for ele in lst:
    print (ele)

Hello
0
19
True
['Up', 'Down']

break - quit loop entirely
continue - go to next loop iteration

In [ ]:
for i in range(100):
    if i == 5:
        continue
    if i == 11:
        break
    print(i)
    
#skip 5, quit at 10

0
1
2
3
4
6
7
8
9
10

In [ ]:
na = None
na

In [ ]:
na == None

True

In [ ]:
na is None

True

is - same object
== - equal value

In [ ]:
if 0:
    print("Hello")

In [ ]:
if 1: print("Hello")

Hello

Treated as False:
    
False
None
[] (an empty list)
{} (an empty dict)
""
set()
0
0.0

Anything else gets treated as True. 

This allows if state
ments to test for empty lists, strings, dictionaries, etc.

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
# all() - for all elements, return True if all True or of true value
all([True, 100, ""])

False

In [ ]:
all([True, 100, "Hello"])

True

In [ ]:
#any() - if there exists one True or something of True Value, return True

any(["", (), [], None, 1])

True

In [ ]:
any(["", (), [], None, 0])

False