# Python Basics

S1 - Variables

In [130]:
## Whitespace

## Comments

Comments are used to document code, add notes to the code, etc.

Any text within or after a comment tag is ignored when ran.

There are two ways to comment in Python:

Single line comments - Use "#" symbol to indicate a single line comment. Anything past the # on the same line will be rendered as a comment

In [10]:
# Single 
print("Hello") #line
# Comment

Hello

## Variables
Variables are used as a means to store values for making an easy reference to it.

In [6]:
x = 1
y = 2
print(x, y)

1 2

Variables are treated like the data type they contain

In [7]:
z1 = 1 + 2
z2 = x + y
print(1 + 2, z1, z2)

3 3 3

### Rules
* Variables can only contain alpha-numeric characters and underscores (A-Z, a-z, 0-9, and _ )
* Variables must start with a letter (A-Z, a-z) or the underscore character (_)
* Variables cannot start with a number (0-9)
* Variable names are case-sensitive (e.g. XYZ, xyz, XyZ are three different variables)

In [ ]:
a = 1 #Valid
Abc = 1 #Valid
_VarVal = 1 #Valid
1st = 1 #Invalid (will throw an error)
@!^ = 1 #Invalid

## Strings

In [3]:
str = 'Single Quoted'
str

'Single Quoted'

In [11]:
str = "Or Double Quoted"
str

'Or Double Quoted'

In [ ]:
multi_line_string = """first line.
second line
third line"""

Backslashes (\\) are used to encode special characters

In [3]:
tab = "\t" # tab character; counts as a single character

 Raw string literals (as in the litereal string of characters typed) are created using r"":

In [5]:
raw_tab = r"\t" # actual characters '\' and 't'
raw_tab

'\\t'

## Lists

A list is an ordered collection data structure used as a container for multiple data of multiple types. It is similar to arrays in other programming languages. They are declared using square brackets ([]). Unlike tuples, lists are mutable, as in their values, order and number of elements can be changed.

In [8]:
emp_lst = [] # Declare empty list

In [6]:
num_lst = [1,3,25,54]
num_lst

[1, 3, 25, 54]

In [7]:
str_list = ["Hey", "Hello"]
str_list

['Hey', 'Hello']

Lists can contain different types, including lists. A list with different types is called a heterogeneous list.

In [8]:
hetero_lst = ["Hi", 123, [3,"Hello", ], True]
hetero_lst

['Hi', 123, [3, 'Hello'], True]

In [11]:
len(num_lst)

4

In [12]:
sum(num_lst)

83

In [13]:
sum(str_list) #produces error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Accessing and Slicing

There are many ways to retrieve items from lists. Single items can be retrieved, as well as items in bulk

In [18]:
lst = ['a','b','c','d','e']
lst

['a', 'b', 'c', 'd', 'e']

In [20]:
lst[0] # 1st element

'a'

In [21]:
lst[1] # 2nd element

'b'

In [22]:
lst[:]

['a', 'b', 'c', 'd', 'e']

In [23]:
lst [:3]

['a', 'b', 'c']

In [24]:
lst [3:]

['d', 'e']

In [23]:
lst[2:5]

['c', 'd', 'e']

In [24]:
lst[2:10]

['c', 'd', 'e']

In [25]:
lst[0] = "NEW"
lst

['NEW', 'b', 'c', 'd', 'e']

In [26]:
lst[-1]

'e'

In [27]:
lst[-2]

'd'

In [25]:
lst[-3:]

['c', 'd', 'e']

In [26]:
lst[1:-1]

['b', 'c', 'd']

"in" can be used to find eements in list. This involves examining the elements of the list one at a time (O(n)). Therefore, this is only best for relatively small lists.

In [27]:
'a' in lst

True

In [28]:
'q' in lst

False

## Nested List

In [13]:
nestList = ['blueberry', 'apple',['banana',[['PLUMB','raspberry'], 'cantaloupe']], 'pineapple']
nestList

['blueberry',
 'apple',
 ['banana', [['PLUMB', 'raspberry'], 'cantaloupe']],
 'pineapple']

In [14]:
nestList[2]

['banana', [['PLUMB', 'raspberry'], 'cantaloupe']]

In [15]:
nestList[2][1]

[['PLUMB', 'raspberry'], 'cantaloupe']

In [16]:
nestList[2][1][0]

['PLUMB', 'raspberry']

In [17]:
nestList[2][1][0][0]

'PLUMB'

## Adding items to lists


* append() - add a single item to a list.
* extend() - concatinating lists. add multiple items to a list. Pass a list of items

In [30]:
lst = [5,9,0]
lst

[5, 9, 0]

In [31]:
lst.extend([7,8])
lst

[5, 9, 0, 7, 8]

In [32]:
lst.append(5) # 
lst

[5, 9, 0, 7, 8, 5]

In [33]:
#list addition
lst = lst + [0,9,76]
lst

[5, 9, 0, 7, 8, 5, 0, 9, 76]

You can unpack lists to variables (must be specific to number of elements in the list)

In [34]:
x, y = [1, 2]    
x, y

(1, 2)

In [37]:
x, y = [1,2,3]

ValueError: too many values to unpack (expected 2)

It’s common practice to use an underscore for a value you’re going to ignore. The underscore variable will still be assigned
but it's common practice to ignore it.

In [40]:
_, _, y = [1, 2, 3]

y

3

## Printing

In [6]:
x = 'Hello'
print(x) # for python 3

Hello

In [8]:
print x # for python 2

In [9]:
x #for Jupyter notebook (last line in cell)

'Hello'

### Using Format

With brackets only (printed in the order parameters are provided in the format method)

In [11]:
name = "Joe"
id = "1234"

print('My name is: {}. My ID is: {}'.format(name, id))

My name is: Joe. My ID is: 1234

With variables in brackets

In [12]:
v1 = "Brooklyn"
v2 = "New York"
v3 = "12345"

print('My zip code is: {zip}, my city is: {city}, my state is {state}'.format(city=v1, state=v2, zip=v3))

My zip code is: 12345, my city is: Brooklyn, my state is New York

## Dictionaries

A dictionary is a data structure used as an unordered collection of values. Each item is stored as a key-value pair:

key : value

Elements in the dictionary are accessed by this key rather than an index 

They are implemented using hash tables.

In [42]:
empty_dict = {} # empty dictionary
empty_dict2 = dict() # another way to declair an empty dictionary but not preferred
empty_dict, empty_dict2

({}, {})

In [18]:
dct = {'key1':'item1','key2':'item2'}
dct

{'key1': 'item1', 'key2': 'item2'}

In [43]:
age = { "John" : 23, "Jane" : 35 }    # dictionary literal
age["John"] # lookup using square brackets

23

In [58]:
#reassign values using square brackets
age["John"] = 55
age["John"]

55

In [59]:
# Add new values using square brackets
age["Dane"] = 44
age["Dane"]

44

In [19]:
dct['key1']

'item1'

In [46]:
try:
    dAge = age["Doe"]
except KeyError:
    print ("no age for that key")

no age for that key

In [47]:
"John" in age #faster for dictionary than list since it is a hash table

True

In [48]:
"Doe" in age

False

In [21]:
dct = {'str':'hello','lst':['f','l','j','o']}
dct

{'str': 'hello', 'lst': ['f', 'l', 'j', 'o']}

In [22]:
dct['lst'][3]

'o'

In [23]:
dct = {'nDict': {'keyA': 'itemA', 'keyB' : 'itemB'}, 'str':'hello'}
dct

{'nDict': {'keyA': 'itemA', 'keyB': 'itemB'}, 'str': 'hello'}

In [24]:
dct['nDict']['keyB']

'itemB'

get() method retrieves the key provided, but if the key does not exist, it returns the provided default value in stead of an exception

In [54]:
age.get("Jane", "Doesn't exist")

35

In [55]:
age.get("Doe", "Doesn't exist")

"Doesn't exist"

In [57]:
age.get("Doe") #returns None when no default provided

In [61]:
len(age)

3

In [62]:
age.keys() #returns list in python 2

dict_keys(['John', 'Jane', 'Dane'])

In [66]:
"Dane" in age.keys()

True

In [63]:
age.values() #returns list in python 2

dict_values([55, 35, 44])

In [65]:
55 in age.values()

True

In [64]:
age.items() #key value tuples; returns list in python 2

dict_items([('John', 55), ('Jane', 35), ('Dane', 44)])

Dictionary keys are immutable. Lists cannot be used as keys

## defaultdict
A type of dictionary that automatically adds a value when you try to look up a key it doesn't contain for it using a zero-argument function provided when created

These are useful when using dictionaries to get results by some key and not having to check every time to see if the key exists yet.

In [75]:
# Ex. Foods in a list of foods
foods = ["Pie","Pizza","Salad","Yogurt","Soup","Salad"]
from collections import defaultdict
food_counts = defaultdict(int)          # int() produces 0
for food in foods:
    food_counts[food] += 1
food_counts

defaultdict(int, {'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1})

In [77]:
#With a regular dictionary
food_counts_reg = {}
for food in foods:
    if food in food_counts_reg:
        food_counts_reg[food] += 1
    else:
        food_counts_reg[food] = 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [78]:
food_counts_reg = {}
for food in foods:
    try:
        food_counts_reg[food] += 1
    except KeyError:
        food_counts_reg[food] = 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [80]:
food_counts_reg = {}
for food in foods:
    previous_count = food_counts_reg.get(food, 0)
    food_counts_reg[food] = previous_count + 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [ ]:
#They can also be used with list, dict or custom functions:

In [82]:
def_list = defaultdict(list)             # list() produces an empty list
def_list[2].append("Hello")
def_list

defaultdict(list, {2: ['Hello']})

In [83]:
def_dict = defaultdict(dict)             # dict() produces an empty dictionary
def_dict["John"]["FavFood"] = "Pasta"
def_dict

defaultdict(dict, {'John': {'FavFood': 'Pasta'}})

In [88]:
def_cust = defaultdict(lambda: [3, 4, 20])
def_cust[7][2] = 1                       
def_cust

defaultdict(<function __main__.<lambda>()>, {7: [3, 4, 1]})

In [90]:
#  Dictionaries are a simple way to represent structured data:
user = {
    "userName" : "jDoe",
    "desc" : "Cool Guy",
    "age" : 23,
    "favFoods" : ["Pasta", "Pizza"]
}
user

{'userName': 'jDoe',
 'desc': 'Cool Guy',
 'age': 23,
 'favFoods': ['Pasta', 'Pizza']}

## Modules

In [1]:
import re
import matplotlib.pyplot as plt
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

Python 2.7 uses floor division by default, so that 7 / 2 equals 3.
from __future__ import division
after which 7 / 2 equals 3.5.
double slash: 7 // 2 is then floor division.

## Functions
A function is a rule for taking zero or more inputs and returning a corresponding
output.

In [94]:
def square(x):
    """docstring - explains what the function does.
    this function multiplies its input by itself"""
    return x * x

In [96]:
"""Functions are first-class - assign them to variables
and pass them into functions like any other arguments"""
def func_in_func(func):
    """calls the passed function f with 1 as its argument"""
    return func(12)
my_func = square        
x = func_in_func(my_func)
x

144

### Lambda (Anonymous Function)

In [97]:
y = func_in_func(lambda x: x * x)
y

144

In [ ]:
my_func2 = lambda x: x * x       # don't do this
def better_square(x): return x * x    # better practice

### Default Parameters

In [8]:
def my_print(message="default message"):
    print (message)
    
my_print("hello")
my_print()

hello
default message

In [10]:
def subtract(a=0, b=0):
    print (a - b)
subtract(10, 5)
subtract(0, 5)
subtract(b=5)

5
-5
-5

## Preset Functions

### range()

returns list in Python 2

In [16]:
r_lst = list(range(10))
r_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exceptions

In [14]:
"""exception. Unhandled, errors will cause
your program to crash. You can handle them using try and except:"""
try:
    print (0 / 0)
except ZeroDivisionError:
    print ("cannot divide by zero")

cannot divide by zero

## Tuples

Tuples are essentially lists, in that they are a data structure used as a container for multiple Python data elements. The difference, however, is that tuples are immutable, in that they cannot be modified in any way after being declared. They are declared using round brackets () or items separated by commas.

In [98]:
tuple_round = (1, 2, 3)
tuple_round

(1, 2, 3)

In [99]:
tuple_comma = 3, 4, 5
tuple_comma

(3, 4, 5)

In [100]:
mixed_tuple = (2, 23, "Hello", ['Hi', False])
mixed_tuple

(2, 23, 'Hello', ['Hi', False])

In [101]:
mixed_tuple[1]

23

In [102]:
mixed_tuple[3]

['Hi', False]

In [103]:
mixed_tuple[2] = 3

TypeError: 'tuple' object does not support item assignment

In [105]:
try:
    mixed_tuple[2] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

In [106]:
# Tuples are a convenient way to return multiple values from functions and assign multiple values
def sumDifference(a, b):
    return (a + b),(a - b)

sumDifference(10, 15)

(25, -5)

In [107]:
sums, diff = sumDifference(10, 15)
sums, diff

(15, -5)

In [108]:
# multiple variable assignment:
a, b = 1, 2

print(a)
print(b)

1
2

In [109]:
# Convenient for swapping
a, b = b, a
print(a)
print(b)

2
1

## Counter()

Counter takes a sequence of values and returns a dictionary with counts of similar items.

It is a good function to use when creating histograms

In [114]:
from collections import Counter
cnt = Counter(["Apple", "Orange", "Grape", "Blueberry", "Orange", "Mango", "Orange", "Blueberry" ]) 
cnt

Counter({'Apple': 1, 'Orange': 3, 'Grape': 1, 'Blueberry': 2, 'Mango': 1})

In [116]:
cnt.most_common(1)

[('Orange', 3)]

In [117]:
cnt.most_common(2)

[('Orange', 3), ('Blueberry', 2)]

## Sets

A set is a data structure that represents an collection of distinct elements. Items that already exist in the set will not be added again.

In [122]:
st = set()
st

set()

In [123]:
st.add("Hello")
st

{'Hello'}

In [124]:
st.add(10)
st

{10, 'Hello'}

In [125]:
st.add("Hello")
st

{10, 'Hello'}

In [126]:
len(st)

2

Checking if an element belongs to a set (i.e. membership test) using "in" is much faster than a list, even if it's very large

In [127]:
10 in st

True

sets are good for getting all distinct elements in a list

In [129]:
alpha_lst = ['a','b','c','a','d','j','b','y','a','z','z','q','a','a']
alpha_set = set(alpha_lst)
alpha_lst = list(alpha_set)

alpha_lst

['b', 'y', 'z', 'c', 'a', 'q', 'j', 'd']

## Control Flow

if statement. In Python, there are no brackets. Colons and whitespace determine statements

In [ ]:
x = 2
if x > 5:
    print ("greater than five")
elif  x < 5: #else if. if the above condition doesn't apply, try this (as many can be added)
    print("less than five")
else: #otherwise
    print("must be five")

ternary operator. if-then-else on one line

In [131]:
"greater or equal to 5" if x > 5 else "less than 5"

'greater or equal to 5'

while loop (Be careful of infinite loops)

In [138]:
x = 0
while x <= 20:
    print (x)
    x += 2

0
2
4
6
8
10
12
14
16
18
20

for loop. Very different from conventiional for loops. Similar to foreach loops

In [139]:
for i in range(10): #loop in range 0 to 9 where i is the index
    print (i)

0
1
2
3
4
5
6
7
8
9

In [140]:
# looping through data structures

lst = ['Hello', 0, 19, True, ["Up", "Down"]]

for ele in lst:
    print (ele)

Hello
0
19
True
['Up', 'Down']

break - quit loop entirely
continue - go to next loop iteration

In [143]:
for i in range(100):
    if i == 5:
        continue
    if i == 11:
        break
    print(i)
    
#skip 5, quit at 10

0
1
2
3
4
6
7
8
9
10

## Booleans

Conditions will return either "True" or "False" . Non existent values are given "None" (like "NULL" in other languages)

In [144]:
10 < 100

True

In [145]:
True == False

False

In [156]:
False == False

True

In [155]:
False > True

False

In [150]:
na = None
na

In [152]:
na == None

True

In [153]:
na is None

True

is - same object
== - equal value

In [158]:
if 0:
    print("Hello")

In [160]:
if 1: print("Hello")

Hello

Treated as False:
    
False
None
[] (an empty list)
{} (an empty dict)
""
set()
0
0.0

Anything else gets treated as True. 

This allows if state‐
ments to test for empty lists, strings, dictionaries, etc.

In [162]:
True and False

False

In [163]:
True or False

True

In [164]:
# all() - for all elements, return True if all True or of true value
all([True, 100, ""])

False

In [166]:
all([True, 100, "Hello"])

True

In [167]:
#any() - if there exists one True or something of True Value, return True

any(["", (), [], None, 1])

True

In [168]:
any(["", (), [], None, 0])

False