# Python Basics

S1 - Variables

## Comments

Comments are used to document code, add notes to the code, etc.

Any text within or after a comment tag is ignored when ran.

There are two ways to comment in Python:

Single line comments - Use "#" symbol to indicate a single line comment. Anything past the # on the same line will be rendered as a comment

In [10]:
# Single 
print("Hello") #line
# Comment

Hello

## Variables
Variables are used as a means to store values for making an easy reference to it.

In [6]:
x = 1
y = 2
print(x, y)

1 2

Variables are treated like the data type they contain

In [7]:
z1 = 1 + 2
z2 = x + y
print(1 + 2, z1, z2)

3 3 3

### Rules
* Variables can only contain alpha-numeric characters and underscores (A-Z, a-z, 0-9, and _ )
* Variables must start with a letter (A-Z, a-z) or the underscore character (_)
* Variables cannot start with a number (0-9)
* Variable names are case-sensitive (e.g. XYZ, xyz, XyZ are three different variables)

In [ ]:
a = 1 #Valid
Abc = 1 #Valid
_VarVal = 1 #Valid
1st = 1 #Invalid (will throw an error)
@!^ = 1 #Invalid

## Data Types

$$c = \sqrt{a^2 + b^2}$$

## Strings

In [3]:
str = 'Single Quoted'
str

'Single Quoted'

In [4]:
str = "Or Double Quoted"
str

'Or Double Quoted'

## Lists

In [16]:
lst = [1,3,25,54]
lst

[1, 3, 25, 54]

In [13]:
["Hey", "Hello"]

['Hey', 'Hello']

### Slicing

In [17]:
lst[0]

1

In [14]:
lst [:]

[1, 3, 25, 54, 7, 8, 5]

Lists can contain different types, even lists

In [15]:
lst [:6]

[1, 3, 25, 54, 7, 8]

In [16]:
lst [4:]

[7, 8, 5]

Lists can contain different types, even lists

In [14]:
["Hi", 123, [3,"Hello", ]]

['Hi', 123, [3, 'Hello']]

## Appending items to lists


* append() - add a single item to a list.
* extend() - add multiple items to a list. Pass a list of items

In [12]:
lst.extend([7,8])
lst

[1, 3, 25, 54, 7, 8]

In [13]:
lst.append(5) # 
lst

[1, 3, 25, 54, 7, 8, 5]

## Printing

In [6]:
x = 'Hello'
print(x) # for python 3

Hello

In [8]:
print x # for python 2

In [9]:
x #for Jupyter notebook (last line in cell)

'Hello'

### Using Format

With brackets only (printed in the order parameters are provided in the format method)

In [11]:
name = "Joe"
id = "1234"

print('My name is: {}. My ID is: {}'.format(name, id))

My name is: Joe. My ID is: 1234

With variables in brackets

In [12]:
v1 = "Brooklyn"
v2 = "New York"
v3 = "12345"

print('My zip code is: {zip}, my city is: {city}, my state is {state}'.format(city=v1, state=v2, zip=v3))

My zip code is: 12345, my city is: Brooklyn, my state is New York