# Python Basics

This notebook provides you with some of the basics of the Python language.

[Introduction](#introduction)  
[Syntax](#syntax)  
[Comments](#comments)  
[Variables](#variables)

## Introduction <a name="introduction"></a>

Python is a high-level, general-purpose programming language. It was created by Guido van Rossum and first released in 1991.  

Python's design philosophy emphasizes code readability with its use of significant whitespace and its object-oriented approach aim to help programmers write clear, logical code.

It is an interpreted language, meaning that code is read and executed line by line instead as opposed to compiling it.

Its high-level built in data structures and a number of extensive libraries.

It is a dynamically typed language, which is a language associated with run-time values, meaning you can write code a little quicker because you do not have to specify variable types every time they are declared.

As of late 2019, Python has become one of the most widley used programming languages and its popularity continues to rise.

## Syntax <a name="syntax"></a>

Unlike most programming languages, statements and code blocks are delimited by carriage returns (new lines) and indentation rather than curly braces, "begin/end" keywords or semicolons.

For example, in C++, a print statement, a variable assignment and an if...else statement might look like:

```C++
cout << "Hello"; 
bool i = false;
if (i == true) 
{ 
    cout << "Yes"; 
}
else
{ 
    cout << "No"; 
}
```

Since statements are delimited by semicolons and the blocks in the if...else statements by curly brackets, the code can be rearranged to a single line as:

```C++
bool i = false; cout << "Hello"; if (i == true) { cout << "Yes"; } else { cout << "No"; }
```

However, a similar program in Python would look like:

```python 
print("Hello")
i = True
if i == True:
    print("Yes")
else:
    print("No")
```

With Python, the syntax is stricter.

The first print statement and the variable declaration are delimited by a carriage return. They need to be on separate lines for the program to be parsed correctly.

The if and else statements also have to be on separate lines and anything in their repective code blocks must be indented with four spaces.

Consequently, nested statements need to be indented further:

```python 
print("Hello")
i = True
j = False
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")
```

However, code blocks with single statements can be written inline:

```python 
print("Hello")
i = True
j = False
if i == True:
    if j == True: print("Yes")
    else: print("No")
else: print("No")
```

The nuances of Python's syntax will be revealed as different concepts are explained.

More on if...else statements is explained in ##ANCHOR.

In [5]:
print("Hello")
i = True
if i == True:
    print("Yes")
else:
    print("No")

Hello
Yes

In [7]:
print("Hello")
i = True
if i == True: print("Yes")
else: print("No")

Hello
Yes

In [8]:
print("Hello")
i = True
j = False
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")

Hello
No

In [10]:
"""Will Not Run"""
print("Hello")
i = True j = False #Invalid Syntax
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")

SyntaxError: invalid syntax (<ipython-input-10-097ca16a3983>, line 3)

## Comments <a name="comments"></a>

Comments are used to document code, add notes to the code, etc.

Any text within or after a comment tag is ignored when ran.

There are two ways to comment in Python:

### Single line comments
Use the "#" symbol to indicate a single line comment. Anything after the "#" on the same line will be rendered as a comment

In [10]:
# Single 
print("Hello") #line
# Comment

Hello

### Multiline Comments
Using """ or 3 quotation marks next to eachother will begin and end multiline comments.

Anything in between two sets of these 3 quotation marks will be treated as a comment, regardless of how many lines they span.

In [4]:
"""

Anything in between these sets of 3 quotation marks

will be commented out

print("Hello")

r = 5 + 7

"""

'\n\nAnything in between these sets of 3 quotation marks\n\nwill be commented out\n\nprint("Hello")\n\nr = 5 + 7\n\n'

## Variables <a name="variables"></a>
Variables are used as a means to store values for making an easy reference to it.

In [6]:
x = 1
y = 2
print(x, y)

1 2

Variables are treated like the data type they contain

In [7]:
z1 = 1 + 2
z2 = x + y
print(1 + 2, z1, z2)

3 3 3

### Rules
* Variables can only contain alpha-numeric characters and underscores (A-Z, a-z, 0-9, and _ )
* Variables must start with a letter (A-Z, a-z) or the underscore character (_)
* Variables cannot start with a number (0-9)
* Variable names are case-sensitive (e.g. XYZ, xyz, XyZ are three different variables)

In [ ]:
a = 1 #Valid
Abc = 1 #Valid
_VarVal = 1 #Valid
1st = 1 #Invalid (will throw an error)
@!^ = 1 #Invalid

## Data Types <a name="dataTypes"></a>

Like all programming languages, Python offers several built-in data types

### Strings

A string is a sequence of characters treated as a single piece of data.

Strings are typically used to represent text and any character within a string (letter, number, emoji, etc.) is treated the same way.

Strings can be initiated with characters between two single quotes

In [3]:
str = 'This is a string'
str

'This is a string'

Or with characters between two double quotes

In [4]:
str = "This is a 2nd string"
str

'This is a 2nd string'

Also, not to be confused with comments, multi-line strings can be created when characters are between two sets of triple quotes

In [5]:
multi_line_string = """first line.
second line
third line"""
multi_line_string

'first line.\nsecond line\nthird line'

#### Escape Characters

Escape characters are a sequence of characters that invokes an alternative interpretation on the following characters in a character sequence.

This allows for special characters characters and that are normally illegal in a string, to be interpreted as intended.

Backslashes (\\) are used to begin encoding special characters. 

Despite being a combination of two characters, an escape character counts as one character.

Some common escape characters include:

\\\\ - Backslash

\\\' - Single quote

\\\" - Double quote

\\n - new line

\\r - carriage return

In [8]:
# A string with the tab character counts as a single character
tab = "Hello\tWorld"
print(tab)

Hello	World

In [10]:
# A string with multiple escape characters
multi = "This is the first line\nThis is the second with some \'Single Quotes\'\nand here is the third line with \"Double Quotes\""
print(multi)

This is the first line
This is the second with some 'Single Quotes'
and here is the third line with "Double Quotes"

 #### Raw string literals 
 
 Raw string literals store characters as strings exactly (or "literally") as they are typed.
 
 This means that escape characters are not treated as escape characters in the string.
 
 Raw string literals are intitiated using r"" or r''

In [2]:
print("Printed\tWith\tTabs") # '\t' created as an escape character
print(r"Printed\tWithout\tTabs") # actual characters '\' and 't' are printed

Printed	With	Tabs
Printed\tWithout\tTabs

#### String Methods

String objects come with many preset methods that allow for manipulation of the string contained and its characters.

In [1]:
strn = 'Hello# World? Greetings!' #string we will be manipulating

str.lower() - Make all characters lowercase

In [2]:
strn.lower()

'hello# world? greetings!'

str.upper() - Make all characters uppercase

In [4]:
strn.upper()

'HELLO# WORLD? GREETINGS!'

str.split() - Split a string on a character or a string

This results in a list of strings based on the split. The character or string used as the split is removed and all the strings on either side of the split is stored as list elements

In [2]:
# Split on the '#' symbol. Since there is only one in the string, a list of two strings will be created
strn.split("#")

['Hello', ' World? Greetings!']

In [5]:
# Access the second element in the resulting solit list
strn.split('#')[1]

' World? Greetings!'

In [6]:
# Split string on spaces. There are two spaces so a list of three strings will be created
strn.split(" ")

['Hello#', 'World?', 'Greetings!']

In [9]:
# Strings are split on spaces by default
strn.split()

['Hello#', 'World?', 'Greetings!']

str.capitalize() - Capitalize the first character of a string and make all other characters lowercase

In [3]:
strn.capitalize()

'Hello# world? greetings!'

\<separator\>.join(\<iterable\>) - join strings in an iterable object together on a separator into a single string

The separator can be a character or a string that will be used to separate all the strings in the iterator when they are combined

If the iterator contains anything other than a string, it will throw an error

In [6]:
strngs = ["Hello!", "How", "are", "you", "?"] #list of strings and characters

In [7]:
" ".join(strngs) # Join list items with space

'Hello! How are you ?'

In [8]:
"-".join(strngs) #Join list items with dash

'Hello!-How-are-you-?'

In [9]:
"SPLIT".join(strngs) #Join list items with the word SPLIT

'Hello!SPLITHowSPLITareSPLITyouSPLIT?'

In [10]:
" ".join(("Hello", "there,", "World")) #Join tuple items on space

'Hello there, World'

In [12]:
#Join dictionary items on space
#It will only join the Keys together 
" ".join({"Hello" : "my", "name": "is", "John":"Smith"})

'Hello name John'

str.startswith() - Tests if a string starts with what is passed in the parameter. A string or an iterable can be passed into the function. The function is also case sensitive.

Returns a boolean: True if it does match and False if it does not. If an iterable is passed, and if at least one of the elements match, it returns True

In [17]:
#Does the beginning of the string start with "Hello"
strn.startswith("Hello")

True

In [18]:
#Does the beginning of the string start with "hello" (lowercase)
strn.startswith("hello")

False

In [21]:
#Does the beginning of the string start with either "Hello" or "hello"
strn.startswith(("Hello", "hello"))

True

str.strip() - Remove all indicated characters from the beginning and end of a string

By default, white space (space characters) are removed

If any character or string of characters is passed as a parameter, they will be removed.

The function will remove all indicated characters until a character not indicated is reached

In [2]:
strn = "     @ @ @White space@    "
strn

'     @ @ @White space@    '

In [3]:
# Remove space characters from either end of the string. Note how it keeps the spaces after the @ symbol
strn.strip()

'@ @ @White space@'

In [4]:
# Remove both space characters and @ symbols from from either end of the string.

strn.strip(' @')

'White space'

#### String Slicing

In Python, strings are treated like lists, in that each character in the string is treated like elements in a list.

The same operations used to access elements in lists can be used to access characters in strings.

In [1]:
x = 'Hello there World!!'
x

'Hello there World!!'

Accessing individual characters by index

In [7]:
# First Character
x[0]

'H'

In [8]:
# Third Character
x[2]

'l'

Characters at the end of the string can be accessed using negative indices

In [2]:
# Last character
x[-1]

'!'

In [3]:
# Third to last character
x[-3]

'd'

String Slicing allows you to access a range of characters in a string at once.

This can be done by using a colon (:) between the brackets.

The notation for string slicing is str[x:y] where the x is the starting index (inclusive) and y is the last index (exclusive)

In [5]:
# Get the first to sixth characters in the string (character at index 6 is excluded)
x[0:6]

'Hello '

In [7]:
# Get the fourth to fifteenth characters in the string (character at index 15 is excluded)
x[3:15]

'lo there Wor'

In [12]:
# Get the characters from the fourtheenth-to-last character to the 
# last character (the fifteenth-to-last character is excluded)
x[-15:-1]

'o there World!'

In [17]:
# Get the characters from the twelfth-to-last character to the 
# sixth-to last character (the thriteenth-to-last character is excluded)
x[-13:-6]

'there W'

In [6]:
# Get the fourth character to the fourth-to-last character
x[3:-4]

'lo there Wor'

When the index before the colon is removed, all elements from the beginning of the string to the index after the colon is selected (the character of the element after the colon is excluded)

In [10]:
# Get the first character of the string to the sixth character
x[:6]

'Hello '

In [11]:
# Get the first character of the string to the fifth-to-last character
x[:-5]

'Hello there Wo'

Similarly, when the index after the colon is removed, all elements from the index indicated before the colon to the end of the string is selected

In [12]:
# Get the sixth character of the string to the last character
x[5:]

' there World!!'

In [13]:
# Get the fourth-to-last character to the last character
x[-4:]

'ld!!'

#### Miscellaneous String Functions

String concatenation

To concatenate strings, you can use the "+" operator between strings or string variables

In [1]:
"Hello" + "World"

'HelloWorld'

In [2]:
"Hello" + " " + "World"

'Hello World'

In [3]:
firstName = 'Johnathan'
lastName = 'Doe'
middleName = 'Q'

firstName + " " + middleName + ". " + lastName

'Johnathan Q. Doe'

String Multiplication

With the "\*" you can multiply strings like you would numbers.

The expression "string" * x will multiply "string" x times

In [4]:
"Hello" * 3

'HelloHelloHello'

String Check

Test to see if a string is contained inside another string. This is done using the "in" keyword.

Returns a Boolean value.

In [3]:
strn = "Hello, I am a sentence!"

'sentence' in strn

True

In [4]:
'John' in strn

False

## Lists

A list is an ordered collection data structure used as a container for multiple data. It is similar to arrays in other programming languages. 

Unlike tuples, lists are mutable, as in their values, order and number of elements can be changed.

A single list can be used to store mutiple data types, alsop known as a heterogeneous list.

They are declared using square brackets ([]).

In [2]:
# Declaring an empty list
emp_lst = []
emp_lst

[]

In [3]:
# Declaring a list of four numbers
num_lst = [1,3,25,54]
num_lst

[1, 3, 25, 54]

In [4]:
# Declaring a list of two strings
str_list = ["Hey", "Hello"]
str_list

['Hey', 'Hello']

In [7]:
# Heterogeneous list
# Contains four items of different data types, including a two item heterogeneous list  
hetero_lst = ["Hi", 123, [3,"Hello"], True]
hetero_lst

['Hi', 123, [3, 'Hello'], True]

In [8]:
# The len() method can give the length of a list
lst = [5,5,6,6,7,7]
len(lst)

6

In [9]:
# The sum() method can calculate the sum of all numbers in a list

sum(lst)

36

In [10]:
# sum() can only calculate the sum of integers and floats
# Using the method on a list that contains a string produces an error
lst = [3,4,5,"Hello",5]
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Accessing and Slicing

Items contained in lists can be accessed by using square bracket notation.

Accessing items in lists depends on the order in which they were put in the list. They are accessed by using numerical indices, with the first item referenced at index 0.

For a list named *lst*, accessing a single list item is completed using the notation lst[0]

In [18]:
lst = ['a','b','c','d','e']
lst

['a', 'b', 'c', 'd', 'e']

In [20]:
lst[0] # 1st element

'a'

In [21]:
lst[1] # 2nd element

'b'

In [22]:
lst[:]

['a', 'b', 'c', 'd', 'e']

In [23]:
lst [:3]

['a', 'b', 'c']

In [24]:
lst [3:]

['d', 'e']

In [23]:
lst[2:5]

['c', 'd', 'e']

In [24]:
lst[2:10]

['c', 'd', 'e']

In [25]:
lst[0] = "NEW"
lst

['NEW', 'b', 'c', 'd', 'e']

In [26]:
lst[-1]

'e'

In [27]:
lst[-2]

'd'

In [25]:
lst[-3:]

['c', 'd', 'e']

In [26]:
lst[1:-1]

['b', 'c', 'd']

"in" can be used to find eements in list. This involves examining the elements of the list one at a time (O(n)). Therefore, this is only best for relatively small lists.

In [27]:
'a' in lst

True

In [28]:
'q' in lst

False

## Nested List

In [13]:
nestList = ['blueberry', 'apple',['banana',[['PLUMB','raspberry'], 'cantaloupe']], 'pineapple']
nestList

['blueberry',
 'apple',
 ['banana', [['PLUMB', 'raspberry'], 'cantaloupe']],
 'pineapple']

In [14]:
nestList[2]

['banana', [['PLUMB', 'raspberry'], 'cantaloupe']]

In [15]:
nestList[2][1]

[['PLUMB', 'raspberry'], 'cantaloupe']

In [16]:
nestList[2][1][0]

['PLUMB', 'raspberry']

In [17]:
nestList[2][1][0][0]

'PLUMB'

## Adding items to lists


* append() - add a single item to a list.
* extend() - concatinating lists. add multiple items to a list. Pass a list of items

In [30]:
lst = [5,9,0]
lst

[5, 9, 0]

In [31]:
lst.extend([7,8])
lst

[5, 9, 0, 7, 8]

In [32]:
lst.append(5) # 
lst

[5, 9, 0, 7, 8, 5]

In [33]:
#list addition
lst = lst + [0,9,76]
lst

[5, 9, 0, 7, 8, 5, 0, 9, 76]

In [26]:
['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

You can unpack lists to variables (must be specific to number of elements in the list)

In [34]:
x, y = [1, 2]    
x, y

(1, 2)

In [37]:
x, y = [1,2,3]

ValueError: too many values to unpack (expected 2)

It’s common practice to use an underscore for a value you’re going to ignore. The underscore variable will still be assigned
but it's common practice to ignore it.

In [40]:
_, _, y = [1, 2, 3]

y

3

### Looping

In [23]:
lst = ['a','b','c','d','e']

for item in lst:
    print(item)

a
b
c
d
e

In [25]:
i=0
while( i != len(lst) ):
    print(lst[i])
    i = i + 1

a
b
c
d
e

In [28]:
#List Comprehension
[print(i) for i in lst]

a
b
c
d
e

[None, None, None, None, None]

### Repeating Lists

In [29]:
lst * 3

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

## Type()

Use type() to detectreturn the type of a variable, object or value

In [11]:
print(type(2))
print(type('r'))
print(type("hello"))
print(type(3.14))
print(type(None))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'NoneType'>

In [17]:
num = 5
fl = 5.6
strg = "bye"
def func(): print("Hello")

print(type(num))
print(type(fl))
print(type(strg))
print(type(func))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'function'>

## Printing

In [6]:
x = 'Hello'
print(x) # for python 3

Hello

In [8]:
print x # for python 2

In [9]:
x #for Jupyter notebook (last line in cell)

'Hello'

### Using Format

With brackets only (printed in the order parameters are provided in the format method)

In [11]:
name = "Joe"
id = "1234"

print('My name is: {}. My ID is: {}'.format(name, id))

My name is: Joe. My ID is: 1234

With variables in brackets

In [12]:
v1 = "Brooklyn"
v2 = "New York"
v3 = "12345"

print('My zip code is: {zip}, my city is: {city}, my state is {state}'.format(city=v1, state=v2, zip=v3))

My zip code is: 12345, my city is: Brooklyn, my state is New York

In [69]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}' #can store into variable. .format indicates the curly brackets

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

## Dictionaries

A dictionary is a data structure used as an unordered collection of values. Each item is stored as a key-value pair:

key : value

Elements in the dictionary are accessed by this key rather than an index 

They are implemented using hash tables.

In [42]:
empty_dict = {} # empty dictionary
empty_dict2 = dict() # another way to declair an empty dictionary but not preferred
empty_dict, empty_dict2

({}, {})

In [18]:
dct = {'key1':'item1','key2':'item2'}
dct

{'key1': 'item1', 'key2': 'item2'}

In [1]:
age = { "John" : 23, "Jane" : 35 }    # dictionary literal
age["John"] # lookup using square brackets

23

In [2]:
#reassign values using square brackets
age["John"] = 55
age["John"]

55

In [3]:
# Add new values using square brackets
age["Dane"] = 44
age["Dane"]

44

In [4]:
age["Bob"] = None
age["Bob"]

In [5]:
for ageV in age:
    print(ageV)

John
Jane
Dane
Bob

In [9]:
for agec in age.items():
    print("{} {}".format(agec[0], agec[1]))

John 55
Jane 35
Dane 44
Bob None

In [10]:
for key, value in age.items():
    print("{} {}".format(key, value))

John 55
Jane 35
Dane 44
Bob None

In [59]:
for ageV in age:
    print(age[ageV]) #iterate over Keys

55
35
None
44

In [60]:
for name in age.values():
    print(name) #iterate over values

55
35
None
44

In [61]:
for name, ageV in age.items():
    print(name)
    print(ageV) #Iterate over all items

John
55
Jane
35
Bob
None
Dane
44

In [19]:
dct['key1']

'item1'

In [46]:
try:
    dAge = age["Doe"]
except KeyError:
    print ("no age for that key")

no age for that key

In [47]:
"John" in age #faster for dictionary than list since it is a hash table

True

In [48]:
"Doe" in age

False

In [21]:
dct = {'str':'hello','lst':['f','l','j','o']}
dct

{'str': 'hello', 'lst': ['f', 'l', 'j', 'o']}

In [22]:
dct['lst'][3]

'o'

In [23]:
dct = {'nDict': {'keyA': 'itemA', 'keyB' : 'itemB'}, 'str':'hello'}
dct

{'nDict': {'keyA': 'itemA', 'keyB': 'itemB'}, 'str': 'hello'}

In [24]:
dct['nDict']['keyB']

'itemB'

get() method retrieves the key provided, but if the key does not exist, it returns the provided default value in stead of an exception

In [54]:
age.get("Jane", "Doesn't exist")

35

In [55]:
age.get("Doe", "Doesn't exist")

"Doesn't exist"

In [57]:
age.get("Doe") #returns None when no default provided

In [61]:
len(age)

3

In [62]:
age.keys() #returns list in python 2

dict_keys(['John', 'Jane', 'Dane'])

In [66]:
"Dane" in age.keys()

True

In [63]:
age.values() #returns list in python 2

dict_values([55, 35, 44])

In [65]:
55 in age.values()

True

In [64]:
age.items() #key value tuples; returns list in python 2

dict_items([('John', 55), ('Jane', 35), ('Dane', 44)])

Dictionary keys are immutable. Lists cannot be used as keys

In [63]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
fname, lname, email

('Christopher', 'Brooks', 'brooksch@umich.edu')

In [66]:
x = {'Christopher' : 90, 'Brooks': 37 , 'brooksch@umich.edu': 17}
fname, lname, email = x.values()
fname, lname, email

(90, 37, 17)

In [68]:
x = {'Christopher' : 90, 'Brooks': 37 , 'brooksch@umich.edu': 17}
fname, lname, email = x
fname, lname, email # Unpacked values must match number of variables

('Christopher', 'Brooks', 'brooksch@umich.edu')

## defaultdict
A type of dictionary that automatically adds a value when you try to look up a key it doesn't contain for it using a zero-argument function provided when created

These are useful when using dictionaries to get results by some key and not having to check every time to see if the key exists yet.

In [75]:
# Ex. Foods in a list of foods
foods = ["Pie","Pizza","Salad","Yogurt","Soup","Salad"]
from collections import defaultdict
food_counts = defaultdict(int)          # int() produces 0
for food in foods:
    food_counts[food] += 1
food_counts

defaultdict(int, {'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1})

In [77]:
#With a regular dictionary
food_counts_reg = {}
for food in foods:
    if food in food_counts_reg:
        food_counts_reg[food] += 1
    else:
        food_counts_reg[food] = 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [78]:
food_counts_reg = {}
for food in foods:
    try:
        food_counts_reg[food] += 1
    except KeyError:
        food_counts_reg[food] = 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [80]:
food_counts_reg = {}
for food in foods:
    previous_count = food_counts_reg.get(food, 0)
    food_counts_reg[food] = previous_count + 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [ ]:
#They can also be used with list, dict or custom functions:

In [82]:
def_list = defaultdict(list)             # list() produces an empty list
def_list[2].append("Hello")
def_list

defaultdict(list, {2: ['Hello']})

In [83]:
def_dict = defaultdict(dict)             # dict() produces an empty dictionary
def_dict["John"]["FavFood"] = "Pasta"
def_dict

defaultdict(dict, {'John': {'FavFood': 'Pasta'}})

In [88]:
def_cust = defaultdict(lambda: [3, 4, 20])
def_cust[7][2] = 1                       
def_cust

defaultdict(<function __main__.<lambda>()>, {7: [3, 4, 1]})

In [90]:
#  Dictionaries are a simple way to represent structured data:
user = {
    "userName" : "jDoe",
    "desc" : "Cool Guy",
    "age" : 23,
    "favFoods" : ["Pasta", "Pizza"]
}
user

{'userName': 'jDoe',
 'desc': 'Cool Guy',
 'age': 23,
 'favFoods': ['Pasta', 'Pizza']}

## Modules

In [1]:
import re
import matplotlib.pyplot as plt
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

Python 2.7 uses floor division by default, so that 7 / 2 equals 3.
from __future__ import division
after which 7 / 2 equals 3.5.
double slash: 7 // 2 is then floor division.

### Date and Time

In [1]:
import datetime as dt
import time as tm

In [76]:
tm.time() #time in seconds since January 1st, 1970 (epoch)

1595556414.2651017

In [84]:
dt.datetime.fromtimestamp(tm.time())

datetime.datetime(2020, 7, 23, 22, 23, 7, 11067)

In [5]:
dt.datetime.now() #same result

datetime.datetime(2020, 8, 2, 20, 6, 47, 960966)

In [4]:
dt.date.today()

datetime.date(2020, 8, 2)

In [93]:
dtnow = dt.datetime.now()
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second, dtnow.microsecond, dtnow.tzinfo

(2020, 7, 23, 22, 26, 35, 608547, None)

timedelta - duration expressing the difference between two dates

In [3]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

In [6]:
dt.date.today() - delta # date 100 days ago

datetime.date(2020, 4, 24)

In [7]:
dt.date.today() + delta # date 100 days from now

datetime.date(2020, 11, 10)

## Functions
A function is a rule for taking zero or more inputs and returning a desired output when called.

It is a means to allow blocks of code to be called multiple times without having to rewrite them.

In [94]:
def square(x):
    """docstring - explains what the function does.
    this function multiplies its input by itself"""
    return x * x

In [96]:
"""Functions are first-class - assign them to variables
and pass them into functions like any other arguments"""
def func_in_func(func):
    """calls the passed function f with 1 as its argument"""
    return func(12)
my_func = square        
x = func_in_func(my_func)
x

144

### Lambda (Anonymous Function)

In [97]:
y = func_in_func(lambda x: x * x)
y

144

In [ ]:
my_func2 = lambda x: x * x       # don't do this
def better_square(x): return x * x    # better practice

In [8]:
add_first_two = lambda a, b, c : a + b

In [9]:
add_first_two(100,23, 827632)

123

Lambdas are best used as single line functions that are used once

In [12]:
for item in map(lambda x: x * 2, [1,2,3,4]):
    print(item)

2
4
6
8

In [14]:
def double(x):
    return x * 2

for item in map(double, [1,2,3,4]):
    print (item)

2
4
6
8

### Default Parameters

In [8]:
def my_print(message="default message"):
    print (message)
    
my_print("hello")
my_print()

hello
default message

In [10]:
def subtract(a=0, b=0):
    print (a - b)
subtract(10, 5)
subtract(0, 5)
subtract(b=5)

5
-5
-5

Functions can be created to accept optional parameters if they are given default values.

In [7]:
def add_or_sub(x, y, z=None, add=True):
    third = 0
    if(z!=None):
        third = z
        
    if (add):
        return x + y + third
    else:
        return x - y - third
    
print(add_or_sub(1, 2))
print(add_or_sub(1, 2, 3))
print(add_or_sub(1, 2, 3, False))
print(add_or_sub(1, 2, add=False)) #Parameters can be excluded if parameters not in order are indicated

3
6
-4
-1

## Preset Functions

### range()

returns list in Python 2

In [16]:
r_lst = list(range(10))
r_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exceptions

In [14]:
"""exception. Unhandled, errors will cause
your program to crash. You can handle them using try and except:"""
try:
    print (0 / 0)
except ZeroDivisionError:
    print ("cannot divide by zero")

cannot divide by zero

## Tuples

Tuples are essentially lists, in that they are a data structure used as a container for multiple Python data elements. The difference, however, is that tuples are immutable, in that they cannot be modified in any way after being declared. They are declared using round brackets () or items separated by commas.

In [19]:
tuple_round = (1, 2, 3)
tuple_round

(1, 2, 3)

In [20]:
print(type(tuple_round))

<class 'tuple'>

In [99]:
tuple_comma = 3, 4, 5
tuple_comma

(3, 4, 5)

In [100]:
mixed_tuple = (2, 23, "Hello", ['Hi', False])
mixed_tuple

(2, 23, 'Hello', ['Hi', False])

In [101]:
mixed_tuple[1]

23

In [102]:
mixed_tuple[3]

['Hi', False]

In [103]:
mixed_tuple[2] = 3 # Will throw an error since tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [105]:
try:
    mixed_tuple[2] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

In [106]:
# Tuples are a convenient way to return multiple values from functions and assign multiple values
def sumDifference(a, b):
    return (a + b),(a - b)

sumDifference(10, 15)

(25, -5)

Tuples are immutable because they lack some functionality that lists have.

As a result, tuples are smaller in size.

In [3]:
from sys import getsizeof # Method used to get size of objects in bytes
getsizeof([1,2,3])

88

In [2]:
getsizeof((1,2,3))

72

In [107]:
sums, diff = sumDifference(10, 15)
sums, diff

(15, -5)

In [108]:
# multiple variable assignment:
a, b = 1, 2

print(a)
print(b)

1
2

In [109]:
# Convenient for swapping
a, b = b, a
print(a)
print(b)

2
1

## Counter()

Counter takes a sequence of values and returns a dictionary with counts of similar items.

It is a good function to use when creating histograms

In [114]:
from collections import Counter
cnt = Counter(["Apple", "Orange", "Grape", "Blueberry", "Orange", "Mango", "Orange", "Blueberry" ]) 
cnt

Counter({'Apple': 1, 'Orange': 3, 'Grape': 1, 'Blueberry': 2, 'Mango': 1})

In [116]:
cnt.most_common(1)

[('Orange', 3)]

In [117]:
cnt.most_common(2)

[('Orange', 3), ('Blueberry', 2)]

## Sets

A set is a data structure that represents an collection of distinct elements. Items that already exist in the set will not be added again.

In [122]:
st = set()
st

set()

In [123]:
st.add("Hello")
st

{'Hello'}

In [124]:
st.add(10)
st

{10, 'Hello'}

In [125]:
st.add("Hello")
st

{10, 'Hello'}

In [126]:
len(st)

2

Checking if an element belongs to a set (i.e. membership test) using "in" is much faster than a list, even if it's very large

In [127]:
10 in st

True

sets are good for getting all distinct elements in a list

In [129]:
alpha_lst = ['a','b','c','a','d','j','b','y','a','z','z','q','a','a']
alpha_set = set(alpha_lst)
alpha_lst = list(alpha_set)

alpha_lst

['b', 'y', 'z', 'c', 'a', 'q', 'j', 'd']

## Control Flow

if statement. In Python, there are no brackets. Colons and whitespace determine statements

In [ ]:
x = 2
if x > 5:
    print ("greater than five")
elif  x < 5: #else if. if the above condition doesn't apply, try this (as many can be added)
    print("less than five")
else: #otherwise
    print("must be five")

ternary operator. if-then-else on one line

In [131]:
"greater or equal to 5" if x > 5 else "less than 5"

'greater or equal to 5'

while loop (Be careful of infinite loops)

In [138]:
x = 0
while x <= 20:
    print (x)
    x += 2

0
2
4
6
8
10
12
14
16
18
20

for loop. Very different from conventiional for loops. Similar to foreach loops

In [139]:
for i in range(10): #loop in range 0 to 9 where i is the index
    print (i)

0
1
2
3
4
5
6
7
8
9

In [140]:
# looping through data structures

lst = ['Hello', 0, 19, True, ["Up", "Down"]]

for ele in lst:
    print (ele)

Hello
0
19
True
['Up', 'Down']

break - quit loop entirely
continue - go to next loop iteration

In [143]:
for i in range(100):
    if i == 5:
        continue
    if i == 11:
        break
    print(i)
    
#skip 5, quit at 10

0
1
2
3
4
6
7
8
9
10

## Booleans

Conditions will return either "True" or "False" . Non existent values are given "None" (like "NULL" in other languages)

In [144]:
10 < 100

True

In [145]:
True == False

False

In [156]:
False == False

True

In [155]:
False > True

False

In [150]:
na = None
na

In [152]:
na == None

True

In [153]:
na is None

True

is - same object
== - equal value

In [158]:
if 0:
    print("Hello")

In [160]:
if 1: print("Hello")

Hello

Treated as False:
    
False
None
[] (an empty list)
{} (an empty dict)
""
set()
0
0.0

Anything else gets treated as True. 

This allows if state‐
ments to test for empty lists, strings, dictionaries, etc.

In [162]:
True and False

False

In [163]:
True or False

True

In [164]:
# all() - for all elements, return True if all True or of true value
all([True, 100, ""])

False

In [166]:
all([True, 100, "Hello"])

True

In [167]:
#any() - if there exists one True or something of True Value, return True

any(["", (), [], None, 1])

True

In [168]:
any(["", (), [], None, 0])

False

## stdin and stdout

sys.argv is the list of command-line arguments
sys.argv[0] is the name of the program itself
sys.argv[1] is a parameter supplied in the command line

Also allows for data to be piped through Python command line

I have a file called textEval.txt

Which contains the text:

Hello! If Horse had 10 apples  
and Zebra has 15,  
how many apples are there total?  
Zz  
zz  
a  
g  
4  
1  
Z  
z  
t  
g  
K  
\#  
5

In [ ]:
The | is the pipe character, which means “use the output of the left command as the input of the right command.” You can build pretty elaborate data-processing pipelines
this way.
In Windows, you would use:
type SomeFile.txt | python file1.py <arguments> | python file2.py <arguments> | ....
In a Unix system you would use:
cat SomeFile.txt | python file1.py <arguments> | python file2.py <arguments> | ....

This file takes a regular expression argument and returns the lines in the input that contain that expression

In [ ]:
# regex.py
import sys, re

regex = sys.argv[1]
# for every line passed into the script
for line in sys.stdin:
    # if it matches the regex, write it to stdout
    if re.search(regex, line):
        sys.stdout.write(line)

This file counts the number of lines in the input

In [ ]:
# lineCnt.py
import sys
count = 0
for line in sys.stdin:
    count += 1
# print goes to sys.stdout
print count


Looks for lines with numbers then returns a count
type textEval.txt | python regex.py "[0-9]" | python lineCnt.py
5

Looks for lines with the capital Z then returns a count
type textEval.txt | python regex.py "Z" | python lineCnt.py
3

Returns lines that have a capital Z
type textEval.txt | python regex.py "Z"
and Zebra has 15,
Zz
Z

Returns lines with numbers
type textEval.txt | python regex.py "[0-9]"
Hello! If Horse had 10 apples
and Zebra has 15,
4
1
5

## Text File Objects

In [ ]:
# 'r' - read-only
file_for_reading = open('reading_file.txt', 'r')

# 'w' - write (will overwrite the file if it already exists)
file_for_writing = open('writing_file.txt', 'w')

# 'a' - append (for adding to the end of an existing file)
file_for_appending = open('appending_file.txt', 'a')

# closing files when you're done
file_for_writing.close()

# Get file data then close
with open('file.txt','r') as f:
    data = function_that_gets_data_from(f)
# f has been closed
process(data)

# Closes after interating each line
starts_with_hash = 0
with open('file.txt','r') as f:
    for line in f:                  # look at each line in the file
        print(line)

## Reading CSV Files

In [29]:
import csv
with open('customers.csv', 'r') as f:
    reader = csv.reader(f, delimiter=',')
    for row in reader:
        print(row[0], row[1], row[2])

name birth_date gender
Bob 1/2/2001 M
Jane 3/4/2009 F
Kyle 2/12/1999 M

In [34]:
with open('likesDict.txt', 'r') as f:
    reader = csv.DictReader(f, delimiter=':')
    for row in reader:
        print(row["name"], row["likes"])
        
# reader.next() to skip if no headers

Jack ['pizza', 'movies']
Bill ['Long Walks']

In [36]:
newLikes = { 'Jack' : ["pizza", "movies"], "Bill" : ["Long Walks"]}
with open('likesDict.txt','a') as f:
    writer = csv.writer(f, delimiter=':')
    for name, likes in newLikes.items():
        writer.writerow([name, likes])
        
with open('likesDict.txt', 'r') as f:
    reader = csv.DictReader(f, delimiter=':')
    for row in reader:
        print(row["name"], row["likes"])

Jack ['pizza', 'movies']
Bill ['Long Walks']
Jack ['pizza', 'movies']
Bill ['Long Walks']

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [4]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [5]:
dir(list.count)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__objclass__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [6]:
dir(__builtins__) #builtin Python functions

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [7]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [ ]:
25 >= temperature >= 15:

In [ ]:
inpt = input("Enter Value:") # displays string and takes user input in prompt; stores value in varialbe

In [14]:
strng = "There"
pref = "sir"

In [15]:
print("Hello %s" % strng)

Hello There

In [16]:
print("Hello %s, %s" % (strng, pref))

Hello There, sir

In [17]:
print(f"Hello {strng}, {pref}")

Hello There, sir