## List Sortng Method

sorted(lst) - sorts the list lst in ascending order

In [8]:
lst = [1,23,5,53,7,-33,6,-6,7,88,35,73,575,-35,74,13]
lst

[1, 23, 5, 53, 7, -33, 6, -6, 7, 88, 35, 73, 575, -35, 74, 13]

In [9]:
sorted(lst)

[-35, -33, -6, 1, 5, 6, 7, 7, 13, 23, 35, 53, 73, 74, 88, 575]

In [10]:
sorted(lst, reverse=True) # reverse=True sorts the list in descending order

[575, 88, 74, 73, 53, 35, 23, 13, 7, 7, 6, 5, 1, -6, -33, -35]

In [15]:
# key - fuction applied to the elements of the list used as a key for sort comparison
# ex absolute value
sorted(lst, key=abs)

[1, 5, 6, -6, 7, 7, 13, 23, -33, 35, -35, 53, 73, 74, 88, 575]

In [16]:
# Sort list method sorts the list in place
lst

[1, 23, 5, 53, 7, -33, 6, -6, 7, 88, 35, 73, 575, -35, 74, 13]

In [17]:
lst.sort()
lst

[-35, -33, -6, 1, 5, 6, 7, 7, 13, 23, 35, 53, 73, 74, 88, 575]

In [18]:
char_list = ['z','f','c','x','j','l','o','c']
char_list.sort()
char_list

['c', 'c', 'f', 'j', 'l', 'o', 'x', 'z']

In [19]:
str_list = ['Hello','Apple', 'Melon', 'Car', 'Bakery']
str_list.sort(reverse=True)
str_list

['Melon', 'Hello', 'Car', 'Bakery', 'Apple']

In [20]:
tuple_lst = [(25,18,299),(1,200,67),(34,36,12),(19,20),(13,41,34),(19,45,33),(90,91,92)]
tuple_lst

[(25, 18, 299),
 (1, 200, 67),
 (34, 36, 12),
 (19, 20),
 (13, 41, 34),
 (19, 45, 33),
 (90, 91, 92)]

In [22]:
def secondEle(ele):
    return ele[1]

tuple_lst.sort(key=secondEle) #will sort tuples by their second element

tuple_lst

[(25, 18, 299),
 (19, 20),
 (34, 36, 12),
 (13, 41, 34),
 (19, 45, 33),
 (90, 91, 92),
 (1, 200, 67)]

## List Comprehensions

List comprehensions are used for creating a new list from another iterables.

Basic sytax:
new_list = [\_expression\_ \_for_loop\_ \_condtions\_]

In [23]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
[5 for _ in range(20)]

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [25]:
[i for i in range(50) if i % 5 == 0 and i <= 25]

[0, 5, 10, 15, 20, 25]

In [28]:
[i * 2 for i in range(20)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [4]:
odds = [i for i in range(10) if i % 2 != 0]
odds

[1, 3, 5, 7, 9]

In [5]:
sqr_odds = [i * i for i in odds]
sqr_odds

[1, 9, 25, 49, 81]

The same principal can be used to create dictionaries

In [6]:
{ i : i * 2 for i in range(15) }

{0: 0,
 1: 2,
 2: 4,
 3: 6,
 4: 8,
 5: 10,
 6: 12,
 7: 14,
 8: 16,
 9: 18,
 10: 20,
 11: 22,
 12: 24,
 13: 26,
 14: 28}

The same goes for sets as well

In [7]:
{ i for i in range(10) }

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
[i % 2 for i in range(10)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [9]:
{i % 2 for i in range(10)}

{0, 1}

Multiple for loops for pairs

In [11]:
[(i, j) for i in range(5) for j in range(5)] # i * j pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [19]:
[(i, j) for i in range(5) for j in range(5) if i > j]   # first index can be referenced in second for loop

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

## Generator

A generator is something tha can be iterated over but whose values are produced when needed. This concept is preferred when lists grow very large but only one element needs to be proocessed at a time.

A generator function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return.

This can be done using yield. The yield statement suspends function's execution and sends a value back to caller, but retains enough state to enable function to resume where it is left off. 

Return sends a specified value back to its caller whereas Yield can produce a sequence of values. We should use yield when we want to iterate over a sequence, but don’t want to store the entire sequence in memory.

When resumed, the function continues execution immediately after the last yield run. This allows its code to produce a series of values over time, rather them computing them at once and sending them back like a list.

Yield are used in Python generators.  If the body of a def contains yield, the function automatically becomes a generator function.

In [26]:
def gener(): 
    yield 1
    yield 2
    yield 3
    yield 4

In [27]:
for i in gener():
    print(i)

1
2
3
4

In [28]:
def gener_char(): 
    yield 'a'
    yield 'b'
    yield 'c'
    yield 'd'

In [29]:
for i in gener_char():
    print(i)

a
b
c
d

In [31]:
[i for i in gener_char()]

['a', 'b', 'c', 'd']

In [32]:
def gen_range(n):
    """like range() but using a generator"""
    i = 0
    while i < n:
        yield i
        i += 1

In [34]:
0[i for i in gen_range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
new_gen = (i for i in gen_range(10) if i < 5) #creates generator object based on generator
new_gen

In [40]:
[i for i in new_gen]

[0, 1, 2, 3, 4]

Only particular range is displayed on demand, often called "lazy evaluation".

In python 2, range() returns a list, while xrange() returns the generator object that must be iterated over.

In Python 3, range() is the same as xrange()

The con of lazy evaluation is that you can only iterate through a generator once. If you need to iterate through something multiple times, you’ll need to either recreate the generator each time or use a list.

Dictionaries has a method iteritems() which does lazy evaluation to yield the key-value pairs

## Randoms

The random module produces pseudorandom (deterministic) numbers based on an internal state.

random.random() produces uniform randoms

In [42]:
import random

In [43]:
random.random()

0.4204617473781582

In [44]:
random.random()

0.036129415121177844

A random number can be set with random.seed to get reproducible results

In [46]:
random.seed(100)
random.random()

0.1456692551041303

In [48]:
random.seed(100)
random.random()

0.1456692551041303

In [47]:
random.random()

0.45492700451402135

In [49]:
[random.random() for _ in range(4)]

[0.45492700451402135,
 0.7707838056590222,
 0.705513226934028,
 0.7319589730332557]

In [50]:
[random.random() for _ in range(4)]

[0.43351443489540376,
 0.8000204571334277,
 0.5329014146425713,
 0.08015370917850195]

In [51]:
random.seed(100)
[random.random() for _ in range(4)]

[0.1456692551041303,
 0.45492700451402135,
 0.7707838056590222,
 0.705513226934028]

In [52]:
random.seed(100)
[random.random() for _ in range(4)]

[0.1456692551041303,
 0.45492700451402135,
 0.7707838056590222,
 0.705513226934028]

Choose a random element from a range with randrange() (treated like range() function)

In [53]:
random.randrange(100)

93

In [54]:
random.randrange(50, 101) # from 50 to 100

72

In [61]:
random.randrange(50, 101)

59

In [56]:
random.seed(20)
random.randrange(50, 101)

96

In [57]:
random.seed(20)
random.randrange(50, 101)

96

Shuffle() will randomly reorder a list

In [65]:
lst = [i for i in range(20)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [66]:
random.shuffle(lst)
lst

[15, 19, 16, 10, 6, 1, 2, 4, 11, 17, 12, 9, 18, 14, 13, 7, 8, 0, 3, 5]

In [67]:
random.shuffle(lst)
lst

[11, 10, 12, 4, 6, 15, 7, 8, 2, 17, 16, 3, 19, 9, 13, 18, 5, 1, 14, 0]

In [68]:
random.seed(40)
random.shuffle(lst)
lst

[7, 17, 18, 1, 11, 3, 2, 0, 15, 12, 4, 19, 9, 16, 6, 8, 10, 5, 14, 13]

In [69]:
random.seed(40)
random.shuffle(lst)
lst

[2, 12, 8, 5, 7, 19, 15, 13, 3, 18, 1, 9, 16, 4, 11, 0, 17, 10, 14, 6]

choice() to randomly choose item from a list

In [71]:
fruit = ["Apple", "Grapes", "Banana", "Melon","Strawberry"]

In [72]:
random.choice(fruit)

'Melon'

In [73]:
random.choice(fruit)

'Apple'

Sample() - Randomly choose sample of elements without replacement (without duplicates)

In [75]:
nums_range = range(101)

In [76]:
random.sample(nums_range, 10) # 10 samples from the range

[22, 77, 40, 14, 32, 41, 18, 100, 65, 87]

In [77]:
nums = [i for i in nums_range]

In [78]:
random.sample(nums, 10)

[66, 12, 52, 6, 40, 93, 96, 42, 29, 94]

Sampling with replacement (i.e. duplicates)

In [80]:
[random.choice(range(100)) for _ in range(10)]

[26, 62, 55, 66, 8, 21, 74, 26, 77, 74]

## Regular Expressions (regex)

A regular expression is a sequence of symbols and characters expressing a string or pattern to be searched for within a longer piece of text. They provide a way of searching text. They are incredibly useful but also complicated.

Python has a regular expression module (re) to carry them out

In [81]:
import re

match() - does the regular expression match with the text?

In [89]:
not not re.match("Hello", "Jello")

False

In [91]:
not not re.match(".ello", "Jello")

True

In [92]:
not not re.match("[a-zA-Z]ello", "Jello")

True

search() - does the expression exist in the string?

In [95]:
not not re.search("a", "Apple Pie")

False

In [96]:
not not re.search("A", "Apple Pie")

True

In [98]:
not not re.search("[Pp]ie", "Apple Pie")

True

split() - split text on expression

In [100]:
re.split('l', "Hello World")

['He', '', 'o Wor', 'd']

In [102]:
re.split('[Ss]', "Sunny skys are nice")

['', 'unny ', 'ky', ' are nice']

In [103]:
re.split(' ', "Wonderful day outside")

['Wonderful', 'day', 'outside']

sub() - replace string with text based on expression

In [105]:
re.sub("[0-9i]", "W", "There are 2 kids playing in the park")

'There are W kWds playWng Wn the park'