# Python Basics

This notebook provides you with some of the basics of the Python language.

[Introduction](#introduction)  
[Syntax](#syntax)  
[Comments](#comments)  
[Variables](#variables)

## Introduction <a name="introduction"></a>

Python is a high-level, general-purpose programming language. It was created by Guido van Rossum and first released in 1991.  

Python's design philosophy emphasizes code readability with its use of significant whitespace and its object-oriented approach aim to help programmers write clear, logical code.

It is an interpreted language, meaning that code is read and executed line by line instead as opposed to compiling it.

Its high-level built in data structures and a number of extensive libraries.

It is a dynamically typed language, which is a language associated with run-time values, meaning you can write code a little quicker because you do not have to specify variable types every time they are declared.

As of late 2019, Python has become one of the most widley used programming languages and its popularity continues to rise.

## Syntax <a name="syntax"></a>

Unlike most programming languages, statements and code blocks are delimited by carriage returns (new lines) and indentation rather than curly braces, "begin/end" keywords or semicolons.

For example, in C++, a print statement, a variable assignment and an if...else statement might look like:

```C++
cout << "Hello"; 
bool i = false;
if (i == true) 
{ 
    cout << "Yes"; 
}
else
{ 
    cout << "No"; 
}
```

Since statements are delimited by semicolons and the blocks in the if...else statements by curly brackets, the code can be rearranged to a single line as:

```C++
bool i = false; cout << "Hello"; if (i == true) { cout << "Yes"; } else { cout << "No"; }
```

However, a similar program in Python would look like:

```python 
print("Hello")
i = True
if i == True:
    print("Yes")
else:
    print("No")
```

With Python, the syntax is stricter.

The first print statement and the variable declaration are delimited by a carriage return. They need to be on separate lines for the program to be parsed correctly.

The if and else statements also have to be on separate lines and anything in their repective code blocks must be indented with four spaces.

Consequently, nested statements need to be indented further:

```python 
print("Hello")
i = True
j = False
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")
```

However, code blocks with single statements can be written inline:

```python 
print("Hello")
i = True
j = False
if i == True:
    if j == True: print("Yes")
    else: print("No")
else: print("No")
```

The nuances of Python's syntax will be revealed as different concepts are explained.

More on if...else statements is explained in ##ANCHOR.

In [5]:
print("Hello")
i = True
if i == True:
    print("Yes")
else:
    print("No")

Hello
Yes

In [7]:
print("Hello")
i = True
if i == True: print("Yes")
else: print("No")

Hello
Yes

In [8]:
print("Hello")
i = True
j = False
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")

Hello
No

In [10]:
"""Will Not Run"""
print("Hello")
i = True j = False #Invalid Syntax
if i == True:
    if j == True:
        print("Yes")
    else:
        print("No")
else:
    print("No")

SyntaxError: invalid syntax (<ipython-input-10-097ca16a3983>, line 3)

## Comments <a name="comments"></a>

Comments are used to document code, add notes to the code, etc.

Any text within or after a comment tag is ignored when ran.

There are two ways to comment in Python:

### Single line comments
Use the "#" symbol to indicate a single line comment. Anything after the "#" on the same line will be rendered as a comment

In [10]:
# Single 
print("Hello") #line
# Comment

Hello

### Multiline Comments
Using """ or 3 quotation marks next to eachother will begin and end multiline comments.

Anything in between two sets of these 3 quotation marks will be treated as a comment, regardless of how many lines they span.

In [4]:
"""

Anything in between these sets of 3 quotation marks

will be commented out

print("Hello")

r = 5 + 7

"""

'\n\nAnything in between these sets of 3 quotation marks\n\nwill be commented out\n\nprint("Hello")\n\nr = 5 + 7\n\n'

## Variables <a name="variables"></a>
Variables are used as a means to store values for making an easy reference to it.

In [6]:
x = 1
y = 2
print(x, y)

1 2

Variables are treated like the data type they contain

In [7]:
z1 = 1 + 2
z2 = x + y
print(1 + 2, z1, z2)

3 3 3

### Rules
* Variables can only contain alpha-numeric characters and underscores (A-Z, a-z, 0-9, and _ )
* Variables must start with a letter (A-Z, a-z) or the underscore character (_)
* Variables cannot start with a number (0-9)
* Variable names are case-sensitive (e.g. XYZ, xyz, XyZ are three different variables)

In [ ]:
a = 1 #Valid
Abc = 1 #Valid
_VarVal = 1 #Valid
1st = 1 #Invalid (will throw an error)
@!^ = 1 #Invalid

## Data Types <a name="dataTypes"></a>

Like all programming languages, Python offers several built-in data types

### Strings

A string is a sequence of characters treated as a single piece of data.

Strings are typically used to represent text and any character within a string (letter, number, emoji, etc.) is treated the same way.

Strings can be initiated with characters between two single quotes

In [3]:
str = 'This is a string'
str

'This is a string'

Or with characters between two double quotes

In [4]:
str = "This is a 2nd string"
str

'This is a 2nd string'

Also, not to be confused with comments, multi-line strings can be created when characters are between two sets of triple quotes

In [5]:
multi_line_string = """first line.
second line
third line"""
multi_line_string

'first line.\nsecond line\nthird line'

#### Escape Characters

Escape characters are a sequence of characters that invokes an alternative interpretation on the following characters in a character sequence.

This allows for special characters characters and that are normally illegal in a string, to be interpreted as intended.

Backslashes (\\) are used to begin encoding special characters. 

Despite being a combination of two characters, an escape character counts as one character.

Some common escape characters include:

\\\\ - Backslash

\\\' - Single quote

\\\" - Double quote

\\n - new line

\\r - carriage return

In [8]:
# A string with the tab character counts as a single character
tab = "Hello\tWorld"
print(tab)

Hello	World

In [10]:
# A string with multiple escape characters
multi = "This is the first line\nThis is the second with some \'Single Quotes\'\nand here is the third line with \"Double Quotes\""
print(multi)

This is the first line
This is the second with some 'Single Quotes'
and here is the third line with "Double Quotes"

 #### Raw string literals 
 
 Raw string literals store characters as strings exactly (or "literally") as they are typed.
 
 This means that escape characters are not treated as escape characters in the string.
 
 Raw string literals are intitiated using r"" or r''

In [2]:
print("Printed\tWith\tTabs") # '\t' created as an escape character
print(r"Printed\tWithout\tTabs") # actual characters '\' and 't' are printed

Printed	With	Tabs
Printed\tWithout\tTabs

#### String Methods

String objects come with many preset methods that allow for manipulation of the string contained and its characters.

In [1]:
strn = 'Hello# World? Greetings!' #string we will be manipulating

str.lower() - Make all characters lowercase

In [2]:
strn.lower()

'hello# world? greetings!'

str.upper() - Make all characters uppercase

In [4]:
strn.upper()

'HELLO# WORLD? GREETINGS!'

str.split() - Split a string on a character or a string

This results in a list of strings based on the split. The character or string used as the split is removed and all the strings on either side of the split is stored as list elements

In [2]:
# Split on the '#' symbol. Since there is only one in the string, a list of two strings will be created
strn.split("#")

['Hello', ' World? Greetings!']

In [5]:
# Access the second element in the resulting solit list
strn.split('#')[1]

' World? Greetings!'

In [6]:
# Split string on spaces. There are two spaces so a list of three strings will be created
strn.split(" ")

['Hello#', 'World?', 'Greetings!']

In [9]:
# Strings are split on spaces by default
strn.split()

['Hello#', 'World?', 'Greetings!']

str.capitalize() - Capitalize the first character of a string and make all other characters lowercase

In [3]:
strn.capitalize()

'Hello# world? greetings!'

\<separator\>.join(\<iterable\>) - join strings in an iterable object together on a separator into a single string

The separator can be a character or a string that will be used to separate all the strings in the iterator when they are combined

If the iterator contains anything other than a string, it will throw an error

In [6]:
strngs = ["Hello!", "How", "are", "you", "?"] #list of strings and characters

In [7]:
" ".join(strngs) # Join list items with space

'Hello! How are you ?'

In [8]:
"-".join(strngs) #Join list items with dash

'Hello!-How-are-you-?'

In [9]:
"SPLIT".join(strngs) #Join list items with the word SPLIT

'Hello!SPLITHowSPLITareSPLITyouSPLIT?'

In [10]:
" ".join(("Hello", "there,", "World")) #Join tuple items on space

'Hello there, World'

In [12]:
#Join dictionary items on space
#It will only join the Keys together 
" ".join({"Hello" : "my", "name": "is", "John":"Smith"})

'Hello name John'

str.startswith() - Tests if a string starts with what is passed in the parameter. A string or an iterable can be passed into the function. The function is also case sensitive.

Returns a boolean: True if it does match and False if it does not. If an iterable is passed, and if at least one of the elements match, it returns True

In [17]:
#Does the beginning of the string start with "Hello"
strn.startswith("Hello")

True

In [18]:
#Does the beginning of the string start with "hello" (lowercase)
strn.startswith("hello")

False

In [21]:
#Does the beginning of the string start with either "Hello" or "hello"
strn.startswith(("Hello", "hello"))

True

str.strip() - Remove all indicated characters from the beginning and end of a string

By default, white space (space characters) are removed

If any character or string of characters is passed as a parameter, they will be removed.

The function will remove all indicated characters until a character not indicated is reached

In [2]:
strn = "     @ @ @White space@    "
strn

'     @ @ @White space@    '

In [3]:
# Remove space characters from either end of the string. Note how it keeps the spaces after the @ symbol
strn.strip()

'@ @ @White space@'

In [4]:
# Remove both space characters and @ symbols from from either end of the string.

strn.strip(' @')

'White space'

#### String Slicing

In Python, strings are treated like lists, in that each character in the string is treated like elements in a list.

The same operations used to access elements in lists can be used to access characters in strings.

In [1]:
x = 'Hello there World!!'
x

'Hello there World!!'

Accessing individual characters by index

In [7]:
# First Character
x[0]

'H'

In [8]:
# Third Character
x[2]

'l'

Characters at the end of the string can be accessed using negative indices

In [2]:
# Last character
x[-1]

'!'

In [3]:
# Third to last character
x[-3]

'd'

String Slicing allows you to access a range of characters in a string at once.

This can be done by using a colon (:) between the brackets.

The notation for string slicing is str[x:y] where the x is the starting index (inclusive) and y is the last index (exclusive)

In [5]:
# Get the first to sixth characters in the string (character at index 6 is excluded)
x[0:6]

'Hello '

In [7]:
# Get the fourth to fifteenth characters in the string (character at index 15 is excluded)
x[3:15]

'lo there Wor'

In [12]:
# Get the characters from the fourtheenth-to-last character to the 
# second-to-last character (the last character is excluded)
x[-15:-1]

'o there World!'

In [17]:
# Get the characters from the twelfth-to-last character to the 
# seventh-to last character (the sixth-to-last character is excluded)
x[-13:-6]

'there W'

In [6]:
# Get the fourth character to the fifth-to-last character (the fourth-to-last character is excluded)
x[3:-4]

'lo there Wor'

When the index before the colon is removed, all elements from the beginning of the string to the index after the colon is selected (the character of the element after the colon is excluded)

In [10]:
# Get the first character of the string to the sixth character
x[:6]

'Hello '

In [11]:
# Get the first character of the string to the sixth-to-last character
x[:-5]

'Hello there Wo'

Similarly, when the index after the colon is removed, all elements from the index indicated before the colon to the end of the string is selected

In [12]:
# Get the sixth character of the string to the last character
x[5:]

' there World!!'

In [13]:
# Get the fourth-to-last character to the last character
x[-4:]

'ld!!'

#### Miscellaneous String Functions

String concatenation

To concatenate strings, you can use the "+" operator between strings or string variables

In [1]:
"Hello" + "World"

'HelloWorld'

In [2]:
"Hello" + " " + "World"

'Hello World'

In [3]:
firstName = 'Johnathan'
lastName = 'Doe'
middleName = 'Q'

firstName + " " + middleName + ". " + lastName

'Johnathan Q. Doe'

String Multiplication

With the "\*" you can multiply strings like you would numbers.

The expression "string" * x will multiply "string" x times

In [4]:
"Hello" * 3

'HelloHelloHello'

String Check

Test to see if a string is contained inside another string. This is done using the "in" keyword.

Returns a Boolean value.

In [3]:
strn = "Hello, I am a sentence!"

'sentence' in strn

True

In [4]:
'John' in strn

False

## Lists

A list is an ordered collection data structure used as a container for multiple data. It is similar to arrays in other programming languages. 

Unlike tuples, lists are mutable, as in their values, order and number of elements can be changed.

A single list can be used to store mutiple data types, alsop known as a heterogeneous list.

They are declared using square brackets ([]).

In [2]:
# Declaring an empty list
emp_lst = []
emp_lst

[]

In [3]:
# Declaring a list of four numbers
num_lst = [1,3,25,54]
num_lst

[1, 3, 25, 54]

In [4]:
# Declaring a list of two strings
str_list = ["Hey", "Hello"]
str_list

['Hey', 'Hello']

In [7]:
# Heterogeneous list
# Contains four items of different data types, including a two item heterogeneous list  
hetero_lst = ["Hi", 123, [3,"Hello"], True]
hetero_lst

['Hi', 123, [3, 'Hello'], True]

In [6]:
# The len() method can give the length of a list
lst = [5,5,6,6,7,7]
len(lst)

6

In [7]:
# The sum() method can calculate the sum of all numbers in a list

sum(lst)

36

In [8]:
# sum() can only calculate the sum of integers and floats
# Using the method on a list that contains a string produces an error
lst = [3,4,5,"Hello",5]
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Accessing and Slicing

Items contained in lists can be accessed by using square bracket notation.

Accessing items in lists depends on the order in which they were put in the list. They are accessed by using numerical indices, with the first item referenced at index 0.

For a list named *lst*, accessing a single list item is completed using the notation lst[0]

In [45]:
# Declare a list of numbers
lst = [34,241,752,4,86,2,95,2,8436,3578,44883,1]
lst

[34, 241, 752, 4, 86, 2, 95, 2, 8436, 3578, 44883, 1]

In [46]:
# Retrieve the first element in the list
lst[0]

34

In [47]:
# Retreive the 6th element in the list
lst[5]

2

Negative numbers can be used to retreive elements starting from the last item

In [48]:
# Retrieve the last item from the list
lst[-1]

1

In [14]:
# Retrieve the 4th to last element from the list
lst[-4]

8436

List Slicing allows you to access a range of list elements at once.

This can be done by using a colon (:) between the brackets.

The notation for list slicing is lst[x:y] where the x is the starting index (inclusive) and y is the last index (exclusive)

The resulting range is also a list.

In [15]:
# Retrieve the first four elements of the list

lst[0:4]

[34, 241, 752, 4]

In [16]:
# Retrieve the fifth to seventh elements in the list

lst[4:7]

[86, 2, 95]

In [17]:
# Retrieve the third to to ninth elements in the list

lst[2:9]

[752, 4, 86, 2, 95, 2, 8436]

Negative numbers can also be used in slicing

In [18]:
# Retrieve the fourth-to-last element to the second-to-last element
lst[-4:-1]

[8436, 3578, 44883]

In [19]:
# Retrieve the ninth-to-last element to the fourth-to-last element
lst[-9:-3]

[4, 86, 2, 95, 2, 8436]

In [20]:
# Retrieve the fourth element to the fourth-to-last element
lst[3:-3]

[4, 86, 2, 95, 2, 8436]

In [21]:
lst[2:5]

[752, 4, 86]

By removing the index to the left of the colon, you will retrieve all list elements starting from the beginning of the list to the index indicated.

The notation is list\[:y\], where you retrieve list elements from index 0 to 'y', exclusively. Essentially, this is retrieving the first 'y' elements of a list.

In [22]:
# Retrieve the first list element to the seventh
# i.e. get the first seven elements of the list
lst [:7]

[34, 241, 752, 4, 86, 2, 95]

Similarly, by removing the index to the right of the colon, you will retrieve all list elements starting from the index indicated to the end of the list.

The notation is list\[x:\], where you retrieve list elements from index 'x' to the end of the list.

In [23]:
# Retrieve the tenth list element to the last.
lst [9:]

[3578, 44883, 1]

In [24]:
lst[2:10]

[752, 4, 86, 2, 95, 2, 8436, 3578]

In [25]:
lst[0] = "NEW"
lst

['NEW', 241, 752, 4, 86, 2, 95, 2, 8436, 3578, 44883, 1]

In [26]:
lst[-1]

1

In [27]:
lst[-2]

44883

In [28]:
lst[-3:]

[3578, 44883, 1]

In [29]:
lst[1:-1]

[241, 752, 4, 86, 2, 95, 2, 8436, 3578, 44883]

### The "in" operator
"in" can be used to find particular items contained in a list. Whereas using indices accessess particular positions in a list, "in" checks if a particular item exists in a list and returns "True" if it does.

The downside is that "in" may potentally search the entire list before it finds the item of interest, making it potentially slow for large lists.

In [30]:
'a' in lst

False

In [31]:
241 in lst

True

In [32]:
456 in lst

False

## Nested List

Lists can also be used to store other lists. A list stored within another list is often called a nested list.

The nested list can be referred to as a sublist, while the list holding the nested list can be referred to as the superlist.

Sublists can also have sublists. Essentially, there is no limit to how many layers a list can have.

To retrieve sublists, you access it the same way you would access any element in a list via index. Then, you treat that element just as you would a list.

In [2]:
# Create a list with a nested list
# The nested list also has its own nested list
nestList = ['blueberry', ['apple', 'mango'],['banana',[['plumb','raspberry'], 'cantaloupe']], 'pineapple']
nestList

['blueberry',
 ['apple', 'mango'],
 ['banana', [['plumb', 'raspberry'], 'cantaloupe']],
 'pineapple']

In [53]:
# Accessing a list item that is a string
nestList[0]

'blueberry'

In [54]:
# Accessing a list item which happens to be a list
nestList[1]

['apple', 'mango']

In [3]:
# To access items in that sublist, treat the list element as a list
# Accessing the sublist's first element
nestList[1][0]

'apple'

In [4]:
# Accessing a list item which is a list that has its own nested list, which also has its own nested list
nestList[2]

['banana', [['plumb', 'raspberry'], 'cantaloupe']]

In [5]:
# Accessing the nested list within the nested list, which is the second item
nestList[2][1]

[['plumb', 'raspberry'], 'cantaloupe']

In [6]:
# Accessing the nested list within the nested list, within the nested list, which is the first item
nestList[2][1][0]

['plumb', 'raspberry']

In [8]:
# Accessing the first item of the nested list within the nested list, within the nested list
nestList[2][1][0][0]

'plumb'

## Appending items to lists

After a list is created, additional elemnents can be added using specified funtions.

Appending an item is adding elements to the end of the list. There are two methods that can perform this:

* append() - append a single new element to a list. Pass a single item as a parameter.
* extend() - append multiple elements to a list. Pass a list of items as a parameter.

In [1]:
# Initiate a list
lst = [5,9,0]
lst

[5, 9, 0]

In [2]:
# Append the integer 5
lst.append(5)
lst

[5, 9, 0, 5]

In [3]:
# Append a string
lst.append("Hello")
lst

[5, 9, 0, 5, 'Hello']

In [4]:
# Append a list. The append() function treats the list as a single item
lst.append([4,6,3])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3]]

In [5]:
# Use extend() to append multiple items.
# This is done by passing in a list of items
# Append integers 7 and 8
lst.extend([7,8])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3], 7, 8]

In [6]:
# Append two integers and a string
lst.extend([35, "World", 273])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3], 7, 8, 35, 'World', 273]

In [7]:
# Append an integer and a list
lst.extend([2, [64,44,16]])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3], 7, 8, 35, 'World', 273, 2, [64, 44, 16]]

In [9]:
# You can also append items using the "+" operator 
lst = lst + [5, "!", [22,5]]
lst

[5,
 9,
 0,
 5,
 'Hello',
 [4, 6, 3],
 7,
 8,
 35,
 'World',
 273,
 2,
 [64, 44, 16],
 5,
 '!',
 [22, 5]]

In [42]:
['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

### Unpacking Lists

While accessing list items by index and list slicing can be used to assign list elements into variables, unpacking lists is another, more consise way of doing so.

You can use the method of delaring mutliple variables to assign list items to individual variables

In [12]:
# Assign a list with two elements to two variables
x, y = [1, 2]    
print(x)
print(y)

1
2

In [15]:
# Assign a list with four elements to four variables
x, y, z, a = [5,"Welcome",9,22]
print(x)
print(y)
print(z)
print(a)

5
Welcome
9
22

When unpacking, the number of variables being assigned must match the number of elements in the list.

Unpacking list items to more or less variables than there are list items results in an error

In [17]:
# Assigning a list with one element to three variables
f,e,r = [1]

ValueError: not enough values to unpack (expected 3, got 1)

In [18]:
# Assigning a list with four elements to two variables
a, b = [32,52,576,2]

ValueError: too many values to unpack (expected 2)

If you only want the first few elements of a list unpacked to variables without considering the remaining elements, you can add an asterisk (\" * \") to the beginning of the last variable being assigned. That variable will be assigned the remainder of the list.

This also allows for unpacking a list with more elements than there are variables without resulting in an error.

In [21]:
# Assign the first two elements to variables x and y. The remainder will be assigned to z
x, y, *z = [5,6,4,637,235,555,74,123]
print(x)
print(y)
print(z)

5
6
[4, 637, 235, 555, 74, 123]

It's common practice to simply use an underscore (\"_\") as a variable name for values you plan to ignore. The underscore variable will still be assigned but it can be ignored.

In [22]:
# Assign all elements in the list to variables. Ignore the first two and only focus on variable y 
_, _, y = [1, 2, 3]

y

3

In [25]:
# Assign the first two elements two varables x and y. Ignore the remainder
x, y, *_ = [8, 14, 34, 555, "Good Morning", 4.4, True, 17]

print(x)
print(y)

8
14

## Dictionaries

A dictionary is a data structure used as an unordered collection of values. 

Unlike lists, where items are stored in a sequence, dictionary items are stored as key-value pairs.  Where as list items are accessed using indices that are always integers, dictionary values are accessed using keys that can be of any data type. This allows for a meaningful relationship between the key and value.

Dictionaries are expressed using opened and closed curly brackets:

{}

The key-value pairs assigned to dictionaries are expressed as follows:

{ \<key\> : \<value\> }

where the key and the value are separated by a colon.


When declaring a dictionary with muliple items, each key-value pair assigned is separated by a comma:

{ \<key\>:\<value\>, \<key\>:\<value\>,\<key\>:\<value\>, ...... }


Dictionaries can be assigned as many items as needed.


They are implemented using hash tables.

Below is an example of a simple dictionary. It contains information regarding several U.S. state names and their abbreviations.

In this case, the state abbreviation is the key and the full state name is the value:

In [2]:
# Declaring the U.S. state abbreviation dictionary and assigning it to a variable

stateAbbr = {
    'FL' : 'Florida'
    , 'NY' : 'New York'
    , 'HI' : 'Hawaii'
    , 'MS' : 'Mississippi'
}

This dictionary creates a meaningful relationship between key and value since the value is the state name and the key is its respective abbreviation.

### Accessing dictionary items

Since dictionaries are unordered, individual items cannot be accessed by an index. Values can only be accessed by the key they are paired with.

Like lists, dictionary values are accessed using square bracket notation. Instead of putting an index between the brackets, you put the key, as it is specifically stored.

dict[\<key\>]

In [3]:
# Accessing the value 'Hawaii' based on its key 'HI'

stateAbbr["HI"]

'Hawaii'

In [5]:
# Accessing the value 'Mississippi' based on its key 'MS'

stateAbbr["MS"]

'Mississippi'

A key must exist in a dictionary in order for it's value to be retrieved. If you pass data into the square bracket that does not match a key in the dictionary, the program will return an error.

Consequently, keys that are strings are case sensitive and must match the case as stored in the dictionary. Otherwise, it will also throw an error.

In [6]:
# The key 'AL' does not exist in the dictionary

stateAbbr["AL"]

KeyError: 'AL'

In [7]:
# The key 'Ny' does not exist in the dictionary.
# If we want to access the value "New York" we must use 'NY'

stateAbbr["Ny"]

KeyError: 'Ny'

#### Accessing all keys or all values

Dictionaries are built with methods that enable access to all keys and values separately in the dictionary.

To retrieve all keys, use the keys() method on a dictionary

In [2]:
# Retrieve all keys in the state dictionary
stateAbbr.keys()

dict_keys(['FL', 'NY', 'HI', 'MS'])

This returns a dictionary keys object

In [11]:
type(stateAbbr.keys())

dict_keys

There are several ways to retrieve the individual keys from this object, but the simplist is turning it into a list using the list() function

In [12]:
# Turn the dict.keys() object into a list

stateAbbrKeys = list(stateAbbr.keys())

stateAbbrKeys

['FL', 'NY', 'HI', 'MS']

With this, you can now reteive the key items as you would any list.

In [13]:
stateAbbrKeys[2]

'HI'

To retrieve all values, use the values() method on a dictionary

In [4]:
# Retrieve all values in the state dictionary
stateAbbr.values()

dict_values(['Florida', 'New York', 'Hawaii', 'Mississippi'])

This returns a dict_values object. Similar to the keys() method, you can retrive the individual dictionary values by coverting it into a list.

In [14]:
# Converting dict_values into a list
stateAbbrValues = list(stateAbbr.values())

stateAbbrValues[3]

'Mississippi'

#### Updating Dictionary Values

To update dictionary values, access a dictionary by key using the square bracket notation and use the assignment operator on a key that already exists. The syntax for updating dictionary values is as follows:

dict[\<existing_key\>] = \<new_value\>

This will update the value of an existing key to a new value. Dictionary keys themselves cannot be updated.

In [5]:
# Changing the value of the 'HI' key

stateAbbr['HI'] = 'Alaska'

print(stateAbbr)

print(stateAbbr['HI'])

{'FL': 'Florida', 'NY': 'New York', 'HI': 'Alaska', 'MS': 'Mississippi'}
Alaska

In [6]:
# Changing the value of the 'HI' key back to the previous value

stateAbbr['HI'] = 'Hawaii'

print(stateAbbr)

print(stateAbbr['HI'])

{'FL': 'Florida', 'NY': 'New York', 'HI': 'Hawaii', 'MS': 'Mississippi'}
Hawaii

#### Adding new dictionary items

Similar to updating existing dictionary values, you can use the square bracket notation to add new items into the dictionary.

To do so, you must supply a key that does not already exist in the dictionary and assign it a value. Doing so will add the key-value pair into the dictionary.

In [3]:
# Adding a new state into the dictionary.
# The key 'PA' and its value 'Pennsylvania' 
#     was not in the dictionary before the assignment

stateAbbr['PA'] = 'Pennsylvania'

stateAbbr

{'FL': 'Florida',
 'NY': 'New York',
 'HI': 'Hawaii',
 'MS': 'Mississippi',
 'PA': 'Pennsylvania'}

In [4]:
# Adding "Kansas" into the dictionary.

stateAbbr['KS'] = 'Kansas'

stateAbbr

{'FL': 'Florida',
 'NY': 'New York',
 'HI': 'Hawaii',
 'MS': 'Mississippi',
 'PA': 'Pennsylvania',
 'KS': 'Kansas'}

#### Declaring Empty Dictionaries

It is possible to declare empty dictionaries that can be used as placeholders to store items later.

This is done by assigning a variable a set of empty curly brackets "{}"

It can also be done by using the dict() method but this way is not preferred.

In [5]:
empty_dict = {} # empty dictionary

empty_dict2 = dict() # another way to declare an empty dictionary but not preferred

empty_dict, empty_dict2

({}, {})

#### Store Other Data Types

Dictionaries are not limited to only strings.

Both the keys and values in a dictionary can be different data types.

In [1]:
# A dictionary with keys as integers and strings as values

progDict = {
    0: 'Python'
    , 1: 'C++'
    , 2: 'Ruby'
    , 3: 'Java'
    , 4: 'Go'
    , 5: 'Scala'
}

progDict

{0: 'Python', 1: 'C++', 2: 'Ruby', 3: 'Java', 4: 'Go', 5: 'Scala'}

The above dictionary has integer for keys and strings as values.

This makes the dictionary function similar to a list where the key acts like an index:

In [3]:
# Accessing the value with the key 4

progDict[4]

'Go'

However, since dictionaries are unordered, you can add another item with a key that is something other than 6.

In [2]:
# Adding an item with a key of 100 and a value of 'C#'

progDict[100] = 'C#'

progDict

{0: 'Python', 1: 'C++', 2: 'Ruby', 3: 'Java', 4: 'Go', 5: 'Scala', 100: 'C#'}

Also, since dictionaries can have multiple types, the key doesn't need to be an integer.

In [3]:
# The using the string 'Hello' as the key

progDict['Hello'] = 'C'

progDict

{0: 'Python',
 1: 'C++',
 2: 'Ruby',
 3: 'Java',
 4: 'Go',
 5: 'Scala',
 100: 'C#',
 'Hello': 'C'}

### Nested Dictionary

Dictionaries can be nested within other dictionaries.

This is done by assigning a dictionary as a value.

Nested dictionaries can provide more meaningful data to dictionary items.

Below is an example of a dictionary of fruits and vegetables with nested dictionaries containing information related to them:

In [4]:
nDict = {
    'Fuji' : {'category' : 'fruit', 'type' : 'apple', 'color' : 'red' }
    ,'Imperator' : {'category' : 'vegetable', 'type' : 'carrot', 'color' : 'orange' }
    ,'Black Splendor' : {'category' : 'fruit', 'type' : 'plumb', 'color' : 'black' }
    ,'Granny Smith' : {'category' : 'fruit', 'type' : 'apple', 'color' : 'green' }
    ,'Norland' : {'category' : 'vegetable', 'type' : 'potato', 'color' : 'yellow' }
}

Since the nested dictionaries are values, accessing them is done by calling their respective keys, as with any other dictionary.

In [5]:
# Accessing the nested dictionary stored as a value for the key 'Granny Smith' 

nDict['Granny Smith']

{'category': 'fruit', 'type': 'apple', 'color': 'green'}

This will return the entire dictionary stored as the value.

To access a value within that nested dictionary, a key from that dictionary must be accessed.

This is done by referencing one of the keys by using a second set of square brackets.

In [6]:
# Accessing the value of 'category' in the nested dictionary for 'Granny Smith'

nDict['Granny Smith']['category']

'fruit'

In [7]:
# Accessing the value of 'type' in the nested dictionary for 'Imperator'

nDict['Imperator']['type']

'carrot'

A nested dictionary is not limited to two levels.

Nested dictionaries can also nest other nested dictionaries.

There is no limit to the number of levels a nested dictionary can have.

In [15]:
# Similar dictionary with 3 levels 

nDict2 = {
    1 : {
       "name":"banana"
        , "colors": {
            1: "green"
            , 2: "yellow"
        }
    }
    , 2 : {
        "name":"apple"
        , "colors": {
            1: "Red"
            , 2: "Green"
            , 3: "Yellow"
            }
    }
}

In [17]:
# Get the value of key "3" in the "colors" dictionary, which accessed by calling key "2" in the main dictionary

nDict2[2]['colors'][3]

'Yellow'

In [20]:
# Example of dictionary with random values.
# It has both a 4 level and 5 level nested dictionary

dictRand =  {
    "Hello" : "World"
    , 1 : True
    , 1.3 : {
        "Today" : 5
        , False : {
            452 : {
                "Tomorrow" : "Next Time"
                , False : "Now"
            }
        }
    }
    , "Another" : {
        "Extra" : {
            1 : {
                True : {
                    77 : 53
                }
            }
        }
    }
}

In [21]:
# Access an element from the 4 level nested dictionary

dictRand[1.3][False][452][False]

'Now'

In [24]:
# Access an element from the 5 level nested dictionary

dictRand["Another"]['Extra'][1][True][77]

53

In [ ]:
"John" in age #faster for dictionary than list since it is a hash table

True

In [ ]:
"Doe" in age

False

In [ ]:
dct = {'str':'hello','lst':['f','l','j','o']}
dct

{'str': 'hello', 'lst': ['f', 'l', 'j', 'o']}

In [ ]:
dct['lst'][3]

'o'

In [ ]:
dct = {'nDict': {'keyA': 'itemA', 'keyB' : 'itemB'}, 'str':'hello'}
dct

{'nDict': {'keyA': 'itemA', 'keyB': 'itemB'}, 'str': 'hello'}

In [ ]:
dct['nDict']['keyB']

'itemB'

get() method retrieves the key provided, but if the key does not exist, it returns the provided default value in stead of an exception

In [ ]:
age.get("Jane", "Doesn't exist")

35

In [ ]:
age.get("Doe", "Doesn't exist")

"Doesn't exist"

In [ ]:
age.get("Doe") #returns None when no default provided

In [ ]:
len(age)

3

In [ ]:
"Dane" in age.keys()

True

In [ ]:
age.values() #returns list in python 2

dict_values([55, 35, 44])

In [ ]:
55 in age.values()

True

In [ ]:
age.items() #key value tuples; returns list in python 2

dict_items([('John', 55), ('Jane', 35), ('Dane', 44)])

Dictionary keys are immutable. Lists cannot be used as keys

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
fname, lname, email

('Christopher', 'Brooks', 'brooksch@umich.edu')

In [ ]:
x = {'Christopher' : 90, 'Brooks': 37 , 'brooksch@umich.edu': 17}
fname, lname, email = x.values()
fname, lname, email

(90, 37, 17)

In [ ]:
x = {'Christopher' : 90, 'Brooks': 37 , 'brooksch@umich.edu': 17}
fname, lname, email = x
fname, lname, email # Unpacked values must match number of variables

('Christopher', 'Brooks', 'brooksch@umich.edu')

### Looping 

Loops are control flow statements that allow blocks of code to be executed multiple times without the need to repeat code over and over again.

Loops can be executed by using either a "for" loop or a "while" loop.

#### for Loops

A "for" loop is typically structured as follows:


`for \<variable\> in \<iterable\>:
    execute code
`

"Iterable" indicates the iterable that the for loop will iterate before it finishes executing. Iterables include lists, tuples and dictionaries. 

The for loop will loop as many times as there are items in the iterable.

"Variable" is the current item, or index, that the for loop is iterating over. For example, with a for loop iterating over a list, the  "variable" in the first iteration of the loop will be the first element of the list, the "variable" in the second iteration of the loop will be the second element of the list, etc. This will continue until the for loop finishes iterating over the last element int the list.

"execute code" is the code that will execute during every iteration of the loop. Notice the indentation. Any line of code that is indented after the for loop statement will be executed as part of the loop.

A function typically used as an iterator is the range() function, given that it returns a list numbers in a sequence.

The syntax of the range() function is range(x,y,s), where 'x' is the first item in the range (inclusive), 'y' is the last item in the range (exclusive) and 's' is the number of steps to take when creating the range, or how many numbers to skip when creating the range x and y. By default, the step parameter is set to 1

In [2]:
# Loop the print() function 4 times to print out the numbers 1 to 4 (5 is excluded).

for x in range(1,5):
    print(x)

1
2
3
4

In [3]:
# Loop print() 5 times to print out even numbers between 1 and 10 
# by setting the step parameter to 2 and starting the range from 2 
# (11 is used as the end of the range to include the 10)

for x in range(2, 11, 2):
    print(x)

2
4
6
8
10

In [4]:
# Print odd numbers by doing the same thing but staring with 1 instead of 2

for x in range(1, 11, 2):
    print(x)

1
3
5
7
9

If a loop is meant simply to run a block of code multiple times without retyping it, it is not required to use the variable returned by the iterator if you don't need to use it.

In [2]:
# Print the string "Hello World" 6 times
# An underscore can be used for the index varible as a placeholder 

for _ in range(1, 6):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

The range() function also accepts a single parameter. When a single integer is provided, that integer will be used to indicate the last which is used to indicate the last item in the range (exclusive), while always starting with 0

For example, range(10) will iterate over a list from 0 to 9, thus looping 10 times.

In [3]:
# The loop will print out numbers 0 to 8

for x in range(9):
    print(x)

0
1
2
3
4
5
6
7
8

In [4]:
# The loop will print out the string "Python" 8 times

for _ in range(8):
    print("Python")

Python
Python
Python
Python
Python
Python
Python
Python

Loops are not limited to just the print() function.

A loop can be used to run any amount of code and perform tasks such as calculations.

Below is an example of how to use a loop to find the sum of a range of numbers (ignoring sum() function)

In [5]:
# Finding a sum by adding the number 1 15 times using a loop 

# Variable to keep track of sum
total = 0 
# loop 15 times
for _ in range(15):
    total += 1
    
print(total)

15

Take note that the "total" variable is outside of the for loop. This is because it only needs to be declared once and reassigned with every loop iteration.

If it is declared inside the loop, the variable will just keep being initialized as 0.

In [6]:
# Total will only result in 1 no matter how many times the loop iterates

for _ in range(50):
    total = 0 #Decalre total as 0
    total += 1 #Add 1 to the 0
    
print(total)

1

The numbers in the range can be added together as well

In [7]:
# Find the sum of the numbers from 1 to 10

total = 0
for x in range(1, 11):
    total += x
    
print(total)

55

#### Looping through lists

The range() functions can be used as the iterable for the for loop since it returns a list.

Loops can also be used to iterate over a custom made list as well.

In [8]:
lst = ['a','b','c','d','e']

for item in lst:
    print(item)

a
b
c
d
e

You can also use the range() function to iterate through a list by index.

Since the range() function always returns a list that begins with 0 when one parameter is passed, you can pass the length of the list as the parameter if you want to loop through the entire list.

In [10]:
for i in range(len(lst)):
    print(lst[i])

a
b
c
d
e

#### Loops with mutliple variables

for Loops has the ability to process multiple variables returned by the iterable. The syntax is as follows:

`for \<variable1\>, \<variable2\>, .....  in \<iterable\>:
    execute code
`

The number of variables the for loop can process depends on how the iterator is structured.

Normally, we have been looping through iterables that are made up of single value elements:

\[1,2,3,4,5,6,7\]

On occasion, you will encounter iterables whose elements are other iterables, such as lists of lists, or lists of tuples.

Below is an example of a list of lists with two elements:

\[ \[1,3\], \[3,4\], \[6,23\] \]

With a list structured like this, a for loop can iterate through each element and access both pieces of data they are made of.

Lets say for example, we are presented with a list of tuples containing two elements that are meant to represent a person's height and weight.

In [22]:
# Each tuple in the list represents an individual person
# The first element in the tuple represents the person's height in inches
# The second element in the tuple represents the person's weight in pounds

htWt = [(70, 201), (67, 183), (59, 166), (61,145)]

You can access both the height and weight by using a for loop with two variables.

In [23]:
# For loop retrieving 2 elements in each tuple within the iterable 

for height, weight in htWt:
    print("The person's height is {0} and weight is {1}".format(height, weight))

The person's height is 70 and weight is 201
The person's height is 67 and weight is 183
The person's height is 59 and weight is 166
The person's height is 61 and weight is 145

To demonstrate three variables, let's create a list with tuples containing three elements: height, weight and eye color.

In [1]:
# Each tuple in the list represents an individual person
# The first element in the tuple represents the person's height in inches
# The second element in the tuple represents the person's weight in pounds
# The third element in the tuple represents the person's eye color

htWtEye = [(70, 201, "Blue"), (67, 183, "Hazel"), (59, 166, "Green"), (61,145,"Blue")]

In [2]:
# For loop retrieving 3 elements in each tuple within the iterable 

for height, weight, eyeCol in htWtEye:
    print("The person's height is {0}, weight is {1}, and eye color is {2}".format(height, weight, eyeCol))

The person's height is 70, weight is 201, and eye color is Blue
The person's height is 67, weight is 183, and eye color is Hazel
The person's height is 59, weight is 166, and eye color is Green
The person's height is 61, weight is 145, and eye color is Blue

For a for loop to work correctly, every iterable has to have the same number of elements as there are variables. Otherwise, the loop will throw an error.

In [3]:
# The second iterable has only two elements,but the for loop is looking for 3

htWtEye = [(70, 201, "Blue"), (67, 183), (59, 166, "Green"), (61,145,"Blue")]

# For loop retrieving 3 elements in each tuple within the iterable
# Throws an error when it iterates through the second tuple

for height, weight, eyeCol in htWtEye:
    print("The person's height is {0}, weight is {1}, and eye color is {2}".format(height, weight, eyeCol))

The person's height is 70, weight is 201, and eye color is Blue

ValueError: not enough values to unpack (expected 3, got 2)

#### Looping through Dictionaries

Looping through dictionaries is a little different, given that they are made up of key value pairs. There are several ways  to loop though them to retrieve the keys and values either separately or together.

In [8]:
# Declare a dictionary where the keys are integers and the values are strings

dic = {1:"Hello"
      , 2: "There"
      , 3: "My"
      , 4: "Friend"
      , 5: "!"}

#### Looping through keys

You can loop through a dictionary's keys by either using the keys() method, or by simply using the dictionary itself as the iterator.

In [10]:
# Loop through dictionary keys using the keys() method

for item in dic.keys():
    print(item)

1
2
3
4
5

In [11]:
# Loop through dictionary keys using the dictionary itself as the iterator

for item in dic:
    print(item)

1
2
3
4
5

#### Looping through values

You can loop through a dictionary's values by either using the values() method, or by using the dictionary itself as the iterator and using indexing with the loop variable as the key to access the value.

In [12]:
# Loop through dictionary values using the values() method

for item in dic.values():
    print(item)

Hello
There
My
Friend
!

In [13]:
# Loop through dictionary values using indexing with the variable "Item" as the key

for item in dic:
    print(dic[item])

Hello
There
My
Friend
!

#### Looping through both keys and values

You can loop through a dictionary's keys and values by using indexing and simply calling the loop variable as well.

In [16]:
# Loop through dictionary values using indexing with the variable "item" as the key and using the variable "item" as well

for item in dic:
    print("The current key is {0} and the current value is {1}".format(item, dic[item]))

The current key is 1 and the current value is Hello
The current key is 2 and the current value is There
The current key is 3 and the current value is My
The current key is 4 and the current value is Friend
The current key is 5 and the current value is !

Another way is to use the dictionary's items() method, which returns a tuple containing both the keys and values.

In [17]:
for item in dic.items():
    print(item)

(1, 'Hello')
(2, 'There')
(3, 'My')
(4, 'Friend')
(5, '!')

With it, you can use a loop with two variables to access both the key and value.

In [21]:
for key, value in dic.items():
    print("The current key is {0} and the current value is {1}".format(key, value))

The current key is 1 and the current value is Hello
The current key is 2 and the current value is There
The current key is 3 and the current value is My
The current key is 4 and the current value is Friend
The current key is 5 and the current value is !

#### while Loops

Unlike for loops, whose number of iterations depend on the number of items in an iterable, a while loop iterates based on a condition set by the programmer.

The syntax of a while loop is as follows:

`while \<condition = True\>:
    execute code
`

As long as the condition passed to the while loop is true, the loop will continue. It only terminates when the condition becomes false. This gives the programmer more flexibility as to what should happen in the loop before it terminates.

For this reason, a variable is typically used as a component in the condition since it can be reassigned by the programmer. The variable is then changed in the loop until the condition is met.

Below is an example of a simple while loop that prints "Hello World" 7 times:

In [3]:
i=0 #Declaring a variable as 0

# Keep running the code in a while loop as long as i is less than 10
while( i < 7 ):
    print("Hello World")
    i += 1 #Increment i by 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

First we declare a variable "i". This acts as the "counter" that determines how many times the loop will iterate.

Next we declare the while loop with the condition "i < 7". The way this works is: run the code in the while loop as long as "i" is less than 7.

Next we run the print() statement. Since this does not affect the variable "i", this also does not have any impact on the loop's condition.

Finally, we increment the "i" variable by 1. Since "i" is declared outside the loop, "i" will keep its new value when the next iteration of the loop begins.

Incrementing "i" is the most important part of the while loop because this allows the loop's condition to become False at some point, thus ending it.

If a while loop's condition is always True (in this case, if "i" is always less than 7), the loop will never end, and will create what is called an "infinite loop". If an infinite loop occurs, the programmer will have to manually terminate the program for it to stop.

In [7]:
for key, item in dic.items():
    print(key, item)

1 Hello
2 There
3 My
4 Friend
5 !

In [ ]:
#List Comprehension
[print(i) for i in lst]

a
b
c
d
e

[None, None, None, None, None]

### Repeating Lists

In [ ]:
lst * 3

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

## Type()

Use type() to detectreturn the type of a variable, object or value

In [ ]:
print(type(2))
print(type('r'))
print(type("hello"))
print(type(3.14))
print(type(None))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'NoneType'>

In [ ]:
num = 5
fl = 5.6
strg = "bye"
def func(): print("Hello")

print(type(num))
print(type(fl))
print(type(strg))
print(type(func))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'function'>

## Printing

In [ ]:
x = 'Hello'
print(x) # for python 3

Hello

In [ ]:
print x # for python 2

In [ ]:
x #for Jupyter notebook (last line in cell)

'Hello'

### Using Format

With brackets only (printed in the order parameters are provided in the format method)

In [ ]:
name = "Joe"
id = "1234"

print('My name is: {}. My ID is: {}'.format(name, id))

My name is: Joe. My ID is: 1234

With variables in brackets

In [ ]:
v1 = "Brooklyn"
v2 = "New York"
v3 = "12345"

print('My zip code is: {zip}, my city is: {city}, my state is {state}'.format(city=v1, state=v2, zip=v3))

My zip code is: 12345, my city is: Brooklyn, my state is New York

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}' #can store into variable. .format indicates the curly brackets

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

## defaultdict
A type of dictionary that automatically adds a value when you try to look up a key it doesn't contain for it using a zero-argument function provided when created

These are useful when using dictionaries to get results by some key and not having to check every time to see if the key exists yet.

In [ ]:
# Ex. Foods in a list of foods
foods = ["Pie","Pizza","Salad","Yogurt","Soup","Salad"]
from collections import defaultdict
food_counts = defaultdict(int)          # int() produces 0
for food in foods:
    food_counts[food] += 1
food_counts

defaultdict(int, {'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1})

In [ ]:
#With a regular dictionary
food_counts_reg = {}
for food in foods:
    if food in food_counts_reg:
        food_counts_reg[food] += 1
    else:
        food_counts_reg[food] = 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [ ]:
food_counts_reg = {}
for food in foods:
    try:
        food_counts_reg[food] += 1
    except KeyError:
        food_counts_reg[food] = 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [ ]:
food_counts_reg = {}
for food in foods:
    previous_count = food_counts_reg.get(food, 0)
    food_counts_reg[food] = previous_count + 1
food_counts_reg

{'Pie': 1, 'Pizza': 1, 'Salad': 2, 'Yogurt': 1, 'Soup': 1}

In [ ]:
#They can also be used with list, dict or custom functions:

In [ ]:
def_list = defaultdict(list)             # list() produces an empty list
def_list[2].append("Hello")
def_list

defaultdict(list, {2: ['Hello']})

In [ ]:
def_dict = defaultdict(dict)             # dict() produces an empty dictionary
def_dict["John"]["FavFood"] = "Pasta"
def_dict

defaultdict(dict, {'John': {'FavFood': 'Pasta'}})

In [ ]:
def_cust = defaultdict(lambda: [3, 4, 20])
def_cust[7][2] = 1                       
def_cust

defaultdict(<function __main__.<lambda>()>, {7: [3, 4, 1]})

In [ ]:
#  Dictionaries are a simple way to represent structured data:
user = {
    "userName" : "jDoe",
    "desc" : "Cool Guy",
    "age" : 23,
    "favFoods" : ["Pasta", "Pizza"]
}
user

{'userName': 'jDoe',
 'desc': 'Cool Guy',
 'age': 23,
 'favFoods': ['Pasta', 'Pizza']}

## Modules

In [ ]:
import re
import matplotlib.pyplot as plt
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

Python 2.7 uses floor division by default, so that 7 / 2 equals 3.
from __future__ import division
after which 7 / 2 equals 3.5.
double slash: 7 // 2 is then floor division.

### Date and Time

In [ ]:
import datetime as dt
import time as tm

In [ ]:
tm.time() #time in seconds since January 1st, 1970 (epoch)

1595556414.2651017

In [ ]:
dt.datetime.fromtimestamp(tm.time())

datetime.datetime(2020, 7, 23, 22, 23, 7, 11067)

In [ ]:
dt.datetime.now() #same result

datetime.datetime(2020, 8, 2, 20, 6, 47, 960966)

In [ ]:
dt.date.today()

datetime.date(2020, 8, 2)

In [ ]:
dtnow = dt.datetime.now()
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second, dtnow.microsecond, dtnow.tzinfo

(2020, 7, 23, 22, 26, 35, 608547, None)

timedelta - duration expressing the difference between two dates

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

In [ ]:
dt.date.today() - delta # date 100 days ago

datetime.date(2020, 4, 24)

In [ ]:
dt.date.today() + delta # date 100 days from now

datetime.date(2020, 11, 10)

## Functions
A function is a rule for taking zero or more inputs and returning a desired output when called.

It is a means to allow blocks of code to be called multiple times without having to rewrite them.

In [ ]:
def square(x):
    """docstring - explains what the function does.
    this function multiplies its input by itself"""
    return x * x

In [ ]:
"""Functions are first-class - assign them to variables
and pass them into functions like any other arguments"""
def func_in_func(func):
    """calls the passed function f with 1 as its argument"""
    return func(12)
my_func = square        
x = func_in_func(my_func)
x

144

### Lambda (Anonymous Function)

In [ ]:
y = func_in_func(lambda x: x * x)
y

144

In [ ]:
my_func2 = lambda x: x * x       # don't do this
def better_square(x): return x * x    # better practice

In [ ]:
add_first_two = lambda a, b, c : a + b

In [ ]:
add_first_two(100,23, 827632)

123

Lambdas are best used as single line functions that are used once

In [ ]:
for item in map(lambda x: x * 2, [1,2,3,4]):
    print(item)

2
4
6
8

In [ ]:
def double(x):
    return x * 2

for item in map(double, [1,2,3,4]):
    print (item)

2
4
6
8

### Default Parameters

In [ ]:
def my_print(message="default message"):
    print (message)
    
my_print("hello")
my_print()

hello
default message

In [ ]:
def subtract(a=0, b=0):
    print (a - b)
subtract(10, 5)
subtract(0, 5)
subtract(b=5)

5
-5
-5

Functions can be created to accept optional parameters if they are given default values.

In [ ]:
def add_or_sub(x, y, z=None, add=True):
    third = 0
    if(z!=None):
        third = z
        
    if (add):
        return x + y + third
    else:
        return x - y - third
    
print(add_or_sub(1, 2))
print(add_or_sub(1, 2, 3))
print(add_or_sub(1, 2, 3, False))
print(add_or_sub(1, 2, add=False)) #Parameters can be excluded if parameters not in order are indicated

3
6
-4
-1

## Preset Functions

### range()

returns list in Python 2

In [ ]:
r_lst = list(range(10))
r_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exceptions

In [ ]:
"""exception. Unhandled, errors will cause
your program to crash. You can handle them using try and except:"""
try:
    print (0 / 0)
except ZeroDivisionError:
    print ("cannot divide by zero")

cannot divide by zero

## Tuples

Tuples are essentially lists, in that they are a data structure used as a container for multiple Python data elements. The difference, however, is that tuples are immutable, in that they cannot be modified in any way after being declared. They are declared using round brackets () or items separated by commas.

In [ ]:
tuple_round = (1, 2, 3)
tuple_round

(1, 2, 3)

In [ ]:
print(type(tuple_round))

<class 'tuple'>

In [ ]:
tuple_comma = 3, 4, 5
tuple_comma

(3, 4, 5)

In [ ]:
mixed_tuple = (2, 23, "Hello", ['Hi', False])
mixed_tuple

(2, 23, 'Hello', ['Hi', False])

In [ ]:
mixed_tuple[1]

23

In [ ]:
mixed_tuple[3]

['Hi', False]

In [ ]:
mixed_tuple[2] = 3 # Will throw an error since tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
try:
    mixed_tuple[2] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

In [ ]:
# Tuples are a convenient way to return multiple values from functions and assign multiple values
def sumDifference(a, b):
    return (a + b),(a - b)

sumDifference(10, 15)

(25, -5)

Tuples are immutable because they lack some functionality that lists have.

As a result, tuples are smaller in size.

In [ ]:
from sys import getsizeof # Method used to get size of objects in bytes
getsizeof([1,2,3])

88

In [ ]:
getsizeof((1,2,3))

72

In [ ]:
sums, diff = sumDifference(10, 15)
sums, diff

(15, -5)

In [ ]:
# multiple variable assignment:
a, b = 1, 2

print(a)
print(b)

1
2

In [ ]:
# Convenient for swapping
a, b = b, a
print(a)
print(b)

2
1

## Counter()

Counter takes a sequence of values and returns a dictionary with counts of similar items.

It is a good function to use when creating histograms

In [ ]:
from collections import Counter
cnt = Counter(["Apple", "Orange", "Grape", "Blueberry", "Orange", "Mango", "Orange", "Blueberry" ]) 
cnt

Counter({'Apple': 1, 'Orange': 3, 'Grape': 1, 'Blueberry': 2, 'Mango': 1})

In [ ]:
cnt.most_common(1)

[('Orange', 3)]

In [ ]:
cnt.most_common(2)

[('Orange', 3), ('Blueberry', 2)]

## Sets

A set is a data structure that represents an collection of distinct elements. Items that already exist in the set will not be added again.

In [ ]:
st = set()
st

set()

In [ ]:
st.add("Hello")
st

{'Hello'}

In [ ]:
st.add(10)
st

{10, 'Hello'}

In [ ]:
st.add("Hello")
st

{10, 'Hello'}

In [ ]:
len(st)

2

Checking if an element belongs to a set (i.e. membership test) using "in" is much faster than a list, even if it's very large

In [ ]:
10 in st

True

sets are good for getting all distinct elements in a list

In [ ]:
alpha_lst = ['a','b','c','a','d','j','b','y','a','z','z','q','a','a']
alpha_set = set(alpha_lst)
alpha_lst = list(alpha_set)

alpha_lst

['b', 'y', 'z', 'c', 'a', 'q', 'j', 'd']

## Control Flow

if statement. In Python, there are no brackets. Colons and whitespace determine statements

In [ ]:
x = 2
if x > 5:
    print ("greater than five")
elif  x < 5: #else if. if the above condition doesn't apply, try this (as many can be added)
    print("less than five")
else: #otherwise
    print("must be five")

ternary operator. if-then-else on one line

In [ ]:
"greater or equal to 5" if x > 5 else "less than 5"

'greater or equal to 5'

while loop (Be careful of infinite loops)

In [ ]:
x = 0
while x <= 20:
    print (x)
    x += 2

0
2
4
6
8
10
12
14
16
18
20

for loop. Very different from conventiional for loops. Similar to foreach loops

In [ ]:
for i in range(10): #loop in range 0 to 9 where i is the index
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# looping through data structures

lst = ['Hello', 0, 19, True, ["Up", "Down"]]

for ele in lst:
    print (ele)

Hello
0
19
True
['Up', 'Down']

break - quit loop entirely
continue - go to next loop iteration

In [ ]:
for i in range(100):
    if i == 5:
        continue
    if i == 11:
        break
    print(i)
    
#skip 5, quit at 10

0
1
2
3
4
6
7
8
9
10

## Booleans

Conditions will return either "True" or "False" . Non existent values are given "None" (like "NULL" in other languages)

In [ ]:
10 < 100

True

In [ ]:
True == False

False

In [ ]:
False == False

True

In [ ]:
False > True

False

In [ ]:
na = None
na

In [ ]:
na == None

True

In [ ]:
na is None

True

is - same object
== - equal value

In [ ]:
if 0:
    print("Hello")

In [ ]:
if 1: print("Hello")

Hello

Treated as False:
    
False
None
[] (an empty list)
{} (an empty dict)
""
set()
0
0.0

Anything else gets treated as True. 

This allows if state
ments to test for empty lists, strings, dictionaries, etc.

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
# all() - for all elements, return True if all True or of true value
all([True, 100, ""])

False

In [ ]:
all([True, 100, "Hello"])

True

In [ ]:
#any() - if there exists one True or something of True Value, return True

any(["", (), [], None, 1])

True

In [ ]:
any(["", (), [], None, 0])

False

## stdin and stdout

sys.argv is the list of command-line arguments
sys.argv[0] is the name of the program itself
sys.argv[1] is a parameter supplied in the command line

Also allows for data to be piped through Python command line

I have a file called textEval.txt

Which contains the text:

Hello! If Horse had 10 apples  
and Zebra has 15,  
how many apples are there total?  
Zz  
zz  
a  
g  
4  
1  
Z  
z  
t  
g  
K  
\#  
5

In [ ]:
The | is the pipe character, which means use the output of the left command as the input of the right command. You can build pretty elaborate data-processing pipelines
this way.
In Windows, you would use:
type SomeFile.txt | python file1.py <arguments> | python file2.py <arguments> | ....
In a Unix system you would use:
cat SomeFile.txt | python file1.py <arguments> | python file2.py <arguments> | ....

This file takes a regular expression argument and returns the lines in the input that contain that expression

In [ ]:
# regex.py
import sys, re

regex = sys.argv[1]
# for every line passed into the script
for line in sys.stdin:
    # if it matches the regex, write it to stdout
    if re.search(regex, line):
        sys.stdout.write(line)

This file counts the number of lines in the input

In [ ]:
# lineCnt.py
import sys
count = 0
for line in sys.stdin:
    count += 1
# print goes to sys.stdout
print count


Looks for lines with numbers then returns a count
type textEval.txt | python regex.py "[0-9]" | python lineCnt.py
5

Looks for lines with the capital Z then returns a count
type textEval.txt | python regex.py "Z" | python lineCnt.py
3

Returns lines that have a capital Z
type textEval.txt | python regex.py "Z"
and Zebra has 15,
Zz
Z

Returns lines with numbers
type textEval.txt | python regex.py "[0-9]"
Hello! If Horse had 10 apples
and Zebra has 15,
4
1
5

## Text File Objects

In [ ]:
# 'r' - read-only
file_for_reading = open('reading_file.txt', 'r')

# 'w' - write (will overwrite the file if it already exists)
file_for_writing = open('writing_file.txt', 'w')

# 'a' - append (for adding to the end of an existing file)
file_for_appending = open('appending_file.txt', 'a')

# closing files when you're done
file_for_writing.close()

# Get file data then close
with open('file.txt','r') as f:
    data = function_that_gets_data_from(f)
# f has been closed
process(data)

# Closes after interating each line
starts_with_hash = 0
with open('file.txt','r') as f:
    for line in f:                  # look at each line in the file
        print(line)

## Reading CSV Files

In [ ]:
import csv
with open('customers.csv', 'r') as f:
    reader = csv.reader(f, delimiter=',')
    for row in reader:
        print(row[0], row[1], row[2])

name birth_date gender
Bob 1/2/2001 M
Jane 3/4/2009 F
Kyle 2/12/1999 M

In [ ]:
with open('likesDict.txt', 'r') as f:
    reader = csv.DictReader(f, delimiter=':')
    for row in reader:
        print(row["name"], row["likes"])
        
# reader.next() to skip if no headers

Jack ['pizza', 'movies']
Bill ['Long Walks']

In [ ]:
newLikes = { 'Jack' : ["pizza", "movies"], "Bill" : ["Long Walks"]}
with open('likesDict.txt','a') as f:
    writer = csv.writer(f, delimiter=':')
    for name, likes in newLikes.items():
        writer.writerow([name, likes])
        
with open('likesDict.txt', 'r') as f:
    reader = csv.DictReader(f, delimiter=':')
    for row in reader:
        print(row["name"], row["likes"])

Jack ['pizza', 'movies']
Bill ['Long Walks']
Jack ['pizza', 'movies']
Bill ['Long Walks']

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [ ]:
dir(list.count)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__objclass__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [ ]:
dir(__builtins__) #builtin Python functions

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [ ]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [ ]:
25 >= temperature >= 15:

In [ ]:
inpt = input("Enter Value:") # displays string and takes user input in prompt; stores value in varialbe

In [ ]:
strng = "There"
pref = "sir"

In [ ]:
print("Hello %s" % strng)

Hello There

In [ ]:
print("Hello %s, %s" % (strng, pref))

Hello There, sir

In [ ]:
print(f"Hello {strng}, {pref}")

Hello There, sir