# Intermediate Python

In this notebook, you will find more intermediate functions and techniques can be done in Python, as well as data structures.

[Data Structures](#datastruct)  
&emsp;[Lists](#datastruct-lists)  
&emsp;&emsp;[Accessing and Slicing](#datastruct-lists-access)  
&emsp;&emsp;[The "in" operator](#datastruct-lists-in)  
&emsp;[Nested List](#nestlists)  
&emsp;[Appending items to lists](#appendlists)  
&emsp;&emsp;[Unpacking Lists](#unpacklists)  
&emsp;[Tuples](#datastruct-tuples)

## Data Structures <a id="datastruct"></a>

Data structures are a means of organizing, managing, and storing data in ways that be accessed and used efficiently.


There are many types of data structures and the efficiency of one usually depends on how they are implemented in code.

## Lists <a id="datastruct-lists"></a>

A list is an ordered collection data structure used as a container for multiple data. It is similar to arrays in other programming languages. 

Unlike tuples, lists are mutable, as in their values, order and number of elements can be changed.

A single list can be used to store mutiple data types, alsop known as a heterogeneous list.

They are declared using square brackets ([]).

In [1]:
# Declaring an empty list
emp_lst = []
emp_lst

[]

In [2]:
# Declaring a list of four numbers
num_lst = [1,3,25,54]
num_lst

[1, 3, 25, 54]

In [3]:
# Declaring a list of two strings
str_list = ["Hey", "Hello"]
str_list

['Hey', 'Hello']

In [4]:
# Heterogeneous list
# Contains four items of different data types, including a two item heterogeneous list  
hetero_lst = ["Hi", 123, [3,"Hello"], True]
hetero_lst

['Hi', 123, [3, 'Hello'], True]

In [5]:
# The len() method can give the length of a list
lst = [5,5,6,6,7,7]
len(lst)

6

In [6]:
# The sum() method can calculate the sum of all numbers in a list

sum(lst)

36

In [7]:
# sum() can only calculate the sum of integers and floats
# Using the method on a list that contains a string produces an error
lst = [3,4,5,"Hello",5]
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Accessing and Slicing <a id="datastruct-lists-access"></a>

Items contained in lists can be accessed by using square bracket notation.

Accessing items in lists depends on the order in which they were put in the list. They are accessed by using numerical indices, with the first item referenced at index 0.

For a list named *lst*, accessing a single list item is completed using the notation lst[0]

In [45]:
# Declare a list of numbers
lst = [34,241,752,4,86,2,95,2,8436,3578,44883,1]
lst

[34, 241, 752, 4, 86, 2, 95, 2, 8436, 3578, 44883, 1]

In [46]:
# Retrieve the first element in the list
lst[0]

34

In [47]:
# Retreive the 6th element in the list
lst[5]

2

Negative numbers can be used to retreive elements starting from the last item

In [48]:
# Retrieve the last item from the list
lst[-1]

1

In [14]:
# Retrieve the 4th to last element from the list
lst[-4]

8436

List Slicing allows you to access a range of list elements at once.

This can be done by using a colon (:) between the brackets.

The notation for list slicing is lst[x:y] where the x is the starting index (inclusive) and y is the last index (exclusive)

The resulting range is also a list.

In [15]:
# Retrieve the first four elements of the list

lst[0:4]

[34, 241, 752, 4]

In [16]:
# Retrieve the fifth to seventh elements in the list

lst[4:7]

[86, 2, 95]

In [17]:
# Retrieve the third to to ninth elements in the list

lst[2:9]

[752, 4, 86, 2, 95, 2, 8436]

Negative numbers can also be used in slicing

In [18]:
# Retrieve the fourth-to-last element to the second-to-last element
lst[-4:-1]

[8436, 3578, 44883]

In [19]:
# Retrieve the ninth-to-last element to the fourth-to-last element
lst[-9:-3]

[4, 86, 2, 95, 2, 8436]

In [20]:
# Retrieve the fourth element to the fourth-to-last element
lst[3:-3]

[4, 86, 2, 95, 2, 8436]

In [21]:
lst[2:5]

[752, 4, 86]

By removing the index to the left of the colon, you will retrieve all list elements starting from the beginning of the list to the index indicated.

The notation is list\[:y\], where you retrieve list elements from index 0 to 'y', exclusively. Essentially, this is retrieving the first 'y' elements of a list.

In [22]:
# Retrieve the first list element to the seventh
# i.e. get the first seven elements of the list
lst [:7]

[34, 241, 752, 4, 86, 2, 95]

Similarly, by removing the index to the right of the colon, you will retrieve all list elements starting from the index indicated to the end of the list.

The notation is list\[x:\], where you retrieve list elements from index 'x' to the end of the list.

In [23]:
# Retrieve the tenth list element to the last.
lst [9:]

[3578, 44883, 1]

In [24]:
lst[2:10]

[752, 4, 86, 2, 95, 2, 8436, 3578]

In [25]:
lst[0] = "NEW"
lst

['NEW', 241, 752, 4, 86, 2, 95, 2, 8436, 3578, 44883, 1]

In [26]:
lst[-1]

1

In [27]:
lst[-2]

44883

In [28]:
lst[-3:]

[3578, 44883, 1]

In [29]:
lst[1:-1]

[241, 752, 4, 86, 2, 95, 2, 8436, 3578, 44883]

### The "in" operator <a id="datastruct-lists-in"></a>
"in" can be used to find particular items contained in a list. Whereas using indices accessess particular positions in a list, "in" checks if a particular item exists in a list and returns "True" if it does.

The downside is that "in" may potentally search the entire list before it finds the item of interest, making it potentially slow for large lists.

In [30]:
'a' in lst

False

In [31]:
241 in lst

True

In [32]:
456 in lst

False

## Nested List <a id="nestlists"></a>

Lists can also be used to store other lists. A list stored within another list is often called a nested list.

The nested list can be referred to as a sublist, while the list holding the nested list can be referred to as the superlist.

Sublists can also have sublists. Essentially, there is no limit to how many layers a list can have.

To retrieve sublists, you access it the same way you would access any element in a list via index. Then, you treat that element just as you would a list.

In [2]:
# Create a list with a nested list
# The nested list also has its own nested list
nestList = ['blueberry', ['apple', 'mango'],['banana',[['plumb','raspberry'], 'cantaloupe']], 'pineapple']
nestList

['blueberry',
 ['apple', 'mango'],
 ['banana', [['plumb', 'raspberry'], 'cantaloupe']],
 'pineapple']

In [53]:
# Accessing a list item that is a string
nestList[0]

'blueberry'

In [54]:
# Accessing a list item which happens to be a list
nestList[1]

['apple', 'mango']

In [3]:
# To access items in that sublist, treat the list element as a list
# Accessing the sublist's first element
nestList[1][0]

'apple'

In [4]:
# Accessing a list item which is a list that has its own nested list, which also has its own nested list
nestList[2]

['banana', [['plumb', 'raspberry'], 'cantaloupe']]

In [5]:
# Accessing the nested list within the nested list, which is the second item
nestList[2][1]

[['plumb', 'raspberry'], 'cantaloupe']

In [6]:
# Accessing the nested list within the nested list, within the nested list, which is the first item
nestList[2][1][0]

['plumb', 'raspberry']

In [8]:
# Accessing the first item of the nested list within the nested list, within the nested list
nestList[2][1][0][0]

'plumb'

## Appending items to lists <a id="appendlists"></a>

After a list is created, additional elemnents can be added using specified funtions.

Appending an item is adding elements to the end of the list. There are two methods that can perform this:

* append() - append a single new element to a list. Pass a single item as a parameter.
* extend() - append multiple elements to a list. Pass a list of items as a parameter.

In [1]:
# Initiate a list
lst = [5,9,0]
lst

[5, 9, 0]

In [2]:
# Append the integer 5
lst.append(5)
lst

[5, 9, 0, 5]

In [3]:
# Append a string
lst.append("Hello")
lst

[5, 9, 0, 5, 'Hello']

In [4]:
# Append a list. The append() function treats the list as a single item
lst.append([4,6,3])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3]]

In [5]:
# Use extend() to append multiple items.
# This is done by passing in a list of items
# Append integers 7 and 8
lst.extend([7,8])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3], 7, 8]

In [6]:
# Append two integers and a string
lst.extend([35, "World", 273])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3], 7, 8, 35, 'World', 273]

In [7]:
# Append an integer and a list
lst.extend([2, [64,44,16]])
lst

[5, 9, 0, 5, 'Hello', [4, 6, 3], 7, 8, 35, 'World', 273, 2, [64, 44, 16]]

In [9]:
# You can also append items using the "+" operator 
lst = lst + [5, "!", [22,5]]
lst

[5,
 9,
 0,
 5,
 'Hello',
 [4, 6, 3],
 7,
 8,
 35,
 'World',
 273,
 2,
 [64, 44, 16],
 5,
 '!',
 [22, 5]]

In [42]:
['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

### Unpacking Lists <a id="unpacklists"></a>

While accessing list items by index and list slicing can be used to assign list elements into variables, unpacking lists is another, more consise way of doing so.

You can use the method of delaring mutliple variables to assign list items to individual variables

In [12]:
# Assign a list with two elements to two variables
x, y = [1, 2]    
print(x)
print(y)

1
2

In [15]:
# Assign a list with four elements to four variables
x, y, z, a = [5,"Welcome",9,22]
print(x)
print(y)
print(z)
print(a)

5
Welcome
9
22

When unpacking, the number of variables being assigned must match the number of elements in the list.

Unpacking list items to more or less variables than there are list items results in an error

In [17]:
# Assigning a list with one element to three variables
f,e,r = [1]

ValueError: not enough values to unpack (expected 3, got 1)

In [18]:
# Assigning a list with four elements to two variables
a, b = [32,52,576,2]

ValueError: too many values to unpack (expected 2)

If you only want the first few elements of a list unpacked to variables without considering the remaining elements, you can add an asterisk (\" * \") to the beginning of the last variable being assigned. That variable will be assigned the remainder of the list.

This also allows for unpacking a list with more elements than there are variables without resulting in an error.

In [21]:
# Assign the first two elements to variables x and y. The remainder will be assigned to z
x, y, *z = [5,6,4,637,235,555,74,123]
print(x)
print(y)
print(z)

5
6
[4, 637, 235, 555, 74, 123]

It's common practice to simply use an underscore (\"_\") as a variable name for values you plan to ignore. The underscore variable will still be assigned but it can be ignored.

In [22]:
# Assign all elements in the list to variables. Ignore the first two and only focus on variable y 
_, _, y = [1, 2, 3]

y

3

In [ ]:
# Assign the first two elements two varables x and y. Ignore the remainder
x, y, *_ = [8, 14, 34, 555, "Good Morning", 4.4, True, 17]

print(x)
print(y)

### Tuples <a id="datastruct-tuples"></a>

Tuples are essentially lists, in that they are a data structure used as a container for multiple Python data elements. The difference, however, is that tuples are immutable, in that they cannot be modified in any way after being declared. They are declared using round brackets () or items separated by commas.

In [13]:
tuple_round = (1, 2, 3)
tuple_round

(1, 2, 3)

In [14]:
print(type(tuple_round))

<class 'tuple'>

In [15]:
tuple_comma = 3, 4, 5
tuple_comma

(3, 4, 5)

In [16]:
mixed_tuple = (2, 23, "Hello", ['Hi', False])
mixed_tuple

(2, 23, 'Hello', ['Hi', False])

In [17]:
mixed_tuple[1]

23

In [18]:
mixed_tuple[3]

['Hi', False]

In [19]:
mixed_tuple[2] = 3 # Will throw an error since tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [20]:
try:
    mixed_tuple[2] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

In [21]:
# Tuples are a convenient way to return multiple values from functions and assign multiple values
def sumDifference(a, b):
    return (a + b),(a - b)

sumDifference(10, 15)

(25, -5)

In [22]:
Tuples are immutable because they lack some functionality that lists have.

As a result, tuples are smaller in size.

SyntaxError: invalid syntax (2729912714.py, line 1)

In [23]:
from sys import getsizeof # Method used to get size of objects in bytes
getsizeof([1,2,3])

120

In [24]:
getsizeof((1,2,3))

64