## List Sortng Method

sorted(lst) - sorts the list lst in ascending order

In [8]:
lst = [1,23,5,53,7,-33,6,-6,7,88,35,73,575,-35,74,13]
lst

[1, 23, 5, 53, 7, -33, 6, -6, 7, 88, 35, 73, 575, -35, 74, 13]

In [9]:
sorted(lst)

[-35, -33, -6, 1, 5, 6, 7, 7, 13, 23, 35, 53, 73, 74, 88, 575]

In [10]:
sorted(lst, reverse=True) # reverse=True sorts the list in descending order

[575, 88, 74, 73, 53, 35, 23, 13, 7, 7, 6, 5, 1, -6, -33, -35]

In [15]:
# key - fuction applied to the elements of the list used as a key for sort comparison
# ex absolute value
sorted(lst, key=abs)

[1, 5, 6, -6, 7, 7, 13, 23, -33, 35, -35, 53, 73, 74, 88, 575]

In [16]:
# Sort list method sorts the list in place
lst

[1, 23, 5, 53, 7, -33, 6, -6, 7, 88, 35, 73, 575, -35, 74, 13]

In [17]:
lst.sort()
lst

[-35, -33, -6, 1, 5, 6, 7, 7, 13, 23, 35, 53, 73, 74, 88, 575]

In [18]:
char_list = ['z','f','c','x','j','l','o','c']
char_list.sort()
char_list

['c', 'c', 'f', 'j', 'l', 'o', 'x', 'z']

In [19]:
str_list = ['Hello','Apple', 'Melon', 'Car', 'Bakery']
str_list.sort(reverse=True)
str_list

['Melon', 'Hello', 'Car', 'Bakery', 'Apple']

In [20]:
tuple_lst = [(25,18,299),(1,200,67),(34,36,12),(19,20),(13,41,34),(19,45,33),(90,91,92)]
tuple_lst

[(25, 18, 299),
 (1, 200, 67),
 (34, 36, 12),
 (19, 20),
 (13, 41, 34),
 (19, 45, 33),
 (90, 91, 92)]

In [22]:
def secondEle(ele):
    return ele[1]

tuple_lst.sort(key=secondEle) #will sort tuples by their second element

tuple_lst

[(25, 18, 299),
 (19, 20),
 (34, 36, 12),
 (13, 41, 34),
 (19, 45, 33),
 (90, 91, 92),
 (1, 200, 67)]

## List Comprehensions

List comprehensions are used for creating a new list from another iterables.

Basic sytax:
new_list = [\_expression\_ \_for_loop\_ \_condtions\_]

In [23]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
[5 for _ in range(20)]

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [25]:
[i for i in range(50) if i % 5 == 0 and i <= 25]

[0, 5, 10, 15, 20, 25]

In [28]:
[i * 2 for i in range(20)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [4]:
odds = [i for i in range(10) if i % 2 != 0]
odds

[1, 3, 5, 7, 9]

In [5]:
sqr_odds = [i * i for i in odds]
sqr_odds

[1, 9, 25, 49, 81]

The same principal can be used to create dictionaries

In [6]:
{ i : i * 2 for i in range(15) }

{0: 0,
 1: 2,
 2: 4,
 3: 6,
 4: 8,
 5: 10,
 6: 12,
 7: 14,
 8: 16,
 9: 18,
 10: 20,
 11: 22,
 12: 24,
 13: 26,
 14: 28}

The same goes for sets as well

In [7]:
{ i for i in range(10) }

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
[i % 2 for i in range(10)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [9]:
{i % 2 for i in range(10)}

{0, 1}

Multiple for loops for pairs

In [11]:
[(i, j) for i in range(5) for j in range(5)] # i * j pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [19]:
[(i, j) for i in range(5) for j in range(5) if i > j]   # first index can be referenced in second for loop

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

## Generator

A generator is something tha can be iterated over but whose values are produced when needed. This concept is preferred when lists grow very large but only one element needs to be proocessed at a time.

A generator function is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return.

This can be done using yield. The yield statement suspends function's execution and sends a value back to caller, but retains enough state to enable function to resume where it is left off. 

Return sends a specified value back to its caller whereas Yield can produce a sequence of values. We should use yield when we want to iterate over a sequence, but don’t want to store the entire sequence in memory.

When resumed, the function continues execution immediately after the last yield run. This allows its code to produce a series of values over time, rather them computing them at once and sending them back like a list.

Yield are used in Python generators.  If the body of a def contains yield, the function automatically becomes a generator function.

In [26]:
def gener(): 
    yield 1
    yield 2
    yield 3
    yield 4

In [27]:
for i in gener():
    print(i)

1
2
3
4

In [28]:
def gener_char(): 
    yield 'a'
    yield 'b'
    yield 'c'
    yield 'd'

In [29]:
for i in gener_char():
    print(i)

a
b
c
d

In [31]:
[i for i in gener_char()]

['a', 'b', 'c', 'd']

In [32]:
def gen_range(n):
    """like range() but using a generator"""
    i = 0
    while i < n:
        yield i
        i += 1

In [34]:
0[i for i in gen_range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
new_gen = (i for i in gen_range(10) if i < 5) #creates generator object based on generator
new_gen

In [40]:
[i for i in new_gen]

[0, 1, 2, 3, 4]

Only particular range is displayed on demand, often called "lazy evaluation".

In python 2, range() returns a list, while xrange() returns the generator object that must be iterated over.

In Python 3, range() is the same as xrange()

The con of lazy evaluation is that you can only iterate through a generator once. If you need to iterate through something multiple times, you’ll need to either recreate the generator each time or use a list.

Dictionaries has a method iteritems() which does lazy evaluation to yield the key-value pairs

## Randoms

The random module produces pseudorandom (deterministic) numbers based on an internal state.

random.random() produces uniform randoms

In [42]:
import random

In [43]:
random.random()

0.4204617473781582

In [44]:
random.random()

0.036129415121177844

A random number can be set with random.seed to get reproducible results

In [46]:
random.seed(100)
random.random()

0.1456692551041303

In [48]:
random.seed(100)
random.random()

0.1456692551041303

In [47]:
random.random()

0.45492700451402135

In [49]:
[random.random() for _ in range(4)]

[0.45492700451402135,
 0.7707838056590222,
 0.705513226934028,
 0.7319589730332557]

In [50]:
[random.random() for _ in range(4)]

[0.43351443489540376,
 0.8000204571334277,
 0.5329014146425713,
 0.08015370917850195]

In [51]:
random.seed(100)
[random.random() for _ in range(4)]

[0.1456692551041303,
 0.45492700451402135,
 0.7707838056590222,
 0.705513226934028]

In [52]:
random.seed(100)
[random.random() for _ in range(4)]

[0.1456692551041303,
 0.45492700451402135,
 0.7707838056590222,
 0.705513226934028]

Choose a random element from a range with randrange() (treated like range() function)

In [53]:
random.randrange(100)

93

In [54]:
random.randrange(50, 101) # from 50 to 100

72

In [61]:
random.randrange(50, 101)

59

In [56]:
random.seed(20)
random.randrange(50, 101)

96

In [57]:
random.seed(20)
random.randrange(50, 101)

96

Shuffle() will randomly reorder a list

In [65]:
lst = [i for i in range(20)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [66]:
random.shuffle(lst)
lst

[15, 19, 16, 10, 6, 1, 2, 4, 11, 17, 12, 9, 18, 14, 13, 7, 8, 0, 3, 5]

In [67]:
random.shuffle(lst)
lst

[11, 10, 12, 4, 6, 15, 7, 8, 2, 17, 16, 3, 19, 9, 13, 18, 5, 1, 14, 0]

In [68]:
random.seed(40)
random.shuffle(lst)
lst

[7, 17, 18, 1, 11, 3, 2, 0, 15, 12, 4, 19, 9, 16, 6, 8, 10, 5, 14, 13]

In [69]:
random.seed(40)
random.shuffle(lst)
lst

[2, 12, 8, 5, 7, 19, 15, 13, 3, 18, 1, 9, 16, 4, 11, 0, 17, 10, 14, 6]

choice() to randomly choose item from a list

In [71]:
fruit = ["Apple", "Grapes", "Banana", "Melon","Strawberry"]

In [72]:
random.choice(fruit)

'Melon'

In [73]:
random.choice(fruit)

'Apple'

Sample() - Randomly choose sample of elements without replacement (without duplicates)

In [75]:
nums_range = range(101)

In [76]:
random.sample(nums_range, 10) # 10 samples from the range

[22, 77, 40, 14, 32, 41, 18, 100, 65, 87]

In [77]:
nums = [i for i in nums_range]

In [78]:
random.sample(nums, 10)

[66, 12, 52, 6, 40, 93, 96, 42, 29, 94]

Sampling with replacement (i.e. duplicates)

In [80]:
[random.choice(range(100)) for _ in range(10)]

[26, 62, 55, 66, 8, 21, 74, 26, 77, 74]

## Regular Expressions (regex)

A regular expression is a sequence of symbols and characters expressing a string or pattern to be searched for within a longer piece of text. They provide a way of searching text. They are incredibly useful but also complicated.

Python has a regular expression module (re) to carry them out

In [81]:
import re

match() - does the regular expression match with the text?

In [89]:
not not re.match("Hello", "Jello")

False

In [91]:
not not re.match(".ello", "Jello")

True

In [92]:
not not re.match("[a-zA-Z]ello", "Jello")

True

search() - does the expression exist in the string?

In [95]:
not not re.search("a", "Apple Pie")

False

In [96]:
not not re.search("A", "Apple Pie")

True

In [98]:
not not re.search("[Pp]ie", "Apple Pie")

True

split() - split text on expression

In [100]:
re.split('l', "Hello World")

['He', '', 'o Wor', 'd']

In [102]:
re.split('[Ss]', "Sunny skys are nice")

['', 'unny ', 'ky', ' are nice']

In [103]:
re.split(' ', "Wonderful day outside")

['Wonderful', 'day', 'outside']

sub() - replace string with text based on expression

In [105]:
re.sub("[0-9i]", "W", "There are 2 kids playing in the park")

'There are W kWds playWng Wn the park'

## Classes

Classes are a convienient way to encapsulate similar data and the functions that operate on them.

Variables part of a class is called a member variable. Every declaration of a class object are give them

A method or member function is a fuction associated with a class

In [20]:
class Person:
    def __init__(self, name, age):
        """
        All classes have a function called __init__(), which is always executed when the class is being initiated.
        Similar to a class constructor in other languages
        
        Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created

        """
        # Member variables declared in constructor
        self.name = name
        self.age = age
        
    def __repr__(self):
        """this is the string representation of a person object
        called when typed at the Python prompt or pass it to str()"""
        return "Person Info: " + self.name + " " + str(self.age)
     
    def greeting(self):
        """
        Class Method
        
        Prints class member self.name
        """
        print("Hello my name is " + self.name)
    
    def changeAge(self, newAge):
        """
        Reassign age member
        """
        self.age = newAge

In [21]:
p1 = Person("John", 36)

In [11]:
p1.name

'John'

In [12]:
p1.age

36

In [13]:
p1.greeting()

Hello my name is John

In [18]:
print(p1) # __repr__

Person Info: John 36

In [19]:
p1

Person Info: John 36

In [25]:
p1.changeAge(38)
p1.age

38

A more complicated class example: Recreating a set using a dictionary behind the scenes.

In [34]:

class Set:
    def __init__(self, values=None):
        """
        Constructor with two declaration options
        
        With or without values provided
        """
        self.dict = {} # Dict used to track membership
        
        # if a list of values is provided upon object creation
        # add() member function
        if values is not None:
            for value in values:
                self.add(value)
    def __repr__(self):
        """Print Key values of dictionary"""
        if not self.dict:
            return "Empty"
        else:
            return "Set: " + str(list(self.dict.keys()))

    def add(self, value):
        """Membership of dictionary key represented with True value"""
        self.dict[value] = True
        
    def contains(self, value):
        """Check if a key is in the dictionary
        """
        return value in self.dict
    
    def remove(self, value):
        """Remove key and value from dictionary"""
        del self.dict[value]

In [32]:
s1 = Set()
s1

Empty

In [35]:
s2 = Set([12, 13, 56, 12, 4])
s2

Set: [12, 13, 56, 4]

In [36]:
s2.contains(5)

False

In [37]:
s2.remove(12)
s2

Set: [13, 56, 4]

## Partial Functions

Partial functions simplify partially applying (currying) functions to create new one

For example, if we want a function to multiply two numbers:

In [38]:
def mult(x, y):
    return x * y

We can use this function to create another function to double numbers

In [40]:
def double(x):
    return mult(x, 2)

In [41]:
double(5)

10

A different approach to use partial() in the functools module

In [43]:
from functools import partial

In [46]:
pDouble = partial(mult, 2) # x in mult() is given a 2 constantly

In [45]:
pDouble(5)

10

In [48]:
def exp(base, exponent):
    return base ** exponent

In [49]:
exp(2, 3)

8

In [52]:
two_as_base = partial(exp, 2) # base assigned 2

two_as_base(3)

8

In [55]:
power_three = partial(exp, exponent=3) # Later Arguments must be specified

power_three(2)

8

## map()

Maps values to a function

In [56]:
lst = [1,2,3,4,5,6]
lst

[1, 2, 3, 4, 5, 6]

In [62]:
list(map(power_three, lst))

[1, 8, 27, 64, 125, 216]

In [73]:
# In list omprehensions, map() is similar to
[power_three(i) for i in lst]

[1, 8, 27, 64, 125, 216]

In [65]:
p_power_map = partial(map, power_three)

list(p_power_map(lst))

[1, 8, 27, 64, 125, 216]

In [72]:
#provide multiple arguments tfor functions that take multiple arguments
#recall the mult() function from above
list(map(mult, [5, 10], [4,6])) # 5 * 4 and 10 * 6

[20, 60]

## filter()

Filters list based on a function that returns a provided condition

In [82]:
def div_by_three(x):
    return x % 3 == 0

list(filter(div_by_three, lst))

[3, 6]

In [85]:
par_div_by_three = partial(filter, div_by_three)

list(par_div_by_three(lst))

[3, 6]

In [93]:
# List Comprehension equivalence
[i for i in lst if i % 3 == 0]

[3, 6]

## reduce()

Reduce applies a rolling computation to sequential pairs of values in a list based on the function provided.

For example:

In [86]:
from functools import reduce

In [87]:
# in this case, 1 * 2 = 2 * 3 = 6 * 4 = 24 * 5 = 120 * 6 = 720 
reduce(mult, lst)

720

In [91]:
# Similar to
product = 1
for i in lst:
    product *= i
    
product

720

In [94]:
par_reduce = partial(reduce, mult)

par_reduce(lst)

720

## Enumerate

enumerate() has the capability to iterate over a list and use both the elements and their indices.

In [96]:
lst = ['a', 'e', 'i', 'o', 'u']
lst

['a', 'e', 'i', 'o', 'u']

In [97]:
for i, ele in enumerate(lst):
    print(i, ele)

0 a
1 e
2 i
3 o
4 u

In [98]:
# Good practice if we just want indices
for i, _ in enumerate(lst): print(i)

0
1
2
3
4

In [100]:
# Enumerate is similar to
for i in range(len(lst)):
    ele = lst[i]
    print(i, ele)

0 a
1 e
2 i
3 o
4 u

## zip()

zip() transforms multiple lists into a single list of tuples of corresponding elements:

In [101]:
lst_vowel = ['a', 'e', 'i', 'o', 'u']
lst_num = [1,2,3,4,5]

lst_vowel, lst_num

(['a', 'e', 'i', 'o', 'u'], [1, 2, 3, 4, 5])

In [103]:
list(zip(lst_vowel, lst_num))

[('a', 1), ('e', 2), ('i', 3), ('o', 4), ('u', 5)]

In [104]:
# For lists of unequal length, it ends after the last element of the shortest list

lst_letter = ['a','b','c']

list(zip(lst_letter, lst_num))

[('a', 1), ('b', 2), ('c', 3)]

In [108]:
 ## Argument Unpacking - splitting a list of tuples into lists. Add an asterist (*) to the zip
zipped = [('a', 1), ('e', 2), ('i', 3), ('o', 4), ('u', 5)]  
vowels, nums = zip(*zipped)

vowels, nums

(('a', 'e', 'i', 'o', 'u'), (1, 2, 3, 4, 5))

In [110]:
list(zip(('a', 1), ('e', 2), ('i', 3), ('o', 4), ('u', 5)))

[('a', 'e', 'i', 'o', 'u'), (1, 2, 3, 4, 5)]

In [111]:
mult(*[8,10])

80

## args and kwargs

Allows functions to have an arbitrary number of arguments and/or keyword arguments

args is a tuple of its unnamed arguments
kwargs is a dict of its named arguments

In [113]:
def arbit(*args, **kwargs):
    print ("unnamed args:", args)
    print ("keyword args:", kwargs)

In [115]:
arbit("Hello", "World", key=1, key2=2)

unnamed args: ('Hello', 'World')
keyword args: {'key': 1, 'key2': 2}

In [118]:
#using a list (or tuple) and dict to supply arguments to a function:
def oppo_arbit(x, y, z):
    return x + y + z
x_y_list = [1, 2]
z_dict = { "z" : 3 }

print(oppo_arbit(*x_y_list, **z_dict))

6

In [121]:
full_lst = [1, 2, 3]

print(oppo_arbit(*full_lst))

6

In [123]:
full_dict = {'x': 1, 'y':2, 'z':3}

print(oppo_arbit(**full_dict))

6

## Higher Order Functions

In [131]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

def sqr(x):
    return x ** 2

g = doubler(sqr)

g(5)

50

In [138]:
def doubler_2(f):
    """works no matter what kind of inputs f expects"""
    def g(*args, **kwargs):
        """whatever arguments g is supplied, pass them through to f"""
        return 2 * f(*args, **kwargs)
    return g
g2 = doubler_2(sqr)
print (g(2))

8

## Web Parsing

BeautifulSoup library - builds a tree out of the various elements on a web page and provides a simple interface for accessing them

requests library - nicer way of making HTTP requests than anything that’s built into Python.

html5lib - better HTML parser

In [27]:
from bs4 import BeautifulSoup
import requests

In [28]:
html = requests.get("https://en.wikipedia.org/wiki/Main_Page").text
soup = BeautifulSoup(html, 'html5lib')

In [33]:
soup.p # first paragraph from site

<p><b><a href="/wiki/June_24" title="June 24">June 24</a></b>
</p>

In [30]:
soup.find('a') # first instance of element

In [39]:
soup.find('p').find('p')

In [34]:
soup.p.text

'June 24\n'

In [35]:
soup.p.text.split()

['June', '24']

In [36]:
soup.p['id']       # raises KeyError if no 'id'

KeyError: 'id'

In [37]:
print(soup.p.get('id'))  # returns None if no 'id'

None

In [38]:
# multiple tags at once:
soup.find_all('p')  # or just soup('p')

[<p><b><a href="/wiki/June_24" title="June 24">June 24</a></b>
 </p>,
 <p><b><a href="/wiki/Jean-Baptiste_de_Boyer,_Marquis_d%27Argens" title="Jean-Baptiste de Boyer, Marquis d'Argens">Jean-Baptiste de Boyer, Marquis d'Argens</a></b> (b. 1704) <b>·</b>  <b><a href="/wiki/Carolyn_S._Shoemaker" title="Carolyn S. Shoemaker">Carolyn S. Shoemaker</a></b> (b. 1929) <b>·</b>  <b><a href="/wiki/Rodrigo_(musician)" title="Rodrigo (musician)">Rodrigo</a></b> (d. 2000)
 </p>,
 <p>There were <b><a href="/wiki/List_of_Padma_Bhushan_award_recipients_(1980%E2%80%931989)" title="List of Padma Bhushan award recipients (1980–1989)">133 recipients of the Padma Bhushan from 1980 to 1989</a></b>. The <a href="/wiki/Padma_Bhushan" title="Padma Bhushan">Padma Bhushan</a> is the third-highest <a href="/wiki/Orders,_decorations,_and_medals_of_India" title="Orders, decorations, and medals of India">civilian award</a> of the <a href="/wiki/India" title="India">Republic of India</a>. Instituted on 2 January 1954, the award is given for "distinguished service of a high order", without distinction of race, occupation, position or sex. The recipients receive a <i>Sanad</i>, a certificate signed by the <a href="/wiki/President_of_India" title="President of India">President of India</a> and a circular-shaped medallion with no monetary association. Only one award was conferred in 1980, which was later followed by nine in 1981, fifteen in 1982, seventeen in both 1983 and 1984, twenty-one in 1985, fourteen in 1986, twelve in 1987, thirteen in 1988 and fourteen in 1989. The Padma Bhushan was also conferred upon ten foreign recipients in the 1980s – four from the United Kingdom, three from the United States and one each from Denmark, France and Japan. Individuals from nine different fields were awarded, which include twenty-eight from literature and education <i>(1983 recipient <a href="/wiki/K._G._Ramanathan" title="K. G. Ramanathan">K. G. Ramanathan</a> pictured)</i>, twenty-five from the civil services and twenty-three artists. (<b><a href="/wiki/List_of_Padma_Bhushan_award_recipients_(1980%E2%80%931989)" title="List of Padma Bhushan award recipients (1980–1989)">Full list...</a></b>)
 </p>,
 <p>The <b><a href="/wiki/Polar_bear" title="Polar bear">polar bear</a></b> (<i>Ursus maritimus</i>) is a <a href="/wiki/Hypercarnivore" title="Hypercarnivore">hypercarnivorous</a> bear whose native range lies largely within the <a href="/wiki/Arctic_Circle" title="Arctic Circle">Arctic Circle</a>, encompassing the Arctic Ocean, its surrounding seas and surrounding land masses. A boar (adult male) weighs around 350–750 kilograms (770–1,650 lb), while a sow (adult female) is about half that size. Polar bears are the largest land carnivores currently in existence, rivalled only by the omnivorous <a href="/wiki/Kodiak_bear" title="Kodiak bear">Kodiak bear</a>. Although it is the <a href="/wiki/Sister_group" title="Sister group">sister species</a> of the <a href="/wiki/Brown_bear" title="Brown bear">brown bear</a>, it has evolved to occupy a narrower <a href="/wiki/Ecological_niche" title="Ecological niche">ecological niche</a>, with many body characteristics adapted for cold temperatures, for moving across snow, ice and open water, as well as for hunting <a href="/wiki/Pinniped" title="Pinniped">seals</a>, which make up most of its diet. Although most polar bears are born on land, they spend most of their time on <a href="/wiki/Sea_ice" title="Sea ice">sea ice</a>. The species's scientific name, which is derived from this fact, means 'maritime bear'. Because of their dependence on sea ice, polar bears are categorized as <a href="/wiki/Marine_mammal" title="Marine mammal">marine mammals</a>. Due to expected <a href="/wiki/Habitat_destruction" title="Habitat destruction">habitat loss</a> caused by <a href="/wiki/Global_warming" title="Global warming">global warming</a>, the polar bear is classified as a <a href="/wiki/Vulnerable_species" title="Vulnerable species">vulnerable species</a>. For decades, large-scale hunting raised international concern for the future of the species, but populations have rebounded after controls and quotas began to take effect.
 </p>,
 <p>This picture shows a polar bear on an <a href="/wiki/Ice_floe" title="Ice floe">ice floe</a> north of <a href="/wiki/Svalbard" title="Svalbard">Svalbard</a>, Norway, feeding on a <a href="/wiki/Bearded_seal" title="Bearded seal">bearded seal</a>.
 </p>,
 <p><small>Photograph credit: <a class="extiw" href="https://commons.wikimedia.org/wiki/User:AWeith" title="commons:User:AWeith">Andreas Weith</a></small></p>,
 <p>Wikipedia is hosted by the <a href="/wiki/Wikimedia_Foundation" title="Wikimedia Foundation">Wikimedia Foundation</a>, a non-profit organization that also hosts a range of other <a class="extiw" href="https://wikimediafoundation.org/our-work/wikimedia-projects/" title="foundationsite:our-work/wikimedia-projects/">projects</a>:
 </p>,
 <p>This Wikipedia is written in <a href="/wiki/English_language" title="English language">English</a>. Started in 2001<span style="display:none"> (<span class="bday dtstart published updated">2001</span>)</span>, it currently contains <a href="/wiki/Special:Statistics" title="Special:Statistics">5,878,559</a> articles.
 Many other Wikipedias are available; some of the largest are listed below.
 </p>]

In [40]:
soup.find_all('p')[2]

<p>There were <b><a href="/wiki/List_of_Padma_Bhushan_award_recipients_(1980%E2%80%931989)" title="List of Padma Bhushan award recipients (1980–1989)">133 recipients of the Padma Bhushan from 1980 to 1989</a></b>. The <a href="/wiki/Padma_Bhushan" title="Padma Bhushan">Padma Bhushan</a> is the third-highest <a href="/wiki/Orders,_decorations,_and_medals_of_India" title="Orders, decorations, and medals of India">civilian award</a> of the <a href="/wiki/India" title="India">Republic of India</a>. Instituted on 2 January 1954, the award is given for "distinguished service of a high order", without distinction of race, occupation, position or sex. The recipients receive a <i>Sanad</i>, a certificate signed by the <a href="/wiki/President_of_India" title="President of India">President of India</a> and a circular-shaped medallion with no monetary association. Only one award was conferred in 1980, which was later followed by nine in 1981, fifteen in 1982, seventeen in both 1983 and 1984, twenty-one in 1985, fourteen in 1986, twelve in 1987, thirteen in 1988 and fourteen in 1989. The Padma Bhushan was also conferred upon ten foreign recipients in the 1980s – four from the United Kingdom, three from the United States and one each from Denmark, France and Japan. Individuals from nine different fields were awarded, which include twenty-eight from literature and education <i>(1983 recipient <a href="/wiki/K._G._Ramanathan" title="K. G. Ramanathan">K. G. Ramanathan</a> pictured)</i>, twenty-five from the civil services and twenty-three artists. (<b><a href="/wiki/List_of_Padma_Bhushan_award_recipients_(1980%E2%80%931989)" title="List of Padma Bhushan award recipients (1980–1989)">Full list...</a></b>)
</p>

In [23]:
[p for p in soup('p') if p.get('id')] # all indicated elements with id's

[]

In [26]:
# tags with a specific class:
soup('p', {'class' : 'important'})

[]

In [16]:
soup('p', 'important')

[]

In [17]:
[p for p in soup('p') if 'important' in p.get('class', [])]

[]

In [44]:
#  will return the same span multiple times if it sits inside multiple divs
[p for span in soup('span')     # for each <span> on the page
    for p in span('p')]   # find each <p> inside it

[]

In [45]:
soup.find("div", "top").a.text # a tag inside a div with the class name top

AttributeError: 'NoneType' object has no attribute 'a'

Beautiful Soup can be used to parse XMLthe same way

****Example

## JSON

Parsing JSON objects

In [48]:
import json
serialized = """{ "name" : "John",
                  "title" : "My Foods",
                  "publicationYear" : 2001,
                  "keyWords" : [ "pizza", "apple", "hot cake"] }"""
# parse the JSON to create a Python dict
deserialized = json.loads(serialized)
if "hot cake" in deserialized["keyWords"]:
    print(deserialized)

{'name': 'John', 'title': 'My Foods', 'publicationYear': 2001, 'keyWords': ['pizza', 'apple', 'hot cake']}